{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Public barrier changes{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Changes needed' %}

    <form action="" method="POST">
        {% csrf_token %}

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Title</dt>
                <dd class="govuk-summary-list__value">
                    {% if has_data %}
                        {% if public_barrier.title != barrier.title %}
                            <span>Internal title has changed</span>
                        {% endif %}
                        {{ barrier.title }}
                    {% else %}
                        <a class="govuk-link" href="{% url 'barriers:edit_public_barrier_title' barrier.id %}">Add</a>
                    {% endif %}
                </dd>
                {% if has_data %}
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{% url 'barriers:edit_public_barrier_title' barrier.id %}">Change</a>
                </dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Summary</dt>
                <dd class="govuk-summary-list__value">
                    {% if has_data %}
                        {% if public_barrier.summary != barrier.summary %}
                            <span>Internal summary has changed</span>
                        {% endif %}
                        {{ barrier.summary }}
                    {% else %}
                        <a class="govuk-link" href="{% url 'barriers:edit_public_barrier_summary' barrier.id %}">Add</a>
                    {% endif %}
                </dd>
                {% if has_data %}
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{% url 'barriers:edit_public_barrier_summary' barrier.id %}">Change</a>
                </dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Status</dt>
                <dd class="govuk-summary-list__value">
                    {% if public_barrier.status != barrier.status %}
                        <span class="diff__del">{{ public_barrier.status.name }}</span>
                        <span class="diff__ins">{{ barrier.status.name }}</span>
                    {% else %}
                        {{ barrier.status.name }}
                    {% endif %}
                </dd>
                {% if has_data %}<dd class="govuk-summary-list__actions"></dd>{% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Country</dt>
                <dd class="govuk-summary-list__value">
                    {% if public_barrier.country != barrier.country %}
                        <span class="diff__del">{{ public_barrier.country.name }}</span>
                        <span class="diff__ins">{{ barrier.country.name }}</span>
                    {% else %}
                        {{ barrier.country.name }}
                    {% endif %}
                </dd>
                {% if has_data %}<dd class="govuk-summary-list__actions"></dd>{% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Sector</dt>
                <dd class="govuk-summary-list__value">
                    {% if public_barrier.country != barrier.country %}
                        <span class="diff__del">{{ public_barrier.sector_names|join:", " }}</span>
                        <span class="diff__ins">{{ barrier.sector_names|join:", " }}</span>
                    {% else %}
                        {{ barrier.sector_names|join:", " }}
                    {% endif %}
                </dd>
                {% if has_data %}<dd class="govuk-summary-list__actions"></dd>{% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Category</dt>
                <dd class="govuk-summary-list__value">
                    {% if public_barrier.country != barrier.country %}
                        <span class="diff__del">{{ public_barrier.category_titles|join:", " }}</span>
                        <span class="diff__ins">{{ barrier.category_titles|join:", " }}</span>
                    {% else %}
                        {{ barrier.category_titles|join:", " }}
                    {% endif %}
                </dd>
                {% if has_data %}<dd class="govuk-summary-list__actions"></dd>{% endif %}
            </div>
        </dl>

        {% if not is_ready %}
            <button class="govuk-button{% if not has_data %} govuk-button--disabled{% endif %}"{% if not has_data %} disabled="disabled" aria-disabled="true"{% endif %}>Mark as ready</button>
        {% else %}
            {% include 'partials/forms/boolean_checkbox.html' with field=form.not_sensitive %}
            <button class="govuk-button">Publish</button>
        {% endif %}
        <a class="form-cancel" href="{% url 'barriers:public_barrier' barrier.id %}">Cancel</a>
    </form>

{% endblock %}
