{% extends "barriers/edit/base.html" %}

{% load activity %}

{% block page_title %}{{ block.super }} - Public barrier{% endblock %}

{% block body_script %}
    <script>
        if( ma.components.DeleteModal ){
            new ma.components.DeleteModal();
        }
    </script>
{% endblock %}

{% block outside_content %}
    {% if delete_note %}
        <div class="modal">
            <div class="modal__content" role="alertdialog" tabindex="1" aria-describedby="modal-label">
                <h3 class="modal__content__title" id="modal-label">Delete note</h3>
                <p>Are you sure you want to delete this note?</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="note_id" value="{{ delete_note }}" />
                    <button name="action" value="delete-note" class="govuk-button" tabindex="2">Yes, delete</button>
                    <a href="{% url 'barriers:public_barrier' barrier.id %}" class="govuk-button button--secondary js-modal-cancel" tabindex="3">No, cancel</a>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block page_content %}

    {% include 'barriers/partials/barrier_tabs.html' with active='public' %}

    <section class="summary-group">
        <h2 class="summary-group__heading">
            {{ barrier.public_eligibility_summary }}
            Public view: {{ public_barrier.public_status_text }}
            {% if public_barrier.ready_text %}<span class="summary-group__subheading">{{ public_barrier.ready_text }}</span>{% endif %}
        </h2>

        {% if public_barrier.first_published_on %}
            <div class="publish-dates">
                {% if public_barrier.last_published_on == public_barrier.first_published_on %}
                    <p class="publish-dates__date">Published on {{ public_barrier.last_published_on|date:"j F Y" }} at {{ public_barrier.last_published_on|time:"g:iA"|lower }} (GMT)</p>
                {% else %}
                    <p class="publish-dates__date publish-dates__date--first">First published on {{ public_barrier.first_published_on|date:"j F Y" }} at {{ public_barrier.first_published_on|time:"g:iA"|lower }} (GMT)</p>
                    {% if not public_barrier.unpublished_on %}
                        <p class="publish-dates__date">Last published on {{ public_barrier.last_published_on|date:"j F Y" }} at {{ public_barrier.last_published_on|time:"g:iA"|lower }} (GMT)</p>
                    {% endif %}
                {% endif %}
                {% if public_barrier.unpublished_on %}
                    <p class="publish-dates__date">Unpublished on {{ public_barrier.unpublished_on|date:"j F Y" }} at {{ public_barrier.unpublished_on|time:"g:iA"|lower }} (GMT)</p>
                {% endif %}
            </div>
        {% endif %}

        {% if 0 %}
            {% include "partials/warning.html" with warning_text="The public barrier needs updating" modifier="small" extra_classes="publish-update-warning" %}
        {% endif %}

        {% if current_user|has_permission:"change_barrier_public_eligibility" and not current_user|has_permission:"change_publicbarrier" %}
            <a href="{% url 'barriers:edit_publish_eligibility' barrier.id %}" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-3 govuk-!-margin-top-5">Change public view status</a>
        {% endif %}

        <dl class="summary-group__list">
            <dt class="summary-group__list__key">Public title</dt>
            <dd class="summary-group__list__value">
                {% if public_barrier.internal_title_changed %}
                    {% include "partials/warning.html" with warning_text="Internal title has changed" modifier="small" extra_classes="govuk-!-margin-bottom-0" %}
                {% endif %}
                {% if public_barrier.title %}
                    {{ public_barrier.title }}
                    {% if current_user|has_permission:"change_publicbarrier" %}
                        <a class="summary-group__list__value__edit" href="{% url 'barriers:edit_public_barrier_title' barrier.id %}">Edit</a>
                    {% endif %}
                {% else %}
                    {% if current_user|has_permission:"change_publicbarrier" %}
                        <a class="summary-group__list__value__edit" href="{% url 'barriers:edit_public_barrier_title' barrier.id %}">Add public title</a>
                    {% else %}
                        {% include "partials/warning.html" with warning_text="Public title has not been created" modifier="small" extra_classes="govuk-!-margin-bottom-0 govuk-!-margin-top-2" %}
                    {% endif %}
                {% endif %}

            </dd>

            <dt class="summary-group__list__key">Public summary</dt>
            <dd class="summary-group__list__value">
                {% if public_barrier.internal_summary_changed %}
                    {% include "partials/warning.html" with warning_text="Internal summary has changed" modifier="small" extra_classes="govuk-!-margin-bottom-0" %}
                {% endif %}
                {% if public_barrier.summary %}
                    {{ public_barrier.summary }}
                    {% if current_user|has_permission:"change_publicbarrier" %}
                        <a class="summary-group__list__value__edit" href="{% url 'barriers:edit_public_barrier_summary' barrier.id %}">Edit</a>
                    {% endif %}
                {% else %}
                    {% if current_user|has_permission:"change_publicbarrier" %}
                        <a class="summary-group__list__value__edit" href="{% url 'barriers:edit_public_barrier_summary' barrier.id %}">Add public summary</a>
                    {% else %}
                        {% include "partials/warning.html" with warning_text="Public summary has not been created" modifier="small" extra_classes="govuk-!-margin-bottom-0 govuk-!-margin-top-2" %}
                    {% endif %}
                {% endif %}
            </dd>

            <dt class="summary-group__list__key">Status</dt>
            <dd class="summary-group__list__value">
                {{ public_barrier.status.name }}
            </dd>

            <dt class="summary-group__list__key">Country</dt>
            <dd class="summary-group__list__value">
                {% if public_barrier.country != barrier.country %}
                    <span class="diff__del">{{ public_barrier.country.name }}</span>
                    <span class="diff__ins">{{ barrier.country.name }}</span>
                {% else %}
                    {{ public_barrier.country.name }}
                {% endif %}
            </dd>

            <dt class="summary-group__list__key">Sector</dt>
            <dd class="summary-group__list__value">
                {% if public_barrier.sector_names != barrier.sector_names %}
                    <span class="diff__del">{{ public_barrier.sector_names|join:", " }}</span>
                    <span class="diff__ins">{{ barrier.sector_names|join:", " }}</span>
                {% else %}
                    {{ barrier.sector_names|join:", " }}
                {% endif %}
            </dd>

            <dt class="summary-group__list__key">Category</dt>
            <dd class="summary-group__list__value">
                {% if public_barrier.categories != barrier.category_titles %}
                    <span class="diff__del">{{ public_barrier.categories|join:", " }}</span>
                    <span class="diff__ins">{{ barrier.category_titles|join:", " }}</span>
                {% else %}
                    {{ public_barrier.categories|join:", " }}
                {% endif %}
            </dd>
        </dl>

        <form action="" method="post">
            {% csrf_token %}

            {% if public_barrier.is_eligible and current_user|has_permission:"mark_barrier_as_ready_for_publishing" %}
                {% if public_barrier.title and public_barrier.summary %}
                    {% if True %}
                        <button class="govuk-button publishing-button" data-module="govuk-button" name="action" value="mark-as-ready">Mark changes as ready to publish</button>
                        <button class="govuk-button publishing-button govuk-button--secondary" data-module="govuk-button" name="action" value="ignore-changes">Ignore changes</button>
                    {% else %}
                        <button class="govuk-button publishing-button" data-module="govuk-button" name="action" value="mark-as-ready">Mark as ready to publish</button>
                    {% endif %}
                {% else %}
                    <button disabled="disabled" aria-disabled="true" class="govuk-button publishing-button disabled" data-module="govuk-button" name="action" value="mark-as-ready">Mark as ready to publish</button>
                {% endif %}
            {% endif %}

            {% if public_barrier.is_ready or public_barrier.is_unpublished %}
                {% if current_user|has_permission:"publish_barrier" %}
                    <button class="govuk-button publishing-button" data-module="govuk-button" name="action" value="publish">Publish{% if False %} update{% endif %}</button>
                {% endif %}
                {% if current_user|has_permission:"mark_barrier_as_ready_for_publishing" %}
                    <button class="govuk-button publishing-button govuk-button--secondary" data-module="govuk-button" name="action" value="mark-as-in-progress">Mark as in progress</button>
                {% endif %}
            {% endif %}

            {% if public_barrier.is_published and current_user|has_permission:"publish_barrier" %}
                <button class="govuk-button publishing-button" data-module="govuk-button govuk-button--secondary" name="action" value="unpublish">Unpublish</button>
            {% endif %}
        </form>

        {% if not public_barrier.is_published and current_user|has_permission:"change_publicbarrier" %}
            <a href="{% url 'barriers:edit_publish_eligibility' barrier.id %}" class="govuk-button govuk-button--secondary">Change public view status</a>
        {% endif %}
    </section>

    <section class="barrier-content">
        <h2 class="section-heading">Issues and updates</h2>

        {% if add_note %}
            <div class="interaction-panel">
                {% include 'barriers/partials/note_form_no_documents.html' %}
            </div>
        {% elif not edit_note %}
            <a class="govuk-button button--primary" href="?add-note=1">Add new remark</a>
        {% endif %}

        <ol class="event-list js-delete-modal-container">
            {% for item in activity_items %}
                <li class="event-list__item{% if item.modifier %} event_list__item--{{ item.modifier }}{% endif %}{% if item.date > barrier.last_seen_on %} event-list__item--unseen{% endif %}">
                    {% activity_item item %}
                </li>
            {% endfor %}
        </ol>
    </section>

{% endblock %}
