{% load highlight_mentions %}
<h4 class="event-list__item__heading">{{ item.date|date:"j F Y" }}<span class="event-list__item__heading__recede"> at {{ item.date | time }} (GMT)</span>
    {% if item.user.name %}
        <span class="event-list__item__heading__recede"> by </span>{{ item.user.name }}
    {% endif %}
</h4>
{% if form.note_id == item.id %}
    {% include 'barriers/partials/note_form.html' %}
{% else %}
    <p class="event-list__item__text">{{ item.text|escape|linebreaksbr|urlize|safe|highlight_mentions:current_user.email  }}</p>
{% endif %}
