{% if from_group_classes %}
<div id="{{ field.name }}" class="govuk-form-group {{ form_group_classes }}">
{% else %}
<div id="{{ field.name }}" class="govuk-form-group filter-group">
{% endif %}
    <fieldset class="govuk-fieldset filter-group__inner">
        <legend class="govuk-fieldset__legend filter-items__label filter-group__label">
            {{ field.label }}
        </legend>

        <div class="checkbox-filter govuk-!-width-full{% if extra_classes %} {{ extra_classes }}{% endif %}">
            {% for value, text in field.field.choices %}
                <div class="checkbox-filter__item">
                    <input class="checkbox-filter__input{% if field_classes %} {{ field_classes }}{% endif %}"
                           id="{{ field.name }}-{{ forloop.counter }}"
                           name="{{ field.name }}"
                           type="checkbox"
                           value="{{ value }}" {% if value|lower in field.value %}checked="checked"{% endif %}>

                    <label class="govuk-label checkbox-filter__label" for="{{ field.name }}-{{ forloop.counter }}">
                      {{ text|safe }}
                    </label>

                    <!-- Section to display resolved date input, only displayed when loading the barrier status block-->
                    {% if text == "Resolved: In full" %}
                        <div id="resolved_date_filter" hidden>
                            {% include "partials/forms/resolved_date_filter.html" with field_month=form.resolved_date_from_month field_year=form.resolved_date_from_year %}
                            {% include "partials/forms/resolved_date_filter.html" with field_month=form.resolved_date_to_month field_year=form.resolved_date_to_year %}
                        </div>
                        <script>
                            //status-4 is the checkbox for status "Resolved: In full"
                            const checkbox = document.getElementById('status-4')
                            let date_filter = document.getElementById('resolved_date_filter');
                            checkbox.addEventListener('change', (event) => {
                              if (event.currentTarget.checked) {
                                date_filter.removeAttribute("hidden");
                              } else {
                                date_filter.setAttribute("hidden", true);
                                //will have to clear the boxes somehow here too
                              }
                            })
                        </script>
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    </fieldset>
</div>
