<div id="resolved_date_input" class="resolved_date__input">
    <fieldset class="govuk-fieldset filter-group__inner resolved_date__indent">
        <legend class="govuk-fieldset__legend--s resolved_date__label resolved_date__inner_vertical_gap">
            {{ field.label }}
            <span class="govuk-hint-small">{{ field.help_text }}</span>
        </legend>

        <div class="govuk-date-input" id="resolved_date_filter">
            {% for widget in field.subwidgets %}
                {{ widget }}
            {% endfor %}
        </div>
    </fieldset>
</div>
