<div id="{{ field.name }}" class="{% form_group_classes field.errors %}">
    <label class="govuk-label govuk-label--s" for="{{ field.name }}">{{ field.label }}</label>

    {% if field.help_text %}
    <span class="govuk-hint">{{ field.help_text }}</span>
    {% endif %}

    {% form_field_error field %}

    <input class="govuk-input{% if field_classes %} {{ field_classes }}{% endif %}" id="{{ field.name }}" name="{{ field.name }}" type="text" value="{% if field.value %}{{ field.value }}{% endif %}">
</div>
