<div class="js-vue-typeahead">
    <div id="{{ field.name }}" class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-label govuk-label--s">
                {{ field.label }}
            </legend>

            <div class="checkbox-filter{% if extra_classes %} {{ extra_classes }}{% endif %}">
                {% for value, text in field.field.choices %}
                    <div class="checkbox-filter__item">
                        <input class="checkbox-filter__input" id="{{ field.name }}-{{ forloop.counter }}" name="{{ field.name }}" type="checkbox" value="{{ value }}" {% if value in field.value %}checked="checked"{% endif %}>

                        <label class="govuk-label checkbox-filter__label" for="{{ field.name }}-{{ forloop.counter }}">
                          {{ text }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>

    <typeahead
        name="{{ field.name }}"
        label="{{ field.label }}"
        placeholder="{{ placeholder }}"
        classes="typeahead {% if classes %}{{ classes }}{% else %}govuk-form-group{% endif %}"
        label_classes={% if label_classes %}{{ label_classes }}{% else %}govuk-label--s{% endif %}
        {% if field_classes %}
        field_classes={{ field_classes }}
        {% endif %}
    >
    </typeahead>
</div>
