{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Stakeholders{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:action_plan_stakeholders_list' barrier_id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

  {% include 'partials/heading.html' with text='Stakeholders' %}

  {% form_error_banner form %}

  <form method="post" action="." novalidate>
    {% csrf_token %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div id="{{ form.name.name }}" class="govuk-form-group{% if form.name.errors %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>

            {% form_field_error form "name" %}
            <input type="text" name="{{ form.name.name }}" class="govuk-input" maxlength="{{ form.name.max_length }}" id="{{ form.name.id_for_label }}"{% if form.initial.name %} value="{{ form.initial.name }}"{% endif %}>
        </div>
      </div>
    </div>
    {% if form.job_title %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div id="{{ form.job_title.name }}" class="govuk-form-group{% if form.job_title.errors %} govuk-form-group--error{% endif %}">
              <label class="govuk-label govuk-label--s" for="{{ form.job_title.id_for_label }}">{{ form.job_title.label }}</label>

              {% form_field_error form "job_title" %}
              <input type="text" name="{{ form.job_title.name }}" class="govuk-input" maxlength="{{ form.job_title.max_length }}" id="{{ form.job_title.id_for_label }}"{% if form.initial.job_title %} value="{{ form.initial.job_title }}"{% endif %}>
          </div>
        </div>
      </div>
    {% endif %}
    {% if form.organisation %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div id="{{ form.organisation.name }}" class="govuk-form-group{% if form.organisation.errors %} govuk-form-group--error{% endif %}">
              <label class="govuk-label govuk-label--s" for="{{ form.organisation.id_for_label }}">{{ form.organisation.label }}</label>

              {% form_field_error form "organisation" %}
              <input type="text" name="{{ form.organisation.name }}" class="govuk-input" maxlength="{{ form.organisation.max_length }}" id="{{ form.organisation.id_for_label }}"{% if form.initial.organisation %} value="{{ form.initial.organisation }}"{% endif %}>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "partials/forms/radio_button_group.html" with radio_group=form.status %}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" type="submit">Confirm</button>
          {% if allow_deletion %}
            <button class="govuk-button govuk-button--secondary" type="submit" name="cancel">Cancel</button>
          {% else %}
            <a class="govuk-button govuk-button--secondary" href="{% url 'barriers:action_plan_stakeholders_list' barrier_id %}">Cancel</a>
          {% endif %}
        </div>
      </div>
    </div>
  </form>
{% endblock page_content %}
