$govuk-font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
$govuk-font-family-tabular: Arial,'Helvetica Neue',Helvetica,sans-serif;

@import 'vendor/vue-multiselect.min';
@import 'vendor/datahub-header';

@import 'govuk-frontend/settings/all';
@import 'govuk-frontend/helpers/all';
@import 'govuk-frontend/tools/all';
@import 'govuk-frontend/core/typography';
@import 'govuk-frontend/core/links';
@import 'govuk-frontend/core/template';
@import 'govuk-frontend/core/lists';
@import 'govuk-frontend/objects/width-container';
@import 'govuk-frontend/objects/form-group';
@import 'govuk-frontend/objects/grid';
@import 'govuk-frontend/overrides/typography';
@import 'govuk-frontend/overrides/spacing';
@import 'govuk-frontend/overrides/width';

@import 'govuk-frontend/components/skip-link/skip-link';
@import 'govuk-frontend/components/phase-banner/phase-banner';
@import 'govuk-frontend/components/header/header';
@import 'govuk-frontend/components/footer/footer';
@import 'govuk-frontend/components/button/button';
@import 'govuk-frontend/components/tag/tag';
@import 'govuk-frontend/components/error-message/error-message';
@import 'govuk-frontend/components/fieldset/fieldset';
@import 'govuk-frontend/components/label/label';
@import 'govuk-frontend/components/hint/hint';
@import 'govuk-frontend/components/radios/radios';
@import 'govuk-frontend/components/checkboxes/checkboxes';
@import 'govuk-frontend/components/input/input';
@import 'govuk-frontend/components/select/select';
@import 'govuk-frontend/components/warning-text/warning-text';
@import 'govuk-frontend/components/inset-text/inset-text';
@import 'govuk-frontend/components/textarea/textarea';
@import 'govuk-frontend/components/back-link/back-link';
@import 'govuk-frontend/components/error-summary/error-summary';
@import 'govuk-frontend/components/error-message/error-message';
@import 'govuk-frontend/components/panel/panel';
@import 'govuk-frontend/components/date-input/date-input';
@import 'govuk-frontend/components/file-upload/file-upload';
@import 'govuk-frontend/components/character-count/character-count';
@import 'govuk-frontend/components/details/details';
@import 'govuk-frontend/components/summary-list/summary-list';

@import 'govuk-custom/components/details/details';
@import 'govuk-custom/components/warning-text/warning-text';

@import 'app-settings/colours';

@import 'layout';
@import 'error';

@import 'app-objects/headings';
@import 'app-objects/number-marker';
@import 'app-objects/buttons';
@import 'app-objects/barrier-status-badge';
@import 'app-objects/barrier-status-table-badge';
@import 'app-objects/file-upload';
@import 'app-objects/overflow-wrapper';
@import 'app-objects/priority-marker';
@import 'app-objects/filter-group';
@import 'app-objects/attachments';
@import 'app-objects/info-panel';
@import 'app-objects/inline-definition-list';
@import 'app-objects/circle-icon';
@import 'app-objects/static-form-group';
@import 'app-objects/document-list';
@import 'app-objects/tags';

@import 'app-components/card-list';
@import 'app-components/badges';
@import 'app-components/dash-button';
@import 'app-components/dash-card';
@import 'app-components/task-list';
@import 'app-components/details-list';
@import 'app-components/search-form';
@import 'app-components/table-standard';
@import 'app-components/callout';
@import 'app-components/tabs';
@import 'app-components/warning-icon';
@import 'app-components/barrier-summary';
@import 'app-components/side-nav';
@import 'app-components/summary-group';
@import 'app-components/event-list';
@import 'app-components/checkmark';
@import 'app-components/selection-list';
@import 'app-components/search-card';
@import 'app-components/toast';
@import 'app-components/checkbox-filter';
@import 'app-components/typeahead';
@import 'app-components/collapsible';
@import 'app-components/toggle-box';
@import 'app-components/modal';
@import 'app-components/toggle-links';
@import 'app-components/pagination';
@import 'app-components/env-banner';
@import 'app-components/archived-banner';
@import 'app-components/saved-searches';


@import 'pages/index';
@import 'pages/what-is-a-barrier';
@import 'pages/report/detail';
@import 'pages/report/sectors';
@import 'pages/barrier/detail';
@import 'pages/barrier/type';
@import 'pages/barrier/team';
@import 'pages/barrier/assessment';
@import 'pages/barrier/history';
@import 'pages/search';

body:not(.js-enabled) {
	.js-only {
		display: none;
	}
}

.error-message {
	@include govuk-font( 24 );
	border: 4px solid $govuk-red;
	padding: govuk-em( 30, 24 );
	background-color: $govuk-red-5;
}

.muted {
	color: $govuk-grey-1;
}

.message-panel {
	border: 3px solid $govuk-grey-3;
	padding: govuk-em( 30, 16 );
}

.no-results-box {
	background-color: $govuk-grey-4;
	border: 2px dashed $govuk-grey-3;
	@include govuk-font( 19 );
	padding: govuk-em( 20, 19 );
	text-align: center;
	padding-top: 0;
	margin-top: govuk-em( 30, 19 );
}

.conditional-content {

	padding-left: govuk-em( 15, 16 );

	> .govuk-form-group {
		border-left: 5px solid $govuk-grey-2;
		padding-left: govuk-em( 15, 16 );
	}

	.govuk-form-group--error {
		border-color: $govuk-red;
	}
}

.page-tabs-container {
	position: relative;
}

.page-tabs-add-watch-list {

	position: absolute;
	bottom: govuk-em( 15, 16 );
	right: 0;
	text-decoration: none;

	&:link {
		text-decoration: none;
	}
}

.restrict-width {
	max-width: govuk-em( 680, 16 );
}

.paragraph-width {
	max-width: govuk-em( 600, 16 );
}

.results-count {
	@include govuk-font( $size: 19 );
	border-bottom: 5px solid $govuk-black;
	padding-bottom: govuk-em( 5, 19 );
}

.results-count__number {
	@include govuk-font( $size: 36, $weight: bold );
}

.highlight {
	background-color: $govuk-yellow-25;
	outline: 1px solid $govuk-yellow-25;
	border-top: 2px solid $govuk-yellow-25;
	border-bottom: 2px solid $govuk-yellow-25;
}

.form-cancel {
	line-height: 2.5;
	margin-left: govuk-em( 10, 16 );
}

.barrier-section-intro {
	margin-bottom: govuk-em( 30, 16 );
}

