// Utility classes for adding spacing without
// having to create new classes for each element.

.m-2 {
    margin: 0.5rem;
}

.m-l-2 {
    margin-left: 0.5rem;
}

.m-b-6 {
    margin-bottom: 2rem;
}

.m-b-8 {
    margin-bottom: 3rem;
}

.m-4 {
    margin: 1.5rem;
}

.m-l-4 {
    margin-left: 1.5rem;
}

.m-l-6 {
    margin-left: 2rem;
}

.m-l-10 {
    margin-left: 4rem;
}

.p-l-2 {
    padding-left: 0.5rem;
}

.p-l-3 {
    padding-left: 1rem;
}

.p-4 {
    padding: 1.5rem;
}

.p-l-4 {
    padding-left: 1.5rem;
}

.p-t-4 {
    padding-top: 1.5rem;
}

.p-r-4 {
    padding-right: 1.5rem;
}

.p-l-6 {
    padding-left: 2rem;
}

.p-r-6 {
    padding-right: 2rem;
}

.p-t-6 {
    padding-top: 2rem;
}