// Utility classes for adding spacing without
// having to create new classes for each element.

.m-2 {
    margin: 0.5rem;
}

.m-l-2 {
    margin-left: 0.5rem;
}

.m-4 {
    margin: 1.5rem;
}

.m-l-4 {
    margin-left: 1.5rem;
}

.m-l-6 {
    margin-left: 2rem;
}

.p-l-6 {
    padding-left: 2rem;
}

.p-t-6 {
    padding-top: 2rem;
}
