
.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.inline-block{
    display: inline-block;
}

.flex-column{
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.gap-2{
    gap: 5px;
}

.mt-2{
    margin-top: 5px;
}

.mb-2{
    margin-bottom: 5px;
}

.m-2{
    margin: 5px;
}

.m0{
    margin: 0px;
}

.p-2{
    padding: 6px;
}

.p-3{
    padding: 10px;
}

.p-4{
    padding: 14px;
}

.grid{
    display: grid;
}

.grid-cols-1{
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.text-right{
    text-align: right;
}

.float-right{
    float: right;
}

.overflow-hidden{
    overflow: hidden;
}

.inline-block{
    display: inline-block;
}

.max-w-70{
    max-width: 70%;
}

.indented-box{
    border-left: 6px solid #b1b4b6;
    margin-bottom: 10px;
}
.border-left-pad{
    border-left: 6px solid #b1b4b6;
    padding-left: 10px;
}

.text-dark{
    color: #0B0C0C;
}

.text-m{
    font-size: 19px;
}
.text-sm{
    font-size: 16px;
}
.text-xs{
    font-size: 14px;
}
.grey {
    background-color: $govuk-light-grey;
}
