.report-barrier-questions {

    &__section {
        max-width: 960px;
        margin-bottom: 50px;

        h2 {
            margin: 10px 0px 16px;
        }

    }


    &__question {
        display: flex;
        box-shadow: inset 0px -1px 0px #B1B4B6;
        padding: 10px 0px 8px;
        gap: 10px;

        .question-label {
            flex-basis: 250px;
            margin: 0px;
        }

        .answer {
            flex: 1;
            min-width: 100px;
            overflow-wrap: break-word;
        }
    }
}
