.report-barrier-questions {

    &__section {
        max-width: 960px;
        margin-bottom: 50px;

        h2 {
            margin: 10px 0px 16px;
        }

    }

    &__question {
        display: grid;
        grid-template-columns: 40% 40% auto;
        gap: 10px;
        padding: 10px 0px 8px;
        box-shadow: inset 0px -1px 0px #B1B4B6;

        @media (max-width: 400px ){
            display: flex;
            flex-direction: column;
        }

    }

}
