version: '3.7'

services:
  web:
    build:
      context: .
      dockerfile: docker/local/Dockerfile
    entrypoint: docker/local/entrypoint.sh
    # Running the main service of the container
    # would be useful
    command: ./manage.py runserver_plus 0:9000 --nopin
    volumes:
      - .:/usr/src/app
    env_file: docker-compose.env
    ports:
      - "9880:9000"
      - "9882:22"
    networks:
      - market-access-api_webnet

networks:
  market-access-api_webnet:
    external: true
