[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyopenssl = "~=19.1.0"
werkzeug = "~=1.0.0"
black = "~=19.10b0"
mock = "~=4.0.1"
pytest = "~=5.3.5"
pytest-cov = "~=2.8.1"
splinter = "~=0.13.0"
flake8 = "~=3.7.9"
pytest-django = "~=3.8.0"
pytest-xdist = "~=1.31.0"
ipython = "~=7.12.0"

[packages]
django = "==2.2.10"
dj-database-url = "==0.5.0"
django-extensions = "==2.2.8"
python-dateutil = "==2.8.1"
python-magic = "==0.4.15"
redis = "==3.4.1"
requests = "==2.22.0"
sentry-sdk = "==0.14.1"
whitenoise = "==5.0.1"
django-settings-export = "==1.2.1"
mohawk = "==1.1.0"
django-sass-processor = "==0.8"
django-libsass = "==0.8"
psycopg2-binary = "==2.8.4"
gunicorn = "==20.0.4"
gevent = "==1.5a3"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
