{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Publish summary{% endblock %}

{% block body_script %}
    <script>
        if( ma.components.CharacterCount ){
            new ma.components.CharacterCount( '.govuk-character-count' );
        }
    </script>
{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        {% include "partials/forms/textarea.html" with field=form.summary label_classes="govuk-label--l" character_count=True %}

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Internal summary for reference
                </span>
            </summary>
            <div class="govuk-details__text">
                {{ barrier.summary|escape|linebreaksbr }}
            </div>
        </details>

        <input type="submit" value="Save" class="govuk-button">
        <a href="{% url 'barriers:publish_barrier' object.id %}" class="form-cancel">Cancel</a>
    </form>

{% endblock %}
