<footer class="govuk-footer govuk-footer--ma" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__navigation">
      <div class="govuk-footer__section">
        <h2 class="govuk-footer__heading govuk-heading-m">Market access barriers</h2>
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item"><a class="govuk-footer__link" href="{% url 'barriers:dashboard' %}">Dashboard</a></li>
          <li class="govuk-footer__list-item"><a class="govuk-footer__link" href="{% url 'reports:new_report' %}">Add a barrier</a></li>
          <li class="govuk-footer__list-item"><a class="govuk-footer__link" href="{% url 'barriers:find_a_barrier' %}">Find a barrier</a></li>
          <li class="govuk-footer__list-item"><a class="govuk-footer__link" href="{% url 'barriers:what_is_a_barrier' %}">What is a barrier?</a></li>
        </ul>
      </div>
    </div>

    <hr class="govuk-footer__section-break">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
      </div>
    </div>
  </div>
</footer>
