<footer class="govuk-footer govuk-footer--ma" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__navigation">
      <div class="govuk-footer__section">
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item"><a class="govuk-footer__link" href="{% url 'core:accessibility' %}">Accessibility statement</a></li>
        </ul>
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item"><a class="govuk-footer__link" href="https://data-services-help.trade.gov.uk/market-access/about-barriers-and-market-access/digital-market-access-service-dmas-privacy-notice/">Privacy notice</a></li>
        </ul>
      </div>
    </div>

    <hr class="govuk-footer__section-break">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
      </div>
    </div>
  </div>
</footer>
