<header class="datahub-header js-datahub-header{% if fluid is False %} datahub-header--max-width{% endif %}" role="banner" data-module="header">
    <div class="datahub-header__logo-container">
        <div class="datahub-header__logo">
            <span class="datahub-header__logo__site-name">Department for International Trade</span>
            {% if user.has_crm_permission %}
                <a href="{{ settings.DATAHUB_DOMAIN }}" class="datahub-header__logo__link">
                    <span class="datahub-header__logo__text">Data Hub</span>
                </a>
            {% else %}
                <span class="datahub-header__logo__text">Data Hub</span>
            {% endif %}
            <strong class="datahub-header__logo__tag">beta</strong>
        </div>
        <ul id="logo-navigation" class="datahub-header__links" aria-label="Header links">
            <li class="datahub-header__links__item">
                <a class="datahub-header__links__item__text" href="{{ settings.DATAHUB_DOMAIN }}/support">Support</a>
            </li>
            <li class="datahub-header__links__item">
                {% if user.has_crm_permission %}
                    <a class="datahub-header__links__item__text" href="{{ settings.DATAHUB_DOMAIN }}/profile">{{ user.username }}</a>
                {% else %}
                    <span class="datahub-header__links__item__text">{{ user.username }}</span>
                {% endif %}
            </li>
            <li class="datahub-header__links__item visually-hidden">
                <a class="datahub-header__links__item__text" href="{% url 'users:sign-out' %}">Sign out</a>
            </li>
        </ul>
    </div>
    <button role="button" class="datahub-header__menu-button js-datahub-header-toggle" aria-controls="navigation sub-navigation logo-navigation" aria-label="Show or hide navigation">Menu</button>
    <div class="datahub-header__navigation-container">
        <nav class="datahub-header__navigation-wrapper" aria-labelledby="navigation">
            <ul id="navigation" class="datahub-header__navigation" aria-label="Top Level Navigation">
            {% for item in apps %}
                <li class="datahub-header__navigation__item">
                    <a class="datahub-header__navigation__item__link{% if item.activeKey == 'market-access' %} datahub-header__navigation__item__link--active{% endif %}" href="{{ item.href }}">
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </nav>

        <nav class="datahub-header__navigation-wrapper datahub-header__navigation-wrapper--sub" aria-labelledby="sub-navigation">
            <ul id="sub-navigation" class="datahub-header__navigation" aria-label="Second Level Navigation">
                <li class="datahub-header__navigation__item">
                    <a class="datahub-header__navigation__item__link{% if page == 'dashboard' %} datahub-header__navigation__item__link--active{% endif %}" href="{% url 'barriers:dashboard' %}">Dashboard</a>
                </li>
                <li class="datahub-header__navigation__item">
                    <a class="datahub-header__navigation__item__link{% if page == 'add-a-barrier' %} datahub-header__navigation__item__link--active{% endif %}" href="{% url 'reports:new_report' %}">Report a barrier</a>
                </li>
                <li class="datahub-header__navigation__item">
                    <a class="datahub-header__navigation__item__link{% if page == 'search' %} datahub-header__navigation__item__link--active{% endif %}" href="{% url 'barriers:search' %}">Search</a>
                </li>
                <li class="datahub-header__navigation__item">
                    <a class="datahub-header__navigation__item__link" href="https://data-services-help.trade.gov.uk/market-access/">Help centre</a>
                </li>

                {% if "change_user" in user_permissions %}
                    <li class="datahub-header__navigation__item">
                        <a class="datahub-header__navigation__item__link{% if page == 'manage-users' %} datahub-header__navigation__item__link--active{% endif %}" href="{% url 'users:manage_users' %}">Administer users</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
