<details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is OFFICIAL-SENSITIVE information?
        </span>
    </summary>
    <div class="govuk-details__text">
        <p>The OFFICIAL classification is used for most Government business and public service delivery. OFFICIAL-SENSITIVE applies where loss or disclosure would:</p>
        <ul class="govuk-details__list">
            <li>have damaging consequences for DIT and the government</li>
            <li>cause significant distress for an individual or group of people, such as sensitive personal information</li>
        </ul>

        <p>OFFICIAL-SENSITIVE includes:</p>
        <ul class="govuk-details__list">
            <li>sensitive or damaging contractual issues</li>
            <li>sensitive diplomatic business or international trade negotiations</li>
            <li>sensitive personal information, such as grievance cases</li>
            <li>sensitive corporate information such as organisational restructuring, negotiations and major security or business continuity issues</li>
            <li>information relating to sensitive trade negotiations</li>
            <li>corporate information relating to contract negotiations and tender exercises</li>
            <li>company accounts</li>
            <li>procurement relating specifically to the security of DIT</li>
            <li>policy development and advice to ministers on contentious or sensitive issues</li>
        </ul>

        <h4 class="govuk-details__heading">Further information</h4>
        <p>If you can access Digital Workspace please visit <a href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/information-classification-and-handling">Information classification and data handling</a>.</p>
    </div>
</details>
