{% if pagination.total_pages > 1 %}
    <nav class="pagination" aria-label="pagination: total {{ total_pages }} pages">
        {% if pagination.previous %}
            <a href="?{{ pagination.previous }}" class="pagination__label pagination__label--prev">Previous</a>
        {% endif %}

        <ul class="pagination__list">
            {% for page in pagination.pages %}
                <li class="pagination__list-item">
                    {% if page.url %}
                        <a href="?{{ page.url }}" class="pagination__label{% if page.label == pagination.current_page %} is-current{% endif %}">
                            {{ page.label }}
                        </a>
                    {% else %}
                        <span class="pagination__label pagination__label--truncation">
                            {{ page.label }}
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if pagination.next %}
            <a href="?{{ pagination.next }}" class="pagination__label pagination__label--next">Next</a>
        {% endif %}
    </nav>
{% endif %}
