{% if pagination.total_pages > 1 %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <nav class="moj-pagination" aria-label="pagination: total {{ pagination.total_pages }} pages">
                <ol class="moj-pagination__list">
                    {% if pagination.previous %}
                        <li class="moj-pagination__item  moj-pagination__item--prev">
                            <a href="?{{ pagination.previous }}" data-enhance="pagination-link" class="moj-pagination__link">Previous<span class="govuk-visually-hidden"> page</span></a>
                        </li>
                    {% endif %}
                    {% for page in pagination.pages %}
                        <li class="moj-pagination__item">
                            {% if pagination.current_page != page.label and page.url %}
                                <a class="moj-pagination__link" data-enhance="pagination-link" href="?{{ page.url }}"  aria-label="Page {{ page.label }} of {{ pagination.total_pages }}">
                                    {{ page.label }}
                                </a>
                            {% elif page.url %}
                                <span class="moj-pagination__item--active" aria-current="page"  aria-label="Page {{ page.label }} of {{ pagination.total_pages }}">
                                    {{ page.label }}
                                </span>
                            {% else %}
                                <span class="moj-pagination__item" aria-current="page"  aria-label="Page {{ page.label }} of {{ pagination.total_pages }}">
                                    {{ page.label }}
                                </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                    {% if pagination.next %}
                        <li class="moj-pagination__item  moj-pagination__item--next">
                            <a href="?{{ pagination.next }}" data-enhance="pagination-link" class="moj-pagination__link">Next<span class="govuk-visually-hidden"> page</span></a>
                        </li>
                    {% endif %}
                </ol>
                <p class="moj-pagination__results">Showing <b>{{ pagination.start_position }}</b> to <b>{{ pagination.end_position }}</b> of <b>{{ pagination.total_items }}</b> results</p>
            </nav>
        </div>
    </div>
{% endif  %}
