<div class="js-vue-typeahead">
    <div id="{{ field.name }}" class="govuk-form-group filter-items-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend filter-items__label">
                {{ field.label }}
            </legend>

            <div class="checkbox-filter govuk-!-width-full{% if extra_classes %} {{ extra_classes }}{% endif %}">
                {% for value, text in field.field.choices %}
                    <div class="checkbox-filter__item">
                        <input class="checkbox-filter__input" id="{{ field.name }}-{{ forloop.counter }}" name="{{ field.name }}" type="checkbox" value="{{ value }}" {% if value in field.value %}checked="checked"{% endif %}>

                        <label class="govuk-label checkbox-filter__label" for="{{ field.name }}-{{ forloop.counter }}">
                          {{ text }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>

    <typeahead
        name="{{ field.name }}"
        label="{{ field.label }}"
        placeholder="{{ placeholder }}"
        classes="typeahead filter-items-group"
    >
    </typeahead>
</div>
