{% extends 'base.html' %}

{% block page_title %}{% if form.errors %}Error: {% endif %}{{ block.super }} - Barrier team - Add a member{% endblock %}

{% block body_script %}
    {{ block.super }}
    <script>
        ma.pages.barrier.team( {
            toggleLinks: {
                text: 'Update the barrier',
                linkClass: 'js-barrier-summary-link'
            }
        } );
    </script>
{% endblock %}

{% block masthead %}
    <div class="ma-masthead">
        {% include 'barriers/barrier_summary.html' %}
    </div>
{% endblock %}

{% block page_content %}

    {% include 'barriers/barrier_tabs.html' with active='team' %}

    {% include 'barriers/partials/team_list.html' %}

    {% if form.errors %}
        <span class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {{ form.errors }}
        </span>
    {% endif %}

    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                Team member
            </legend>

            <div class="static-form-group">
                <span class="static-form-group__label">Name</span>
                <span class="static-form-group__value">{{ user.first_name }} {{ user.last_name }}</span>
            </div>

            {{ form.user }}

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="role">
                Role
              </label>
              <input class="govuk-input" id="role" name="role" type="text" required>
            </div>
        </fieldset>

        <input type="submit" value="Save" class="govuk-button">
        <a href="{% url 'barriers:team' barrier.id %}" class="govuk-button button--secondary">Cancel</a>
    </form>

{% endblock %}
