{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Barrier team - Change owner{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:team' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Change owner' %}

    {% form_error_banner form %}

    <div class="restrict-width team-member__change-owner">

        <h3 class="modal__content__title" id="modal-label">Current owner</h3>

        <dl class="details-list">
            <div class="details-list__group">
                <dt class="details-list__key">Name</dt>
                <dd class="details-list__value">{{ owner.user.full_name }}</dd>
            </div>
        </dl>

        {% url 'barriers:team' barrier.id as team_url %}
        {% include "users/partials/user_search_form.html" with query_label="Find a user to add as the new owner" cancel_url=team_url %}
        {% include "users/partials/user_search_results.html" %}

    </div>

{% endblock %}
