{% extends 'base.html' %}

{% load highlight %}

{% block page_title %}{{ block.super }} - Barrier team - Find user{% endblock %}

{% block page_content %}

    <a href="{% url 'barriers:team' barrier.id %}" class="govuk-back-link">Back</a>
    {% include 'partials/heading.html' with caption=barrier.barrier_title text='Name of user' %}
    {% form_error_banner form %}

    <div class="restrict-width">

        <form action="" method="POST" role="search" class="search-form">
            {% csrf_token %}

            <div id="{{ form.query.name }}" class="govuk-form-group">
                <label class="govuk-label govuk-!-font-size-19 govuk-!-font-weight-bold" for="user">
                    Find a user
                </label>

                <span id="user-hint" class="govuk-hint">
                </span>

                {% form_field_error form "query" %}

                <div class="search-form__input-group">
                    <input
                        class="govuk-input search-form__input{% if form.query.error %} govuk-input--error{% endif %}"
                        id="user"
                        name="query"
                        type="text"
                        value="{% if form.query.value %}{{ form.query.value }}{% endif %}"
                        placeholder="Search for user"
                        {% if not form.query.value and not form.query.error %}autofocus{% endif %}
                        aria-describedby="user-hint">
                    <button type="submit" class="search-form__button govuk-button">Search</button>
                </div>
            </div>
        </form>

        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}

        {% if results %}
            <h2 class="results-count">
                <span class="results-count__number">{{ results|length }}</span>
                users match <span class="highlight">{{ form.query.value }}</span>
            </h2>

            <ul class="search-card-list">
                {% for user in results %}
                    <li class="search-card">
                        <a href="{% url 'barriers:add_team_member' barrier.id %}?user={{ user.user_id }}#role" class="search-card__link">
                            <h3 class="search-card__heading">{{ user.first_name|highlight:form.query.value }} {{ user.last_name|highlight:form.query.value }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <a href="{% url 'barriers:team' barrier.id %}" class="govuk-button button--secondary">Cancel</a>

{% endblock %}
