{% extends "barriers/edit/base.html" %}
{% load govuk_forms %}

{% block page_title %}{{ block.super }} - Barrier category{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Barrier category' %}
    {% form_error_banner form %}

    <h3 class="report-sectors-heading">Save or add another category</h3>

    <div class="selection-list restrict-width">
        <h3 class="selection-list__heading">Selected categories</h3>
            {% if categories %}
                <ul class="selection-list__list">
                    {% for item in categories %}
                        <li class="selection-list__list__item">
                            <span class="selection-list__list__item__number" data-number="{{ forloop.counter }}"></span>{{ item.title }}

                            <form action="{% url 'barriers:remove_category' barrier.id %}" class="selection-list__list__item__remove-form" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="category_id" value="{{ item.id }}">
                                {% action_remove_list_item forloop.counter item.title %}
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        <a href="{% url 'barriers:add_category' barrier.id %}" class="govuk-button button--secondary selection-list__add-button">Add another category</a>
    </div>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Save and return" class="govuk-button">
    </form>
{% endblock %}
