{% extends "barriers/edit/base.html" %}

{% load activity %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block page_title %}{{ block.super }} - Public barrier{% endblock %}

{% block masthead %}
    <div class="ma-masthead">
        {% include 'barriers/partials/barrier_summary.html' %}
    </div>
    {% include 'barriers/partials/tags.html' %}
{% endblock %}

{% block head %}
    {% render_bundle 'main' 'js' 'REACT' %}
    <script nonce="{{request.csp_nonce}}">
        document.addEventListener("DOMContentLoaded", function (event) {
            ReactApp.renderTextAreaWithMentions("note-textarea-container")
        })
    </script>
{% endblock %}

{% block body_script %}
    <script nonce="{{request.csp_nonce}}">
        if( ma.components.DeleteModal ){
            new ma.components.DeleteModal();
        }
    </script>
{% endblock %}

{% block outside_content %}
    {% if delete_note %}
        <div class="modal">
            <div class="modal__content" role="alertdialog" tabindex="1" aria-describedby="modal-label">
                <h3 class="modal__content__title" id="modal-label">Delete note</h3>
                <p>Are you sure you want to delete this note?</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="note_id" value="{{ delete_note }}" />
                    <button name="action" value="delete-note" class="govuk-button" tabindex="2">Yes, delete</button>
                    <a href="{% url 'barriers:public_barrier_detail' barrier.id %}" class="govuk-button button--secondary js-modal-cancel" tabindex="3">No, cancel</a>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block page_content %}

    {% include 'barriers/partials/barrier_tabs.html' with active='public' %}

    <!-- Left Content Panel -->
    <section class="summary-group">
        <h2 class="summary-group-public-view__heading">Prepare for publication</h2>

        <!-- Public Eligibility Section -->
        <div name="public-eligibility-box" class="public-view-information-box {% if not barrier.public_eligibility %}public-view-information-box__notset{% endif %}">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Should this barrier be made public on GOV.UK once it has been approved?</h3>
            </div>
            {% if not barrier.public_eligibility %}
                <!-- Public eligibility not set. Show link to set eligibility.-->
                <a href="{% url 'barriers:edit_public_eligibility' barrier.id %}" class="govuk-link--no-visited-state govuk-!-font-size-19">Barrier publication status</a>
            {% else %}
                <!-- Public eligibility set. Show alternate content depending on its value.-->
                {% if barrier.public_eligibility is True %}
                    <!-- Public eligibility set to allowed. Show confirmation of status and link to edit eligibility.-->
                    <p class="govuk-body govuk-!-margin-bottom-2">Yes</p>
                    <a href="{% url 'barriers:edit_public_eligibility' barrier.id %}" class="govuk-link--no-visited-state govuk-!-font-size-19">Edit</a>
                {% else %}
                    <!-- Public eligibility set to not allowed. Show confirmation of status, the given reason and a link to edit eligibility.-->
                    <p class="govuk-body govuk-!-margin-bottom-2">No</p>
                    <p class="govuk-body govuk-!-margin-bottom-2"><span class="govuk-!-font-weight-bold">Reason:</span> {{ barrier.public_eligibility_summary }} </p>
                    <a href="{% url 'barriers:edit_public_eligibility' barrier.id %}" class="govuk-link--no-visited-state govuk-!-font-size-19">Edit</a>
                {% endif %}
            {% endif %}
        </div>

        <!-- Public Title & Summary Section -->
        <div name="public-title-summary-box" class="public-view-information-box {% if not barrier.public_eligibility %}public-view-information-box__notset{% endif %}">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Public title and summary</h3>
            </div>
            {% if not barrier.public_eligibility %}
                <!-- Public eligibility not set. Block title and summary entry. -->
                <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">You cannot add this information until you decide if this barrier should be made public on GOV.UK.</p>
            {% else %}
                <!-- Public eligibility set. Show links to add/edit public title and summary. -->
                {% if not public_barrier.title %}
                    <!-- Public title not set. Show link to public title entry only. -->
                    <p class="govuk-body"><a href="{% url 'barriers:edit_public_barrier_title' barrier.id %}" class="govuk-link--no-visited-state govuk-!-font-size-19">Public title</a></p>
                {% else %}
                    <!-- Public title set. Show current public title and edit link. -->
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Public title</p>
                    <p class="govuk-body govuk-!-margin-bottom-2">{{ public_barrier.title }}</p>
                    {% if public_barrier.public_view_status == 20 %}
                        <!-- Edit button only shown when in Allowed status-->
                        <p class="govuk-body"><a href="{% url 'barriers:edit_public_barrier_title' barrier.id %}" class="govuk-link--no-visited-state govuk-!-font-size-19">Edit</a></p>
                    {% endif %}
                {% endif %}
                {% if not public_barrier.summary %}
                    <!-- Public summary not set. Show link to public summary entry only. -->
                    <p class="govuk-body"><a href="{% url 'barriers:edit_public_barrier_summary' barrier.id %}" class="govuk-link--no-visited-state govuk-!-font-size-19">Public summary</a></p>
                {% else %}
                    <!-- Public summary set. Show current public summary and edit link. -->
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Public summary</p>
                    <p class="govuk-body govuk-!-margin-bottom-2">{{ public_barrier.summary }}</p>
                    {% if public_barrier.public_view_status == 20 %}
                        <!-- Edit button only shown when in Allowed status-->
                        <p class="govuk-body"><a href="{% url 'barriers:edit_public_barrier_summary' barrier.id %}" class="govuk-link--no-visited-state govuk-!-font-size-19">Edit</a></p>
                    {% endif %}
                {% endif %}
                <!-- Button control to move public barrier status -->
                {% if public_barrier.public_view_status == 20 %}
                    {% if public_barrier.title and public_barrier.summary %}
                    <!-- Button to submit for approval only shown when in Allowed status, and has a title and summary set -->
                        <form action="" method="POST">
                            {% csrf_token %}
                            <button name="action" value="submit-for-approval" class="govuk-button" tabindex="2">Submit for approval</button>
                        </form>
                    {% endif %}
                {% elif public_barrier.public_view_status == 70 %}
                    <!-- Button to roll back submission for approval only shown when in Awaiting Approval status-->
                    <form action="" method="POST">
                        {% csrf_token %}
                        <button name="action" value="remove-for-approval" class="govuk-button" tabindex="2">Remove for approval</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>

        <!-- Approvals Section -->
        <div class="public-view-information-box {% if public_barrier.public_view_status == 10 or public_barrier.public_view_status == 20 or not barrier.public_eligibility %} public-view-information-box__notset {% endif %}">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Approvals</h3>
            </div>
            {% if public_barrier.public_view_status == 20 or not barrier.public_eligibility %}
                <!-- Public title and barrier not set. Show reason for blocking approval step. -->
                {% if user_role == "General user" %}
                    <!-- General users cannot request approval message -->
                    <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">You cannot request approval for this barrier until you set a publication status and add a public title and summary.</p>
                {% else %}
                    <!-- Approver/Publisher users cannot approve message -->
                    <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">You cannot review this barrier until a title and summary have been added.</p>
                {% endif %}
            {% elif public_barrier.public_view_status == 30 %}
                <p class="govuk-body">The barrier has been approved by: {{ approver_name }}</p>
                <p class="govuk-body">They have checked it with the following people or organisations:</p>
                <ul class="govuk-lis govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-0">
                    <li class="govuk-body">Market Access Regional Coordinators </li>
                    <li class="govuk-body">BTR Regional Teams </li>
                    {% for item in barrier.government_organisations %}
                        <li class="govuk-body">{{ item.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <!-- Public title and barrier set. Show list of bodies which are being contacted by approver for approval. -->
                {% if user_role == "General user" %}
                    <!-- General users message for section -->
                    <p class="govuk-body">The approver is reviewing this barrier with the following people:</p>
                {% else %}
                    <!-- Approver/Publisher users message for section -->
                    <p class="govuk-body">As the approver of this barrier, you need to confirm you have checked it with the following people or organisations:</p>
                {% endif %}
                <ul class="govuk-lis govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-0">
                    <li class="govuk-body">Market Access Regional Coordinators </li>
                    <li class="govuk-body">BTR Regional Teams </li>
                    {% for item in barrier.government_organisations %}
                        <li class="govuk-body">{{ item.name }}</li>
                    {% endfor %}
                </ul>
                {% if user_role == "General user" %}
                    <!-- General users display approval process message -->
                    <p class="govuk-body">They will then confirm if they are happy for the barrier to made public on GOV.UK.</p>
                {% endif %}
                {% if user_role == "Approver" or user_role == "Publisher" %}
                    <!-- Button to edit list of approver orgs only displays for approvers and publishers-->
                    <p class="govuk-body"><a href="{% url 'barriers:edit_gov_orgs' barrier.id %}" class="govuk-link--no-visited-state govuk-!-font-size-19">Edit approvers</a></p>
                {% endif %}
            {% endif %}
            {% if user_role == "Approver" and public_barrier.public_view_status == 70 or user_role == "Publisher" and public_barrier.public_view_status == 70 %}
                <!-- Button to confirm approval only shown when user is either a approver or publisher and the status is Awaiting Approval -->
                <a href="{% url 'barriers:approve_public_barrier_confirmation' barrier.id %}" class="govuk-button">Approve barrier</a>
            {% endif %}
            {% if user_role == "Approver" and public_barrier.public_view_status == 30 or user_role == "Publisher" and public_barrier.public_view_status == 30 %}
                <!-- Button to confirm approval only shown when user is either a approver or publisher and the status is Awaiting Approval -->
                <form action="" method="POST">
                    {% csrf_token %}
                    <button name="action" value="remove-for-publishing" class="govuk-button govuk-button--secondary" tabindex="2">Revert approval</button>
                </form>
            {% endif %}
        </div>

        <!-- Publishing Section -->
        <div class="public-view-information-box public-view-information-box__notset">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Publishing</h3>
            </div>
            {% if user_role != "Publisher" and public_barrier.public_view_status != 30 %}
                <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">The GOV.UK team will publish the barrier if all the information is complete and it has been approved.</p>
            {% elif user_role != "Publisher" and public_barrier.public_view_status == 30 %}
                <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">The GOV.UK team are reviewing the content for this approved barrier.</p>
                <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">They will update the status to 'published' once it is live. You will then be able to view the barrier by visiting <a href="https://www.check-international-trade-barriers.service.gov.uk/" target="_blank" class="govuk-link--no-visited-state govuk-!-font-size-19">check international trade barriers (opens in new tab)</a></p>
            {% else %}
                <p>Publisher content goes here</p>
            {% endif %}
        </div>

        <!-- Other Barrier Details Section -->
        <div class="public-view-information-box govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
            <details class="govuk-details" data-module="govuk-details" open="">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Other barrier details
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <dl class="summary-group__list">
                        <dt class="summary-group__list__key">Public ID</dt>
                        <dd class="summary-group__list__value">
                            {% if public_barrier.first_published_on %}
                                {{ public_barrier.public_id }}
                            {% else %}
                                A public ID will appear once published.
                            {% endif %}
                        </dd>
                        <dt class="summary-group__list__key">Resolved</dt>
                        <dd class="summary-group__list__value">
                            {{ public_barrier.internal_is_resolved_text }}
                        </dd>
                        <dt class="summary-group__list__key">Date reported</dt>
                        <dd class="summary-group__list__value">
                            {{ public_barrier.reported_on|date:"j F Y" }}
                        </dd>
                        <dt class="summary-group__list__key">Location</dt>
                        <dd class="summary-group__list__value">
                            {{ public_barrier.internal_location }}
                        </dd>
                        <dt class="summary-group__list__key">Sector</dt>
                        <dd class="summary-group__list__value">
                            {% if public_barrier.internal_sector_names %}
                                {{ public_barrier.internal_sector_names|join:", " }}
                            {% else %}
                                Not selected, <a href="{% url 'barriers:barrier_detail' barrier.id %}">add on main barrier tab</a>.
                            {% endif %}
                        </dd>
                        <dt class="summary-group__list__key">Category</dt>
                        <dd class="summary-group__list__value">
                            {% if public_barrier.internal_category_titles %}
                                {{ public_barrier.internal_category_titles|join:", " }}
                            {% else %}
                                Not selected, <a href="{% url 'barriers:barrier_detail' barrier.id %}">add on main barrier tab</a>.
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            </details>
        </div>
    </section>

    <!-- Right Content Panel -->
    <section class="barrier-content">

        <!-- Publication Status Section -->
        <h2 class="section-heading govuk-!-margin-bottom-0">Barrier publication status</h2>
        <div class="public-view-status-box {% if public_barrier.public_status_text == "Published" %} public-view-status-box {% else %} public-view-status-box__inprogress {% endif %}">
            <h2 class="public-view-status-box__heading govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                {% if barrier.public_eligibility is None %}
                    <!-- Public barrier status is Unknown -->
                    Set a publication status
                {% elif barrier.public_eligibility is False %}
                    <!-- Public barrier status is Not Allowed -->
                    This barrier will not be published on GOV.UK
                {% else %}
                    {% if public_barrier.public_view_status == 20 %}
                        <!-- Public barrier status is Allowed -->
                        Add a barrier title and summary
                    {% elif public_barrier.public_view_status == 70 %}
                        <!-- Public barrier status is Awaiting Approval -->
                        This barrier is being reviewed by the approver
                    {% elif public_barrier.public_view_status == 30 %}
                        <!-- Public barrier status is Awaiting Publishing -->
                        The GOV.UK team are reviewing the content
                    {% elif public_barrier.public_view_status == 40 %}
                        <!-- Public barrier status is Published -->
                        This barrier has been published
                    {% endif %}
                {% endif %}
            </h2>
            <p class="govuk-!-margin-0 govuk-!-padding-top-2">
                {% if barrier.public_eligibility is None %}
                    <!-- Public barrier status is Unknown -->
                    Set a status to decide if this barrier can be published, once it has been approved.
                {% elif barrier.public_eligibility is False %}
                    <!-- Public barrier status is Not Allowed -->
                    To make this barrier public, you will need to update the barrier publication status, add a title and summary - and then get it approved.
                {% else %}
                    {% if public_barrier.public_view_status == 20 %}
                        <!-- Public barrier status is Allowed -->
                        You cannot send this barrier for approval until you add the title and summary. This needs to done within the next 30 days.
                    {% elif public_barrier.public_view_status == 70 %}
                        <!-- Public barrier status is Awaiting Approval -->
                        Once it has been approved, the barrier will be sent to the GOV.UK team for final content checks. If this is done within the next 30 days it can be published.
                    {% elif public_barrier.public_view_status == 30 %}
                        <!-- Public barrier status is Awaiting Publishing -->
                        They need to do complete their checks within the next 30 days. They can then publish the barrier and update the status.
                    {% elif public_barrier.public_view_status == 40 %}
                        <!-- Public barrier status is Published -->
                        You can view the barrier on GOV.UK by visiting <a class="govuk-link" href="https://www.check-international-trade-barriers.service.gov.uk/" target="_blank">Check International Trade Barriers (opens in new tab).</a>
                    {% endif %}
                {% endif %}
            </p>
        </div>

        <!-- Public Barrier Notes Section -->
        <h2 class="section-heading govuk-!-margin-bottom-0">Internal notes and updates</h2>
        <span class="govuk-caption-m govuk-!-margin-bottom-6">These are not shown to the public.</span>

        {% if add_note %}
            <div class="interaction-panel">
                {% include 'barriers/partials/public_barrier_note_form.html' %}
            </div>
        {% elif not edit_note %}
            <a class="govuk-button button--primary" href="?add-note=1">Add a note</a>
        {% endif %}

        <ol class="event-list js-delete-modal-container">
            {% for item in activity_items %}
                <li class="event-list__item{% if item.modifier %} event_list__item--{{ item.modifier }}{% endif %}{% if item.date > barrier.last_seen_on %} event-list__item--unseen{% endif %}">
                    {% activity_item item %}
                </li>
            {% endfor %}
        </ol>
    </section>

{% endblock %}
