{% extends "barriers/edit/base.html" %}
{% load render_bundle from webpack_loader %}

{% block page_title %}{{ block.super }} Edit Publish Eligibility {% endblock %}

{% block body_script %}
    {% render_bundle 'main' 'js' 'REACT' %}
    <!-- Import GDS Javascript components -->
    <script nonce="{{request.csp_nonce}}">
        document.addEventListener("DOMContentLoaded", function (event) {
            ReactApp.GDSCheckboxes();
        })
        document.addEventListener("DOMContentLoaded", function (event) {
            ReactApp.GDSRadios();
        })
        if( ma.components.CharacterCount ){
            new ma.components.CharacterCount( '.govuk-character-count' );
        }
    </script>
{% endblock %}

{% block page_content %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Barrier publication
                </h1>
            </legend>

            {% form_error_banner form %}
            <div class="{% form_group_classes form.public_eligibility.errors %}">

                <div class="govuk-radios" data-module="govuk-radios">
                    <label class="govuk-label govuk-label--s" for="{{ form.public_eligibility.id_for_label }}">{{ form.public_eligibility.label }}</label>
                    <span class="govuk-hint">
                        The public title and summary of all market access barriers should be published on the <a class="govuk-link" href="https://www.check-international-trade-barriers.service.gov.uk/" target="_blank">Check International Trade Barriers</a> page, unless there is a valid reason not to do this.
                    </span>
                    <details class="govuk-details govuk-!-margin-bottom-2">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                What are the valid reasons for not publishing a barrier?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">A barrier should not be published if:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>it is defence or security related</li>
                                <li>it only affects imports into the UK</li>
                                <li>it has not yet come into force yet, so will only affect UK exports at a later date</li>
                                <li>any UK companies affected are easy to identify</li>
                                <li>any UK companies affected have told us not to make the barrier public</li>
                                <li>there is a risk of damage to the UK’s relationship with a partner government</li>
                            </ul>
                        </div>
                    </details>
                    <span class="govuk-hint">
                        If you decide to publish this barrier, it will be checked by both a senior member of your team and the GOV.UK content team. For more details see our <a class="govuk-link" href="https://data-services-help.trade.gov.uk/market-access/how-guides/how-prepare-market-access-barrier-report-public-view/" target="_blank">guidance on publishing barriers</a>
                    </span>
                    {% form_field_error form "public_eligibility" %}
                    {% for value, name in form.fields.public_eligibility.choices %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   id="{{ form.public_eligibility.id_for_label }}"
                                   name="public_eligibility"
                                   type="radio"
                                   value="{{ value }}"
                                   data-aria-controls="conditional-public_eligibility-{{value}}"
                                   {% if form.public_eligibility.value == value %} checked="checked"{% endif %}>
                            <span class="govuk-label govuk-radios__label">
                                {{ name }}
                            </span>
                        </div>
                        {% if value == "no" %}
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-public_eligibility-{{value}}">
                                <div id="{{ form.public_eligibility_summary.name }}-form-group"
                                     class="govuk-character-count govuk-!-margin-0"
                                     data-module="character-count"
                                     data-maxlength="500">
                                    <div class="{% form_group_classes form.public_eligibility_summary.errors %}">
                                        <label class="govuk-label govuk-label--s"
                                               for="{{ form.public_eligibility_summary.id_for_label }}">{{ form.public_eligibility_summary.label }}
                                        </label>
                                        {% form_field_error form "public_eligibility_summary" %}
                                        <span id="description-hint" class="govuk-hint">{{ form.summary.help_text }}</span>
                                        {{ form.public_eligibility_summary }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </fieldset>

        <div class="govuk-body govuk-!-margin-top-6">
            <button class="govuk-button ">Confirm</button>
            <a class="form-cancel" href="{% url 'barriers:public_barrier_detail' barrier.id %}">Cancel</a>
        </div>
    </form>

{% endblock %}
