{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Publish summary{% endblock %}

{% block body_script %}
    <script nonce="{{request.csp_nonce}}">
        if( ma.components.CharacterCount ){
            new ma.components.CharacterCount( '.govuk-character-count' );
        }
    </script>
{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:public_barrier_detail' object.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    <form action="" novalidate method="POST" class="restrict-width">
        {% csrf_token %}

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Public summary</h1>
        </legend>

        {% form_error_banner form %}

        <div id="{{ form.summary.name }}-form-group"
             class="govuk-character-count"
             data-module="character-count"
             data-maxlength="1500">
            <div class="{% form_group_classes form.summary.errors %}">
                {% form_field_error form "summary" %}
                <span id="{{ form.summary.name }}_hint" class="govuk-hint">{{ form.summary.help_text }}</span>
                <div class="govuk-body">
                    <a href='https://data-services-help.trade.gov.uk/market-access/how-guides/how-prepare-market-access-barrier-report-public-view/' target='_blank'>Find out how to write a public summary (opens in a new tab)</a>
                </div>
                {{ form.summary }}
                <div id="update_{{ forloop.counter }}-info"
                     class="govuk-hint govuk-character-count__message"
                     aria-live="polite">
                </div>
            </div>
        </div>

        <details class="govuk-details govuk-!-margin-bottom-6">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    View internal title and summary
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                    <strong>Barrier title:</strong> {{ internal_title }}
                </p>
                <p class="govuk-body">
                    <strong>Barrier description:</strong> {{ internal_summary }}
                </p>
            </div>
        </details>

        <input type="submit" value="Save" class="govuk-button">
        <a href="{% url 'barriers:public_barrier_detail' object.id %}" class="form-cancel">Cancel</a>
    </form>

{% endblock %}
