{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} Confirm Public Barrier Approval {% endblock %}

{% block body_script %}
    <script nonce="{{request.csp_nonce}}">
        if( ma.components.CharacterCount ){
            new ma.components.CharacterCount( '.govuk-character-count' );
        }
    </script>
{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:public_barrier_detail' object.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    <form action="" novalidate method="POST" class="restrict-width">
        {% csrf_token %}

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Confirm you want to remove this barrier on GOV.UK</h1>
        </legend>

        <p class="govuk-body">By choosing to remove this barrier, you confirm that you no longer want it to be made public on <a href="https://www.check-international-trade-barriers.service.gov.uk/" target="_blank" class="govuk-link--no-visited-state govuk-!-font-size-19">check international trade barriers (opens in new tab)</a>.</p>

        <div id="{{ form.public_publisher_summary.name }}"
             class="govuk-character-count"
             data-module="character-count"
             data-maxlength="500">
            <div class="{% form_group_classes form.public_publisher_summary.errors %}">
                {% form_field_error form "public_publisher_summary" %}
                <span id="{{ form.public_publisher_summary.name }}_label" class="govuk-label govuk-label--s">{{ form.public_publisher_summary.label }}</span>
                {{ form.public_publisher_summary }}
                <div id="update_{{ forloop.counter }}-info"
                     class="govuk-hint govuk-character-count__message"
                     aria-live="polite">
                </div>
            </div>
        </div>

        <p class="govuk-body">
            {% csrf_token %}
            <input type="submit" value="Confirm" class="govuk-button">
            <a href="{% url 'barriers:public_barrier_detail' object.id %}" class="form-cancel">Cancel</a>
        </p>
    </form>

{% endblock %}
