{% extends "barriers/edit/base.html" %}

{% load static %}

{% block page_title %}{{ block.super }} - Resolvability Assessment{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    <h2 class="govuk-heading-m">Resolvability assessment - {{ assessment.created_on|date:"j F Y" }}</h2>

    <div class="restrict-width">
        <dt class="ma-data-key">Time</dt>
        <dd class="ma-data-value">
            {{ assessment.time_to_resolve.name }}
        </dd>

        <dt class="ma-data-key">Effort</dt>
        <dd class="ma-data-value">
            {{ assessment.effort_to_resolve.name }}
        </dd>

        <dt class="ma-data-key">Assessment explanation</dt>
        <dd class="ma-data-value">
            {{ assessment.explanation|linebreaks }}
        </dd>
        <dt class="ma-data-key">Assessment produced by</dt>
        <dd class="ma-data-value ma-data-value--s">
            {{ assessment.created_by.name }} on {{ assessment.created_on|date:"j F Y" }}
        </dd>
        {% if assessment.approved is not None %}
            <dt class="ma-data-key">Assessment {{ assessment.approved|yesno:"accepted,rejected" }} by</dt>
            <dd class="ma-data-value ma-data-value--s">
                {{ assessment.reviewed_by.name }} on {{ assessment.reviewed_on|date:"j F Y" }}
            </dd>
        {% endif %}

        {% if assessment.archived and assessment.archived_by %}
            <dt class="ma-data-key">Assessment archived by</dt>
            <dd class="ma-data-value ma-data-value--s">
                {{ assessment.archived_by.name }} on {{ assessment.archived_on|date:"j F Y" }}
            </dd>

            {% if assessment.archived_reason %}
                <dt class="ma-data-key">Reason for archiving</dt>
                <dd class="ma-data-value ma-data-value--s">
                    {{ assessment.archived_reason|linebreaks }}
                </dd>
            {% endif %}
        {% endif %}

        <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">Back</a>
    </div>

{% endblock %}
