{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block page_title %}
    {{ block.super }} - Account
{% endblock page_title %}
{% block masthead %}
    {% include "users/partials/account/banner.html" with active=active %}
{% endblock masthead %}
{% block page_content %}
    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">{% include "users/partials/account/my_profile.html" %}
    </section>
    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">{% include "users/partials/account/my_role_and_areas_of_interest.html" %}</div>
    </section>
{% endblock page_content %}
