{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block body_script %}
    <script nonce="{{request.csp_nonce}}">
        ma.components.MultiSelect(id="policy_teams_multiselect");
    </script>
{% endblock %}

{% block page_title %}{{ block.super }} - Account{% endblock %}
{% block masthead %}
    {% include 'users/partials/account/banner.html' with active="my profile" %}
{% endblock %}
{% block page_content %}
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title ">My role and areas of interest</h3>
        </div>
        <div id="policy_teams_multiselect">{% include 'users/partials/account/multi_select.html' with form=form select_text="Select a policy team" add_text="Add team" %}</div>
    </div>
{% endblock %}
