{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block page_title %}{{ block.super }} - Account{% endblock %}
{% block masthead %}
    {% include 'users/partials/account/banner.html' with active="my profile" %}
{% endblock %}
{% block page_content %}
    <div class="govuk-summary-card">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title ">My role and areas of interest</h3>
            </div>
            {% include 'users/partials/account/fieldset.html' with form=form select_text="Select a government department" select_options=form.fields.form.choices %}
            <div class="govuk-summary-card__content">
                <input type="submit" value="Save and return" class="govuk-button">
            </div>
        </form>
    </div>
{% endblock %}
