# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  tests:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.7
      - image: postgres:9.6.16
        environment:
          POSTGRES_DB=market_access_pyfe
      - image: ukti/mock-sso
        environment:
          MOCK_SSO_PORT: "5000"
          MOCK_SSO_USERNAME: test-user
          MOCK_SSO_SCOPE: test

    environment:
      PIPENV_VENV_IN_PROJECT: 'enabled'
      SECRET_KEY: "secretkey"
      DEBUG: True
      ALLOWED_HOSTS: "localhost"
      DJANGO_SETTINGS_MODULE: "config.settings.test"
      DATABASE_URL: "postgresql://postgres@localhost/market_access_pyfe"
      MARKET_ACCESS_API_URI: ""
      MARKET_ACCESS_API_HAWK_ID: "market-access-api-hawk-id"
      MARKET_ACCESS_API_HAWK_KEY: "market-access-api-hawk-key"
      REDIS_URI: ""
      SSO_CLIENT: ""
      SSO_SECRET: ""
      SSO_API_URI: "http://localhost:5000/api/v1/"
      SSO_AUTHORIZE_URI: "http://localhost:5000/o/authorize/"
      SSO_TOKEN_URI: "http://localhost:5000/o/token/"
      SSO_MOCK_CODE: ""
      SSO_API_TOKEN: "token"
      DATAHUB_URL: ""
      DATAHUB_HAWK_ID: ""
      DATAHUB_HAWK_KEY: ""

    working_directory: ~/market-access-python-frontend

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ .Branch }}-{{ checksum "Pipfile.lock" }}

      - run:
          command: sudo pip install pipenv

      - run:
          name: Install dependencies
          command: pipenv sync --dev

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ .Branch }}-{{ checksum "Pipfile.lock" }}

      - run:
          name: run tests
          command: |
            pipenv run pytest tests

      - store_artifacts:
          path: test-reports
          destination: test-reports

  pep8:
    docker:
      - image: circleci/python:3.6.1

    working_directory: ~/market-access-python-frontend

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ .Branch }}-{{ checksum "Pipfile.lock" }}

      - run:
          command: sudo pip install pipenv

      - run:
          name: Install dependencies
          command: pipenv sync --dev

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ .Branch }}-{{ checksum "Pipfile.lock" }}

      - run: pipenv run flake8 . --exclude=venv --count --max-line-length=120

workflows:
  version: 2
  test:
    jobs:
      - tests
      - pep8
