{% extends 'base.html' %}

{% load humanize %}

{% block page_title %}{{ block.super }} - Barrier Assessment{% endblock %}

{% block masthead %}
    <div class="ma-masthead">
        {% include 'barriers/partials/barrier_summary.html' %}
    </div>
    {% include 'barriers/partials/tags.html' %}
{% endblock %}

{% block body_script %}
    {{ block.super }}
    <script>
        if( ma.components.ToggleLinks ){
            new ma.components.ToggleLinks( {
                text: 'Update the barrier',
                linkClass: 'js-barrier-summary-link'
            } );
        }
    </script>
{% endblock %}

{% block page_content %}

    {% include 'barriers/partials/barrier_tabs.html' with active='assessment' %}

    {% if assessment and assessment.explanation and assessment.impact %}
        <div class="assessment-item">
            <h2 class="assessment-item__heading">Economic assessment</h2>

            <h3 class="assessment-item__sub-heading">Impact</h3>
            <span class="barrier-impact-value">
                {{ assessment.impact_text }}
            </span>

            <h3 class="assessment-item__sub-heading">Assessment explanation</h3>
            <p class="assessment-item__value">{{ assessment.explanation|linebreaksbr|safe }}</p>

            {% if assessment.documents %}
                <h3 class="assessment-item__sub-heading">Supporting documents</h3>
                <ul class="document-list document-list--assessment">
                    {% for document in assessment.documents %}
                        <li class="document-list__item">
                        {% if document.status == 'virus_scanned' %}
                            <a href="{% url 'barriers:download_document' document.id %}">{{ document.name }}</a>
                        {% else %}
                            {{ document.name }}
                        {% endif %}
                        - {{ document.size|filesizeformat }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h3 class="assessment-item__sub-heading">Inital assessment made by</h3>
            <p class="assessment-item__value">{{ assessment.created_by.name }}</p>

            <a class="assessment-item__edit" href="{% url 'barriers:economic_assessment' barrier.id %}">Edit</a>
        </div>
    {% else %}
        <div class="assessment-item">
            <h2 class="assessment-item__heading">Economic assessment</h2>
                <div class="assessment-item-content">
                    <a class="assessment-item-content__link" href="{% url 'barriers:new_economic_assessment' barrier.id %}">Add economic assessment</a>
                    <p class="assessment-item-content__hint">The assessed economic importance of resolving this barrier relative to others in the same country.</p>
                    <div class="govuk-inset-text assessment-item-content__restriction">To be completed by the Market Access Analysts</div>
                </div>
        </div>
    {% endif %}

    <div class="assessment-item">
        <h2 class="assessment-item__heading">Value to UK Economy</h2>

        {% if assessment.value_to_economy %}
            <p class="assessment-item__value">&pound; {{ assessment.value_to_economy|intcomma }}</p>
            <a class="assessment-item__edit" href="{% url 'barriers:economy_value_assessment' barrier.id %}">Edit</a>
        {% else %}
            <div class="assessment-item-content">
                <a class="assessment-item-content__link" href="{% url 'barriers:economy_value_assessment' barrier.id %}">Add value to UK economy</a>
                <p class="assessment-item-content__hint">The estimated value of resolving the barrier to the UK economy in GBP per year.</p>
                <div class="govuk-inset-text assessment-item-content__restriction">To be completed by the Market Access Analysts</div>
            </div>
        {% endif %}
    </div>

    <div class="assessment-item">
        <h2 class="assessment-item__heading">Import Market Size</h2>

        {% if assessment.import_market_size %}
            <p class="assessment-item__value">&pound; {{ assessment.import_market_size|intcomma }}</p>
            <a class="assessment-item__edit" href="{% url 'barriers:market_size_assessment' barrier.id %}">Edit</a>
        {% else %}
            <div class="assessment-item-content">
                <a class="assessment-item-content__link" href="{% url 'barriers:market_size_assessment' barrier.id %}">Add import market size</a>
                <p class="assessment-item-content__hint">The size of the import market that this barrier is limiting UK access to in GBP per year.</p>
                <div class="govuk-inset-text assessment-item-content__restriction">To be completed by the Market Access Analysts</div>
            </div>
        {% endif %}
    </div>

    <div class="assessment-item">
        <h2 class="assessment-item__heading">Value of currently affected UK exports</h2>

        {% if assessment.export_value %}
            <p class="assessment-item__value">&pound; {{ assessment.export_value|intcomma }}</p>
            <a class="assessment-item__edit" href="{% url 'barriers:export_value_assessment' barrier.id %}">Edit</a>
        {% else %}
            <div class="assessment-item-content">
                <a class="assessment-item-content__link" href="{% url 'barriers:export_value_assessment' barrier.id %}">Add UK export value</a>
                <p class="assessment-item-content__hint">The value of UK exports to the partner country that are affected by this barrier in GBP per year.</p>
                <div class="govuk-inset-text assessment-item-content__restriction">To be completed by the Market Access Analysts</div>
            </div>
        {% endif %}
    </div>

    <div class="assessment-item">
        <h2 class="assessment-item__heading">Commercial Value</h2>

        {% if assessment.commercial_value %}
            <p class="assessment-item__value">&pound; {{ assessment.commercial_value|intcomma }}</p>
            <p class="assessment-item__value">{{ assessment.commercial_value_explanation }}</p>
            <a class="assessment-item__edit" href="{% url 'barriers:commercial_value_assessment' barrier.id %}">Edit</a>
        {% else %}
            <div class="assessment-item-content">
                <a class="assessment-item-content__link" href="{% url 'barriers:commercial_value_assessment' barrier.id %}">Add commercial value</a>
                <p class="assessment-item-content__hint">The value of the barrier to the affected business(es) in GBP per year.</p>
            </div>
        {% endif %}
    </div>

{% endblock %}
