{% extends 'base.html' %}

{% load static %}

{% block page_title %}{{ block.super }} - Barrier Assessment - Economic assessment{% endblock %}

{% block body_script %}
    {{ block.super }}
    <script>
        ma.pages.barrier.assessment();
    </script>
{% endblock %}

{% block page_content %}

    <a href="{% url 'barriers:cancel_assessment_document' barrier.id %}" class="govuk-back-link">Back</a>
    {% include 'partials/heading.html' with caption=barrier.barrier_title text='Economic assessment' %}
    {% form_error_banner form %}

    <form action="" method="POST" enctype="multipart/form-data" class="restrict-width" data-xhr-upload="{% url 'barriers:add_assessment_document' barrier.id %}">

        {% csrf_token %}

        <div id="{{ form.impact.name }}" class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    What is the economic impact of the barrier?
                </legend>

                {% form_field_error form "impact" %}

                <div class="govuk-radios">
                    {% for value, name in form.fields.impact.choices %}
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="impact-{{ forloop.counter }}" name="impact" type="radio" value="{{ value }}" {% if form.impact.value == value %}checked="checked"{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="impact-{{ forloop.counter }}">{{ name }}</label>
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
        </div>

        <div id="{{ form.description.name }}" class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="description">
                Explain the assessment
            </label>

            {% form_field_error form "description" %}

            <textarea class="govuk-textarea" name="description" rows="5">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
        </div>

        <h3 class="govuk-label--s">Add supporting documents (optional)</h3>

        {% if documents %}
        <div class="attachments">
            <h3 class="attachments__heading">Attached documents</h3>
            <ul class="attachments__list js-documents-list">
                {% for document in documents %}
                    {% if document %}
                        <li class="attachments__list__item">
                            <span class="attachments__list__item__file-name">{{ document.name }} - {{ document.size|filesizeformat }}</span>
                            <a href="{% url 'barriers:delete_assessment_document' barrier.id document.id %}" class="attachments__list__item__delete" data-document-id="{{ document.id }}">Delete</a>
                            <input type="hidden" name="document_ids" value="{{ document.id }}">
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div id="{{ form.document.name }}" class="govuk-form-group file-upload js-form-group">
            <label class="govuk-label visually-hidden" for="document">Attach a document</label>

            {% form_field_error form "document" %}

            <span id="document-hint" class="govuk-hint file-upload__size-limit js-max-file-size">
            (file size limit <strong>{{ form.fields.document.max_upload_size|filesizeformat }}</strong>)
            </span>

            <input class="govuk-file-upload file-upload__input js-file-input" id="document" name="document" type="file" aria-describedby="document-hint">
        </div>

        {% include 'barriers/partials/analyst_warning.html' %}

        <input type="submit" value="Save and exit to barrier" class="govuk-button js-submit-button">
    </form>
{% endblock %}
