{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Barrier Assessment - UK economy value{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Value to UK Economy' %}
    {% form_error_banner form %}

    {% include 'barriers/assessments/partials/value_form.html' %}

{% endblock %}
