

.action_plan{
    // &__milestones{}

    &__milestone{
        border-top: 5px solid #000;
    }

    .govuk-table__cell{
        font-size: 16px;
        line-height: 21px;
        &.timeframe{
            min-width: 100px;
        }
    }

    .stategic-assessment{
        margin: 30px 0px;
    }
    .action-plan-meta{
        margin: 30px 0px;
    }
    .status-and-progress{
        margin: 30px 0px;
    }

}


.action-plan__milestone{
    border-top: 5px solid #000;
}

.action_plan__milestone_header{
    font-size: 24px;
    line-height: 33px;
}

.action-plan__milestone_meta{
    font-size: 19px;
    line-height: 26px;
}

.action-plan__milestone__actions{
    width: 100%;
    margin: 15px 0px;
    a{
        display: inline-block;
        padding: 2px;
        font-size: 19px;
        line-height: 26px;
        margin-right: 15px;
    }
}

.milestone-tasks-table{
    width: 100%;
    .govuk-table__head{
        .govuk-table__row{
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
        }
    }
}

.milestone-task-data-row{
    border-bottom: none;

    td{
        border: none;
    }
}

.milestone-task-action-row{
    border-top: none;

    td{
        border-bottom: 2px solid $govuk-mid-grey;
    }

    .action-plan__milestone__actions{
        padding: 5px 0px;
        font-size: 19px;
        line-height: 26px;
        margin-right: 15px;
    }
}

.ma-badge--completed{
    background-color: $govuk-light-blue;
}

.ma-badge--in-progress{
    background-color: $govuk-blue;
}

.ma-badge--not-started{
    background-color: $govuk-mid-grey;
}

.ma-badge--status-on-track{
    background-color: $govuk-green;
}
.ma-badge--status-risk-of-delay{
    background-color: $govuk-orange;
}
.ma-badge--status-delayed{
    background-color: $govuk-red;
}

.action_plans_deletion_warning{
    color: $govuk-red;

    h2{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.action_plan{
    &__current_status{
        &__heading{
            font-size: 20px;
            font-weight: bold;
        }
    }
    &__owner{
        &__heading{
            font-weight: bold;
        }
    }

}

#assigned_to .textarea-with-mentions .govuk-mentions .govuk-mentions__control{
    min-height: 0;
    .govuk-mentions__highlighter{
        display: none;
    }
}

.action_plans_stategic_context {
    width: 50%;
}

.action_plan_objectives {
    width: 50%;
}

.action_plans_other_task_type_input{
    width: 50%
}

.action_plans_tag{
    float: right;
    white-space: nowrap;
}

.action_plans_task_list{
    @include govuk-responsive-margin(5, "left");
    @include govuk-responsive-margin(6, "bottom");
}
