@import 'barrier/assessment';
@import 'barrier/commodity-codes';
@import 'barrier/detail';
@import 'barrier/history';
@import 'barrier/publish';
@import 'barrier/team';
@import 'barrier/type';
@import 'barrier/action_plans';

@import 'report/detail';
@import 'report/sectors';

@import 'search';
@import 'what-is-a-barrier';
