@import 'barrier/assessment';
@import 'barrier/commodity-codes';
@import 'barrier/detail';
@import 'barrier/history';
@import 'barrier/publish';
@import 'barrier/team';
@import 'barrier/type';
@import 'barrier/action_plans';
@import 'barrier/priority';

@import 'report/detail';
@import 'report/sectors';
@import 'report/check_answers';

@import 'search';
@import 'what-is-a-barrier';

@import 'users/search';
