// extend an existing govuk class

.govuk-grid-row {
    &.grey {
        background-color: #DEE0E2;
    }
}

.govuk-main-wrapper {
  &--dashboard {
    padding: 0;
  }
}

.govuk-summary-list__key-normal {
  font-weight: normal;
  width: 10%;
}
