// extend an existing govuk class

.govuk-grid-row {
  &.grey {
    background-color: $govuk-light-grey;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.govuk-main-wrapper {
  &--dashboard {
    padding: 0;
  }
}

.govuk-summary-list__key-normal {
  font-weight: normal;
  width: 10%;
}

.summary-card {
  background-color: $govuk-light-grey;
  min-height: 250px;
  position: relative;



  &__data-link {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 16px;
  }

}

.summary_card_small {
  font-size: 16px;
}

#dashboard_filters {
  .checkbox-filter {

    max-height: 7em;

  }
}

.dashboard-chart {
  padding: 20px;
  border: 1px solid #b1b4b6;
  margin: 10px;
}

.dashboard-search-link-container {
  display: inline;
  padding-right: govuk-em( 15, 16 );
}
