.standard-table--barriers {

	min-width: govuk-em( 950, 16 );

	.standard-table__heading,
	.standard-table__cell{

		&:nth-child( 1 ){
			min-width: govuk-em( 90, 16 );
		}

		&:nth-child( 2 ){
			max-width: govuk-em( 150, 16 );
			width: 15%;
		}

		&:nth-child( 3 ){
			width: 30%;
		}

		&:nth-child( 4 ){
			width: 20%;
		}

		&:nth-child( 5 ){
			width: 20%;
		}

		&:nth-child( 6 ){
			max-width: govuk-em( 150, 16 );
			width: 15%;
		}

		&:nth-child( 7 ){
			min-width: govuk-em( 110, 16 );
		}
	}
}

.standard-table--country-barriers {

	min-width: govuk-em( 950, 16 );

	.standard-table__heading,
	.standard-table__cell{

		&:nth-child( 1 ){
			min-width: govuk-em( 90, 16 );
		}

		&:nth-child( 2 ){
			max-width: govuk-em( 150, 16 );
			width: 15%;
		}

		&:nth-child( 3 ){
			width: 30%;
		}

		&:nth-child( 4 ){
			width: 20%;
		}

		&:nth-child( 5 ){
			width: 20%;
		}

		&:nth-child( 6 ){
			min-width: govuk-em( 90, 16 );
		}
	}
}
