.barrier-priority-filter {
	.checkbox-filter__label {
		padding-top: 6px;
	}
}

.filter-list-title {
	@include govuk-font( $size: 19, $line-height: 1 );
	color: $govuk-dark-grey;
}

.filter-items-group {
	padding: govuk-em( 10, 16 ) govuk-em( 8, 16 );
	background: $govuk-light-grey;
	margin-bottom: govuk-em( 10, 16 );
	display: inline-block;
}

.filter-items__label {
	@include govuk-font( 16, $weight: bold );
}

.filter-items__clear {
	display: block;
	margin-bottom: govuk-em( 10, 16 );
}


.filter-results-header {
	border-bottom: 5px solid $govuk-black;
	position: relative;
}

.filter-results-header__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: govuk-em( 10, 16 );
}

.filter-results-header__row-item {
	align-self: center;
	&--right {
		margin-left: auto;
	}
}

.search-title {
	@include govuk-font( 36, $weight: bold );
	padding: 0 0 govuk-em( 5, 36 ) 0;
	margin: govuk-em( 10, 36 ) govuk-em( 10, 36 ) govuk-em( 5, 36 ) 0;
	display: block;
}

.filter-results-header__info {
	margin-top: 0;
}

.filter-results-header__update_form {
	float: left;
}

.filter-results-header__update-button {
	padding-top: govuk-em( 12, 16 );
	padding-bottom: govuk-em( 6, 16 );
}

.filter-results-header__save-button {
	margin-left: govuk-em( 32, 16 );
	margin-bottom: 0;
}

.filter-results-title {
	@include govuk-font( 36, $weight: bold );
	padding: 0 0 govuk-em( 5, 36 ) 0;
	margin: govuk-em( 10, 36 ) govuk-em( 10, 36 ) govuk-em( 5, 36 ) 0;
	display: inline-block;
}

.filter-results-title__caption {
	@include govuk-font( 24 );
}

.filter-results-action-buttons--save {
	padding-top: 0;
}

.filter-results-notifications-link {
}

.filter-results-clear-link {
	margin-left: govuk-em( 32, 16 );
}

.active-filters {
	margin: 0;
	padding: 0;
	display: block;
	padding-bottom: govuk-em( 10, 16 );
}

.active-filters__item {
	display: inline;
	background: $govuk-light-grey;
	margin-right: govuk-em( 5, 16 );
	padding: govuk-em( 2, 16 ) govuk-em( 5, 16 );
}

.active-filter__heading {
	display: inline;
	font-weight: normal;
	color: $govuk-dark-grey;
}

.active-filter__text {
	margin: 0;
	padding: 0;
	display: inline;
	font-weight: bold;
}

.filter-results-pagination-summary {
	color: $govuk-dark-grey;
}

.filter-results-download {
	overflow: hidden;
	margin: 0 0 govuk-em( 5, 16 ) 0;
	padding: govuk-em( 10, 16 ) 0 0 0;
	border-top: 1px solid $govuk-mid-grey;
}

.filter-results-download__text {

	display: inline-block;
	padding-bottom: govuk-em( 10, 16 );

	@include mq( $from: tablet ){
		padding-top: 0.5em;
	}
}

.filter-results-download__button {

	@include mq( $from: tablet ){
		float: right;
	}

	margin-bottom: govuk-em( 5, 16 );
}

.filter-results-list {
	list-style: none;
	padding: 0;
	margin-top: 0;
}

.filter-results-list__item {

	border-bottom: 1px solid $govuk-mid-grey;
	padding: govuk-em( 15, 16 ) 0;
	overflow: hidden;

	&:first-of-type {
		border-top: 1px solid $govuk-mid-grey;
	}
}

.active-filters__item__link {

	text-decoration: none;

	&:after {
		content: "\D7";
		font-weight: bold;
	}

	&:visited {
		color: $govuk-blue;
	}
}

.filter-results-list__item__main-content {

	@include mq( $from: 550px ){
		float: left;
		width: 60%;
	}

	@include mq( $from: tablet ){
		width: 55%;
	}

	@include mq( $from: 1024px ){
		width: 72%;
	}
}

.filter-results-list__item__sub-content {

	@include govuk-font( 16 );
	margin-top: govuk-em( 10, 16 );
	list-style: none;
	padding: 0;

	@include mq( $from: 550px ){
		margin-top: 0;
		float: right;
		width: 35%;
	}

	@include mq( $from: tablet ){
		width: 30%;
	}

	@include mq( $from: 1024px ){
		width: 25%;
	}

	.barrier-status-badge {
		width: 100%;
		display: inline-block;
	}
}

.filter-results-list__item__sub-content__item {

	margin-bottom: 0;
	line-height: 1;

	@include mq( $from: 350px ){
		display: inline-block;
		width: 45%;
	}

	@include mq( $from: 550px ){
		display: block;
		width: 100%;
	}
}

.filter-results-list__item__heading {
	@include govuk-font( 19, $weight: bold );
	margin: 0 0 govuk-em( 15, 19 ) 0;
}

.filter-results-list__item__definitions {
	@include govuk-font( 16 );
	margin: 0;
}

.filter-results-list__item__definitions__key {

	color: $govuk-dark-grey;
	display: inline;

	@include mq( $from: tablet ){
		min-width: 125px;
	}

	&:before {
		content: "";
		display: block;
	}
}

.filter-results-list__item__definitions__value {

	margin: 0;
	margin-bottom: govuk-em( 5, 16 );
	display: inline-block;

	@include mq( $from: tablet ){
		margin-bottom: 0;
	}
}

.dmas-sort-widget {
	text-align: right;

	.govuk-label {
		margin-right: govuk-spacing(2);
	}
}

.js-enabled .dmas-search-ordering-select + button {
	/* Hate using !important, but the GovUK inline block class forces it upon me :-( */
	display: none !important;
}
