{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Define barrier category{% endblock %}

{% block page_content %}

    {# TODO: Errors, back #}
    {% include 'heading.html' with caption=barrier.barrier_title text='Define barrier category' %}

    <h3 class="report-sectors-heading">Save or add another category</h3>

    <div class="selection-list restrict-width">
        <h3 class="selection-list__heading">Selected barrier categories</h3>
            {% if barrier_types %}
                <ul class="selection-list__list">
                    {% for item in barrier_types %}
                        <li class="selection-list__list__item">
                            <span class="selection-list__list__item__number" data-number="{{ forloop.counter }}"></span>{{ item.title }}

                            <form action="{% url 'barriers:remove_type' barrier.id %}" class="selection-list__list__item__remove-form" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="barrier_type_id" value="{{ item.id }}">
                                <input type="submit" value="remove" class="selection-list__list__item__remove-form__submit">
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        <a href="{% url 'barriers:add_type' barrier.id %}" class="govuk-button button--secondary selection-list__add-button">Add another category</a>
    </div>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Save and exit to barrier" class="govuk-button">
    </form>
{% endblock %}
