<div id="{{ form.estimated_resolution_date.name }}" class="{% form_group_classes form.estimated_resolution_date.errors %}">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.estimated_resolution_date.label }}</legend>

        <span class="govuk-hint">{{ form.estimated_resolution_date.help_text }}</span>


        <div class="govuk-warning-text govuk-!-margin-bottom-0 govuk-!-margin-top-2" id="erd-requires-approval-warning" style="display:none;">
            <span class="govuk-warning-text__icon govuk-warning-text__icon--small mt-2" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text govuk-warning-text__text--medium">
                {% comment %} <span class="govuk-warning-text__assistive">Warning</span> {% endcomment %}
                To manage reporting and resolution expectations, delayed estimated resolution dates will be published after the next monthly Bilateral Trade Relations senior leadership meeting.
            </strong>
        </div>

        {% form_field_error form "estimated_resolution_date" %}
        <div class="govuk-date-input">
            {{ form.estimated_resolution_date }}
        </div>
    </fieldset>
</div>
