{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Add initial economic assessment{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Add economic rating assessment' %}

    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        {% include "partials/forms/radio_input.html" with field=form.trade_category %}

        {% block buttons %}
            <button class="govuk-button" data-module="govuk-button">Continue</button>
            <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="form-cancel">Cancel</a>
        {% endblock %}
    </form>

{% endblock %}
