{% extends "barriers/edit/base.html" %}

{% load static %}

{% block page_title %}{{ block.super }} - Economic assessment{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    <h2 class="govuk-heading-m">Initial economic assessment - {{ economic_assessment.created_on|date:"j F Y" }}</h2>

    <dl class="restrict-width">
        <dt class="ma-data-key">Economic rating</dt>
        <dd class="ma-data-value">
            {{ economic_assessment.rating.name }}
        </dd>

        <dt class="ma-data-key">Assessment explanation</dt>
        <dd class="ma-data-value">
            {{ economic_assessment.explanation|linebreaks }}
        </dd>

        {% if economic_assessment.documents %}
            <dt class="ma-data-key">Documents</dt>
            <dd class="ma-data-value">
                {% include "barriers/assessments/partials/documents_list.html" with documents=economic_assessment.documents %}
            </dd>
        {% endif %}

        <dt class="ma-data-key">Assessment produced by</dt>
        <dd class="ma-data-value ma-data-value--s">
            {{ economic_assessment.created_by.name }} on {{ economic_assessment.created_on|date:"j F Y" }}
        </dd>
        {% if economic_assessment.approved is not None %}
            <dt class="ma-data-key">Assessment {{ economic_assessment.approved|yesno:"accepted,rejected" }} by</dt>
            <dd class="ma-data-value ma-data-value--s">
                {{ economic_assessment.reviewed_by.name }} on {{ economic_assessment.reviewed_on|date:"j F Y" }}
            </dd>
        {% endif %}

        <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">Back</a>
    </dl>

{% endblock %}
