{% extends "barriers/edit/base.html" %}

{% load static %}

{% block page_title %}{{ block.super }} - Economic assessment{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    <span class="govuk-caption-m">Raw assessment data</span>
    <h2 class="govuk-heading-m">Initial economic assessment - {{ economic_assessment.created_on|date:"j F Y" }}</h2>

    {% include "barriers/assessments/economic/partials/automated_analysis_data.html" with data=economic_assessment.automated_analysis_data classes="govuk-!-font-size-16 restrict-width" %}

    <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="govuk-button govuk-!-margin-top-3"
       data-module="govuk-button">Back</a>

{% endblock %}
