{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Barrier - Company details{% endblock %}

{% block page_content %}

    <a href="{% url 'barriers:edit_companies' barrier.id %}" class="govuk-back-link">Back</a>
    {% include 'partials/heading.html' with caption=barrier.title text='Name of company affected' %}
    {% form_error_banner form %}

    <section class="restrict-width">

        <h2 class="govuk-heading-s">Company details</h2>

        <dl class="details-list">
            {% if company.company_name %}
                <div class="details-list__group">
                    <dt class="details-list__key">Registered name</dt>
                    <dd class="details-list__value">{{ company.company_name }}</dd>
                </div>
            {% endif %}
            {% if company.company_number %}
                <div class="details-list__group">
                    <dt class="details-list__key">Companies House number</dt>
                    <dd class="details-list__value">{{ company.company_number }}</dd>
                </div>
            {% endif %}
            {% if company.address_display %}
                <div class="details-list__group">
                    <dt class="details-list__key">Primary address</dt>
                    <dd class="details-list__value">{{ company.address_display }}</dd>
                </div>
            {% endif %}
            {% if company.sic_codes %}
                <div class="details-list__group">
                    <dt class="details-list__key">Sector</dt>
                    <dd class="details-list__value">{{ company.sic_codes|join:", " }}</dd>
                </div>
            {% endif %}
            {% if company.date_of_creation %}
                <div class="details-list__group">
                    <dt class="details-list__key">Incorporated on</dt>
                    <dd class="details-list__value">{{ company.date_of_creation|date:"j F Y" }}</dd>
                </div>
            {% endif %}
        </dl>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="company_id" value="{{ company.id }}">
            <input type="submit" class="govuk-button" value="Add company">
        </form>

    </section>

    <span class="govuk-heading-s">Or</span>

    <a href="{% url 'barriers:edit_companies' barrier.id %}">Search again</a>

{% endblock %}
