{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Barrier - Save or add another company{% endblock %}

{% block page_content %}

    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link">Back</a>
    {% include 'partials/heading.html' with caption=barrier.barrier_title text='Name of company affected' %}
    {% form_error_banner form %}

    <div class="restrict-width">

        <h3 class="">Save or add another company</h3>

        {% include 'barriers/partials/company_list.html' with show_remove_links=True show_add_button=True %}

        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="govuk-button" value="Save and exit to barrier">
        </form>
    </div>

{% endblock %}
