{% if item.old_value.archived is True %}
    <div class="history-item__old-value">
        <span class="diff__del" tabindex="0">
            <p class="govuk-visually-hidden">old value: </p>
            Archived
            ({{ item.old_value.archived_reason }}{% if item.old_value.archived_explanation %} - {{ item.old_value.archived_explanation }}{% endif %})
        </span>
    </div>
{% else %}
    <div class="history-item__old-value">
        <span class="diff__del" tabindex="0">
            <p class="govuk-visually-hidden">old value: </p>
            Unarchived
            {% if item.old_value.unarchived_reason %}({{ item.old_value.unarchived_reason }}){% endif %}
        </span>
    </div>
{% endif %}

{% if item.new_value.archived is True %}
    <div class="history-item__new-value">
        <span class="diff__ins" tabindex="0">
            <p class="govuk-visually-hidden">new value: </p>
            Archived
            ({{ item.new_value.archived_reason }}{% if item.new_value.archived_explanation %} - {{ item.new_value.archived_explanation }}{% endif %})
        </span>
    </div>
{% else %}
    <div class="history-item__new-value">
        <span class="diff__ins" tabindex="0">
            <p class="govuk-visually-hidden">new value: </p>
            Unarchived
            {% if item.new_value.unarchived_reason %}({{ item.new_value.unarchived_reason }}){% endif %}
        </span>
    </div>
{% endif %}
