{% if item.old_value.priority != None %}
    <div class="history-item__old-value">
        <span class="diff__del" tabindex="0">
            <p class="govuk-visually-hidden">old value: </p>
            {{ item.old_value.priority.name }}
            <br/>
            {% if item.old_value.priority_summary %}{{ item.old_value.priority_summary }}{% endif %}
        </span>
    </div>
{% endif %}
{% if item.new_value.priority != None %}
    <div class="history-item__new-value">
        <span class="diff__ins" tabindex="0">
            <p class="govuk-visually-hidden">new value: </p>
            {{ item.new_value.priority.name }}
            <br/>
            {% if item.new_value.priority_summary %}{{ item.new_value.priority_summary }}{% endif %}
        </span>
    </div>
{% endif %}
