.barrier-status-badge {
	background-color: $govuk-dark-grey;
	display: inline-block;
	padding: govuk-em( 10, 16 );
	line-height: 1.5;
	color: white;
	box-sizing: border-box;
}

.barrier-status-badge--compact {
	line-height: 1.25;
	margin-bottom: govuk-em( 16, 16 );
}

.barrier-status-badge--open-in-progress {
	background-color: $govuk-blue;
}

.barrier-status-badge--open-pending-action {
	background-color: $govuk-blue;
}

.barrier-status-badge--resolved {
	background-color: $govuk-green;
}

.barrier-status-badge--hibernated {
	background-color: $govuk-dark-grey;
}

.barrier-status-badge--unknown {
	background-color: $govuk-dark-grey;
}
