.govuk-button--full-width {
	width: 100%;
}

.button--secondary {

	background-color: $govuk-light-grey;
	box-shadow: 0 2px 0 $govuk-dark-grey;
	color: $govuk-dark-grey;
	display: inline-block;

	&:link,
	&:visited,
	&:active,
	&:hover {
		color: $govuk-dark-grey;
	}

	&:focus,
	&:hover {
		background-color: $govuk-light-grey;
	}
}

.button-cancel {
	line-height: 2.5;
	margin-left: govuk-em( 10, 16 );
}

.button-as-link {
	@include govuk-link-common;
	color: $govuk-blue;
	cursor: pointer;
	text-decoration: underline;
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background: inherit;
	overflow: visible;
	box-shadow: none;
	&:hover {
		color: $govuk-link-hover-colour;
		box-shadow: none;
		text-decoration: underline;
		background: none;
	}
}

.delete-button {
	@extend .govuk-button;
	background-color: $govuk-error-colour;

	&:hover {
		background-color: shade($govuk-error-colour, 25%)
	}
}

.delete-link {
	@extend .govuk-link;
	color: $govuk-error-colour;

	&:link {
		color: $govuk-error-colour;
	}
	&:visited {
		color: $govuk-error-colour;
  	}
	&:hover {
		color: shade($govuk-error-colour, 25%)
	}
	&:active {
		color: $govuk-error-colour;
	}
}
