.file-upload {
	padding-left: 25px;
	background: transparent url( '../images/attachment_45.png' ) 0 0 no-repeat;
	background-size: 21px 20px;
}

.file-upload__input {
	max-width: 60%;
	width: 100%;
}

.file-upload__size-limit {

	color: $govuk-black;

	@include mq( $from: desktop ){

		margin-right: govuk-em( 30, 16 ); //keep the submit button underneath
	}
}

.file-upload__size-limit--js {

	display: inline;
}

.file-upload__link,
.file-upload__progress,
.file-upload__delete {
	@include govuk-font( 19 );
}

.file-upload__delete {
	-webkit-appearance: none;
	border: 0;
	@include govuk-link-style-default;
	text-decoration: underline;
	color: $govuk-blue;
}
