.section-heading {
	@include govuk-font( $size: 24, $weight: bold );
	padding-bottom: govuk-em( 10, 24 );
	margin-top: 0;
	border-bottom: 4px solid $govuk-black;
}

.tab-heading {
	@include govuk-font( 19 );
	margin: govuk-em( 30, 19 ) 0;
}
.ma-list-heading {
    @include govuk-font( $size: 19 );
    border-bottom: 5px solid $govuk-black;
    padding: 0 0 govuk-em( 16, 16 );
    margin: govuk-em( 28, 16 ) 0 govuk-em( 20, 16 );
    overflow: hidden;

    &__heading{
        display: block;
        width: 60%;
        float: left;
    }

    &__count {
        font-size: 32px;
        font-weight: bold;
    }

    &__action{
        margin-left: 30px;
    }

    &__actions{
        float: right;
    }
}
