.barrier-tag-banner {
    @include govuk-clearfix;
    color: $govuk-white;
    padding: govuk-em( 16, 16 ) govuk-em( 30, 16 );;
    border-bottom: 1px solid $govuk-light-grey;
}

.barrier-tag-list {
    list-style: none;
    padding: 0;
    margin: 0 0 govuk-em( -8, 16 );
    float: left;

    &--in-banner {
        margin-right: govuk-em( 16, 16 );
    }
}

.barrier-tag-list > .govuk-tag {
    margin-right: govuk-spacing(3);
    margin-bottom: govuk-spacing(2);
}

.hidden-tag {
    display: none;
}
