{% for widget in widget.subwidgets %}
    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="status-date-group-{{ widget.name }}">{% cycle 'Month' 'Year' %}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-{% cycle '2' '4' %}" id="status-date-group-{{ widget.name }}" name="{{ widget.name }}" type="number" pattern="[0-9]*" {% if widget.value %}value="{{ widget.value }}"{% endif %}>
        </div>
    </div>
{% endfor %}
