<div class="govuk-date-input" id="resolved_date_filter">
    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label resolved_date__inputs_label"
                   for="resolved_date_from_month_resolved_in_part">
                Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 resolved_date__month_input"
                   id="resolved_date_from_month_resolved_in_part" name="resolved_date_from_month_resolved_in_part"
                   type="text" pattern="^([1-9]|0[1-9]|1[0-2])$" maxlength="2" inputmode="numeric">
        </div>
    </div>
    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label resolved_date__inputs_label"
                   for="resolved_date_from_year_resolved_in_part">
                Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4 resolved_date__year_input"
                   id="resolved_date_from_year_resolved_in_part" name="resolved_date_from_year_resolved_in_part"
                   type="text" pattern="^[0-9]{4}$" maxlength="4" inputmode="numeric">
        </div>
    </div>
</div>