<section class="ma-masthead">
    <div class="barrier-summary">
        <div class="barrier-summary__code">{{ current_user.first_name }} {{ current_user.last_name }}</div>
        <h1 class="barrier-summary__heading__text">Account home</h1>
    </div>
</section>
<nav>
    <ul class="datahub-header__navigation govuk-template">
        <li class="datahub-header__navigation__item">
            <a class="{% if page == 'account-home' %}datahub-header__navigation__item__link--active {% endif %}datahub-header__navigation__item__link" href="{% url 'barriers:account_home' %}">My profile</a>
        </li>
        <li class="datahub-header__navigation__item">
            <a class="{% if page == 'saved-searches' %}datahub-header__navigation__item__link--active {% endif %}datahub-header__navigation__item__link" href=# class="govuk-link--no-visited-state-dark">My saved searches</a>
        </li>
        <li class="datahub-header__navigation__item">
            <a class="{% if page == 'my-downloads' %}datahub-header__navigation__item__link--active {% endif %}datahub-header__navigation__item__link" href=# class="govuk-link--no-visited-state-dark">My downloads</a>
        </li>
        <li class="datahub-header__navigation__item">
            <a class="{% if page == 'my-barriers' %}datahub-header__navigation__item__link--active {% endif %}datahub-header__navigation__item__link" href=#ß class="govuk-link--no-visited-state-dark">My barriers</a>
        </li>
    </ul>
</nav>
