<section class="barrier-summary">

    <div class="barrier-summary__heading flex justify-between align-end">
        <div>
            <p class="barrier-summary__code">{{ barrier.code }}</p>
            <h1 class="barrier-summary__heading__text">{{ barrier.title }}</h1>
            <p class="barrier-summary__heading__country"> in {{ barrier.location }}</p>
            <!-- Tag work will go here to be above the change links in layout -->
            {% if not barrier.archived %}
                <div class="barrier-summary__edit-links">
                    <a href="{% url 'barriers:edit_title' barrier.id %}">Edit title</a>
                    or
                    <a href="{% url 'barriers:edit_location' barrier.id %}">location</a>
                </div>
            {% endif %}
        </div>
        <div>
            {% if not barrier.archived %}
                <a class="barrier-summary__edit-links" href="{% url 'barriers:related_barriers' barrier.id %}">Related Barriers</a>
            {% endif %}
        </div>
        <div>
            {% if not hide_priority %}
                <div class="barrier-summary__status">
                    <ul class="barrier-tag-list barrier-tag-list--inline m0">
                        {% spaceless %}
                            {% if barrier.top_priority_status != "NONE" %}
                                {% if barrier.top_priority_status == "APPROVAL_PENDING" %}
                                    <li class="govuk-tag govuk-tag--top-100-priority-approval-pending ">TOP 100 APPROVAL PENDING</li>
                                {% elif barrier.top_priority_status == "APPROVED" %}
                                    <li class="govuk-tag govuk-tag--top-100-priority ">TOP 100 PRIORITY</li>
                                {% elif barrier.top_priority_status == "REMOVAL_PENDING" %}
                                    <li class="govuk-tag govuk-tag--top-100-priority-removal-pending ">TOP 100 REMOVAL PENDING</li>
                                {% elif barrier.top_priority_status == "RESOLVED" %}
                                    <li class="govuk-tag govuk-tag--top-100-priority-resolved ">RESOLVED TOP 100 PRIORITY</li>
                                {% endif %}
                            {% elif barrier.priority_level != "NONE" %}
                                {% if barrier.priority_level == "OVERSEAS" %}
                                    <li class="govuk-tag govuk-tag--overseas-delivery">OVERSEAS DELIVERY</li>
                                {% elif barrier.priority_level == "COUNTRY" %}
                                    <li class="govuk-tag govuk-tag--country-priority">COUNTRY PRIORITY</li>
                                {% elif barrier.priority_level == "WATCHLIST" %}
                                    <li class="govuk-tag govuk-tag--watch-list">WATCH LIST</li>
                                {% endif %}
                            {% endif %}
                        {% endspaceless %}
                    </ul>
                    <div class="barrier-summary__status__edit-links">
                        {% if not barrier.archived %}
                            <a aria-expanded="false" class="barrier-summary__status__link js-barrier-summary-link" href="{% url 'barriers:edit_priority' barrier.id %}">
                                <span class="sr-only govuk-visually-hidden">Activate link to change barrier priority.</span>
                                Change priority
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


</section>
