<section class="barrier-summary">

    <div class="barrier-summary__heading">
        <p class="barrier-summary__code">{{ barrier.code }}</p>
        <h1 class="barrier-summary__heading__text">{{ barrier.title }}</h1>
        <p class="barrier-summary__heading__country"> in {{ barrier.location }}</p>

        {% if not hide_links and not barrier.archived %}
            <p class="barrier-summary__edit-links">
                <a href="{% url 'barriers:edit_title' barrier.id %}">Edit title</a>
                or
                <a href="{% url 'barriers:edit_location' barrier.id %}">location</a>
            </p>
        {% endif %}
    </div>
    {% if not hide_priority %}
        <div class="barrier-summary__status">
            <div class="barrier-summary__status__badge barrier-status-badge barrier-status-badge--{{ barrier.status.modifier }}">
                <strong>{{ barrier.status.name }}</strong>
                <div class="barrier-summary__priority">
                    <span class="priority-marker priority-marker--{{ barrier.priority.code|lower}}"></span><strong>{{ barrier.priority.name }}</strong> priority
                </div>
            </div>

            {% if not hide_links and not barrier.archived %}
                <a class="barrier-summary__status__link js-barrier-summary-link" href="{% url 'barriers:change_status' barrier.id %}">change status</a>
                <a class="barrier-summary__status__link js-barrier-summary-link" href="{% url 'barriers:edit_priority' barrier.id %}">change priority</a>
            {% endif %}
        </div>
    {% endif %}
</section>
