<ul class="page-tabs page-tabs--no-margin">
    {% if active == 'detail' %}
        <li class="page-tabs__tab page-tabs__tab--active">
            <span class="page-tabs__tab__text">Barrier information</span>
        </li>
    {% else %}
        <li class="page-tabs__tab">
            <a class="page-tabs__tab__text" href="{% url 'barriers:barrier_detail' barrier.id %}">Barrier information</a>
        </li>
    {% endif %}

    {% if active == 'team' %}
        <li class="page-tabs__tab page-tabs__tab--active">
            <span class="page-tabs__tab__text">Barrier team</span>
        </li>
    {% else %}
        <li class="page-tabs__tab">
            <a class="page-tabs__tab__text" href="{% url 'barriers:team' barrier.id %}">Barrier team</a>
        </li>
    {% endif %}

    {% if active == 'assessment' %}
        <li class="page-tabs__tab page-tabs__tab--active">
            <span class="page-tabs__tab__text">Assessment</span>
        </li>
    {% else %}
        <li class="page-tabs__tab">
            <a class="page-tabs__tab__text" href="{% url 'barriers:assessment_detail' barrier.id %}">Assessment</a>
        </li>
    {% endif %}

    {% if active == 'history' %}
        <li class="page-tabs__tab page-tabs__tab--active">
            <span class="page-tabs__tab__text">History</span>
        </li>
    {% else %}
        <li class="page-tabs__tab">
            <a class="page-tabs__tab__text" href="{% url 'barriers:history' barrier.id %}">History</a>
        </li>
    {% endif %}

    {% if active == 'public' %}
        <li class="page-tabs__tab page-tabs__tab--active">
            <span class="page-tabs__tab__text">Public view{% if public_barrier.tab_badge %} <span class="ma-badge ma-badge--in-tab">{{ public_barrier.tab_badge }}</span>{% endif %}</span>
        </li>
    {% else %}
        <li class="page-tabs__tab">
            <a class="page-tabs__tab__text" href="{% url 'barriers:public_barrier_detail' barrier.id %}">Public view{% if barrier.public_barrier.tab_badge %} <span class="ma-badge ma-badge--in-tab">{{ barrier.public_barrier.tab_badge }}</span>{% endif %}</a>
        </li>
    {% endif %}
</ul>
