{% if "complete" in request.path %}
    <form method="POST" novalidate
          action="{% url 'core:feedback' %}?return={% url 'barriers:barrier_detail' barrier.id %}">
        {% csrf_token %}
        <input type="hidden" name="attempted_actions" value="REPORT_BARRIER">
        <input type="hidden" name="csat_submission" value="True">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Barrier reported
            </h1>
        </div>

        <div class="govuk-panel">
            <h2>Overall, how would you rate your experience with the Digital market access service today?</h2>
            <div class="barrier-rating">
                <div class="rating-box-new govuk-heading-xl">
                    <input type="radio" name="satisfaction" id="zero" value="" display="hidden" checked/>
                    <input type="radio" name="satisfaction" id="one" value="VERY_DISSATISFIED"/>
                    <label for="one" class="rating-star-item"><span class="rating-star-label">Very dissatisfied</span></label>
                    <input type="radio" name="satisfaction" id="two" value="DISSATISFIED"/>
                    <label for="two" class="rating-star-item"><span class="rating-star-label">Dissatisfied</span></label>
                    <input type="radio" name="satisfaction" id="three" value="NEITHER"/>
                    <label for="three" class="rating-star-item"><span class="rating-star-label">Neither satisfied or dissatisfied</span></label>
                    <input type="radio" name="satisfaction" id="four" value="SATISFIED"/>
                    <label for="four" class="rating-star-item"><span class="rating-star-label">Satisfied</span></label>
                    <input type="radio" name="satisfaction" id="five" value="VERY_SATISFIED"/>
                    <label for="five" class="rating-star-item"><span class="rating-star-label">Very satisfied</span></label>
                    <div class="flex-break"></div>
                    <div id="rating1" class="govuk-body-l">Very dissatisfied</div>
                    <div id="rating2" class="govuk-body-l">Dissatisfied</div>
                    <div id="rating3" class="govuk-body-l">Neither satisfied or dissatisfied</div>
                    <div id="rating4" class="govuk-body-l">Satisfied</div>
                    <div id="rating5" class="govuk-body-l">Very satisfied</div>
                </div>
                <hr/>
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Continue
                </button>
            </div>
        </div>
    </form>
{% endif %}
