<h1 class="govuk-heading-l">
    <span class="govuk-caption-m">Market access barriers</span> Dashboard
</h1>

<a href="{% url 'reports:new_report' %}" role="button" class="dash-button">
    <span class="dash-button__heading">Add a barrier</span>
    <span class="dash-button__text">
        Add a market access barrier that is emerging, ongoing or has been resolved.
    </span>
</a>

<a href="{% url 'barriers:find_a_barrier' %}" role="button" class="dash-button">
    <span class="dash-button__heading">Find a barrier</span>
    <span class="dash-button__text">
        You can search and filter all barriers.
    </span>
</a>

<div class="dash-card">
    <h2 class="dash-card__heading">
        What are market access barriers?
    </h2>
    <p class="dash-card__text">
        <a href="{% url 'barriers:what_is_a_barrier' %}">Find out more</a> about the digital market access service.
    </p>
</div>

<div class="page-tabs-container">
    <ul class="page-tabs">
        {% for watchlist in watchlists %}
            {% if watchlist == selected_watchlist %}
                <li class="page-tabs__tab page-tabs__tab--active">
                    <span class="page-tabs__tab__text">{{ watchlist.name }}</span>
                </li>
            {% else %}
                <li class="page-tabs__tab">
                    <a class="page-tabs__tab__text" href="{% url 'barriers:dashboard' %}?list={{ forloop.counter0 }}">{{ watchlist.name }}</a>
                </li>
            {% endif %}
        {% empty %}
            {% if page == "draft-barriers" %}
                <li class="page-tabs__tab">
                    <a class="page-tabs__tab__text" href="{% url 'barriers:dashboard' %}">My watch list</a>
                </li>
            {% else %}
                <li class="page-tabs__tab page-tabs__tab--active">
                    <span class="page-tabs__tab__text">My watch list</span>
                </li>
            {% endif %}
        {% endfor %}

        {% if page == "draft-barriers" %}
            <li class="page-tabs__tab page-tabs__tab--active">
                <span class="page-tabs__tab__text">My draft barriers</span>
            </li>
        {% else %}
            <li class="page-tabs__tab">
                <a class="page-tabs__tab__text" href="{% url 'reports:draft_barriers' %}">My draft barriers</a>
            </li>
        {% endif %}
    </ul>

    {% if watchlists|length < settings.MAX_WATCHLIST_LENGTH %}
    <a class="page-tabs-add-watch-list" href="{% url 'barriers:find_a_barrier' %}"><span class="circle-icon">&#xFF0B</span> add watch list</a>
    {% endif %}
</div>
