<h1 class="govuk-heading-l">
    <span class="govuk-caption-m">Market access barriers</span> Dashboard
</h1>

<a href="{% url 'reports:new_report' %}" role="button" class="dash-button">
    <span class="dash-button__heading">Report a barrier</span>
    <span class="dash-button__text">
        Report a market access barrier that is emerging, ongoing or has been resolved.
    </span>
</a>

<a href="{% url 'barriers:find_a_barrier' %}" role="button" class="dash-button">
    <span class="dash-button__heading">Find a barrier</span>
    <span class="dash-button__text">
        You can search and filter all barriers.
    </span>
</a>

<div class="dash-card">
    <h2 class="dash-card__heading">
        Help centre
    </h2>
    <p class="dash-card__text">
        <a href="https://data-services-help.trade.gov.uk/market-access/how-guides/">How-to guides</a>, <a href="https://data-services-help.trade.gov.uk/market-access/about-barriers-and-market-access/">about market access</a> and <a href="https://data-services-help.trade.gov.uk/market-access/updates/">updates</a> to the service.
    </p>
</div>
