<!-- Page filters -->
<div class="govuk-grid-row">
    <p>Use the filters to see the barrier data split by region, sector or other government departments.</p>
    <div class="govuk-grid-column-one-third">
        <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
                <label class="govuk-label filter-items__label" for="overseas_region">Overseas region</label>
                <input class="govuk-input"
                       id="overseas_region"
                       name="overseas_region"
                       type="text"
                       autocomplete="TODO - address-level2">
            </div>
        </fieldset>
    </div>
    <div class="govuk-grid-column-one-third">
        <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
                <label class="govuk-label filter-items__label" for="overseas_region">Sector</label>
                <input class="govuk-input"
                       id="sector"
                       name="sector"
                       type="text"
                       autocomplete="TODO - address-level2">
            </div>
        </fieldset>
    </div>
    <div class="govuk-grid-column-one-third">
        <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
                <label class="govuk-label filter-items__label" for="department">Department</label>
                <input class="govuk-input"
                       id="department"
                       name="department"
                       type="text"
                       autocomplete="TODO - address-level2">
            </div>
        </fieldset>
    </div>
</div>
<!-- End page filters -->
<!-- Summary cards-->
<div class="govuk-grid-row">
    <section class="summary-cards-container">
        <div class="govuk-grid-column-one-third">
            <div class="dash-insert dash-insert__card"
                 aria-label="priotity_barriers_summary">
                <p class="dash-insert__title">PB100 Priority barriers</p>
                <p class="dash-insert__heading">82</p>
                <p>barriers are on track for delivery this year, April 2023 to March 2024.</p>
                <p>This adds an estimated value of £250m of value.</p>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="dash-insert dash-insert__card"
                 aria-label="total_barriers_value_summary">
                <p class="dash-insert__title">Total barrier value</p>
                <p class="dash-insert__heading">£40m</p>
                <p>You've addedd £40m of value this financial year, which is a 20% increase comparing to last year</p>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="dash-insert dash-insert__card"
                 aria-label="resolved_barriers_summary">
                <p class="dash-insert__title">Resolved</p>
                <p class="dash-insert__heading">50%</p>
                <p>of your barriers are on track to be resolved this year.</p>
            </div>
        </div>
    </section>
</div>
<!--End summary cards -->
<!-- What to do next -->
<section id="what_to_do_next">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full dash-table">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m dash-table__caption">What to do next</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a href="#">Barrier title</a>
                            @stuartwatson mentioned you
                        </td>
                        <td class="govuk-table__cell text-right">
                            <span class="govuk-tag text-right">26 June 2024</span>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a href="#">Barrier title</a>
                            @stuartwatson mentioned you
                        </td>
                        <td class="govuk-table__cell text-right">
                            <span class="govuk-tag text-right">26 June 2024</span>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a href="#">Barrier title</a>
                            @stuartwatson mentioned you
                        </td>
                        <td class="govuk-table__cell text-right">
                            <span class="govuk-tag text-right">26 June 2024</span>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a href="#">Barrier title</a>
                            @stuartwatson mentioned you
                        </td>
                        <td class="govuk-table__cell text-right">
                            <span class="govuk-tag text-right">26 June 2024</span>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a href="#">Barrier title</a>
                            @stuartwatson mentioned you
                        </td>
                        <td class="govuk-table__cell text-right">
                            <span class="govuk-tag text-right">26 June 2024</span>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a href="#">Barrier title</a>
                            @stuartwatson mentioned you
                        </td>
                        <td class="govuk-table__cell text-right">
                            <span class="govuk-tag text-right">26 June 2024</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End what to do next -->
<!-- Chart -->
<div class="govuk-grid-row" id="barrier_progress_graph">
    <div class="govuk-grid-column-full dash-table dash-table__chart">
        <div id="chart"></div>
    </div>
</div>
<!-- End chart -->
