<div id="{{ form.estimated_resolution_date.name }}" class="{% form_group_classes form.estimated_resolution_date.errors %}">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.estimated_resolution_date.label }}</legend>

        <span class="govuk-hint">{{ form.estimated_resolution_date.help_text }}</span>


        <div class="govuk-warning-text govuk-!-margin-bottom-0 govuk-!-margin-top-2" id="erd-requires-approval-warning" style="display:none;">
            <span class="govuk-warning-text__icon govuk-warning-text__icon--small mt-2" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text govuk-warning-text__text--medium">
                {% comment %} <span class="govuk-warning-text__assistive">Warning</span> {% endcomment %}
                To manage reporting and resolution expectations, delayed estimated resolution dates will be published after the next monthly Bilateral Trade Relations senior leadership meeting.
            </strong>
        </div>

        {% form_field_error form "estimated_resolution_date" %}
        <div class="govuk-date-input">
            {{ form.estimated_resolution_date }}
        </div>
    </fieldset>
</div>

<div id="{{ form.estimated_resolution_date_change_reason.name }}-form-group" style="display:none;" class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1250">
    <div  class="govuk-form-group{% if form.estimated_resolution_date_change_reason.errors %} govuk-form-group--error{% endif %}">
        <label class="govuk-label govuk-label--s" for="update">{{ form.estimated_resolution_date_change_reason.label }}</label>

        {% form_field_error form "estimated_resolution_date_change_reason" %}
        <span class="govuk-hint">{{ form.estimated_resolution_date_change_reason.help_text }}</span>

        <textarea id="{{ form.estimated_resolution_date_change_reason.name }}" class="govuk-textarea govuk-js-character-count js-character-count" name="{{ form.estimated_resolution_date_change_reason.name }}" rows="5" maxlength="1250">{% if form.estimated_resolution_date_change_reason.value %}{{ form.estimated_resolution_date_change_reason.value }}{% endif %}</textarea>
    </div>
    <div id="{{ form.estimated_resolution_date_change_reason.name }}-info" class="govuk-hint govuk-character-count__message">
        You can enter up to 1250 characters
    </div>
</div>
