 {% if barrier.has_active_estimated_resolution_date_proposal %}
<div class="govuk-inset-text text-dark">
    <p class="govuk-body">
        A date change is waiting to be published.</p>
        <p class="govuk-body"><span class="govuk-!-font-weight-bold">Current estimated resolution date:</span> {{ barrier.estimated_resolution_date|date:"j F Y" }}</p>
        <p class="govuk-body"><span class="govuk-!-font-weight-bold">Pending estimated resolution date:</span>  {{ barrier.proposed_estimated_resolution_date|date:"j F Y" }}</p>
        <p class="govuk-body"><span class="govuk-!-font-weight-bold">Reason for the change:</span></p>
        <p class="govuk-body"> {{ barrier.estimated_resolution_date_change_reason }}</p>
    </p>
    <div class="govuk-warning-text govuk-!-margin-bottom-0 govuk-!-margin-top-2" id="erd-requires-approval-warning" style="display:none;">
        <span class="govuk-warning-text__icon govuk-warning-text__icon--small mt-2" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text govuk-warning-text__text--medium">
            {% comment %} <span class="govuk-warning-text__assistive">Warning</span> {% endcomment %}
            To manage reporting and resolution expectations, delayed estimated resolution dates will be published after the next monthly Bilateral Trade Relations senior leadership meeting.
        </strong>
    </div>
    <p>
        <a href="#estimated_resolution_date_change_reason" class="govuk-link" id="edit-erd-link">Edit</a>
    </p>
    <hr/>
    <p class="text-sm">
        Date submitted: {{ barrier.proposed_estimated_resolution_date_created|date:"j F Y" }}
        by {{ barrier.proposed_estimated_resolution_date_user.name }}
    </p>

</div>
{% else %}
    {% if barrier.estimated_resolution_date %}
        <div class="govuk-inset-text">{{ barrier.estimated_resolution_date|date:"j F Y" }} is the current estimated resolution date</div>
    {% endif %}
{% endif %}
