<p><a class="ma-badge" href="{% url 'barriers:search' %}?{{ saved_search.querystring }}{% if not my_barriers and not team_barriers %}&search_id={{ saved_search.id }}{% endif %}">{{ saved_search.barrier_count }} barrier{{ saved_search.barrier_count|pluralize }}</a></p>
<p>
    {% if saved_search.new_count > 0 %}
        <span class="ma-badge ma-badge--new">{{ saved_search.new_count }} new</span>
    {% endif %}
    {% if saved_search.updated_count > 0 %}
        <span class="ma-badge ma-badge--updated">{{ saved_search.updated_count }} updated</span>
    {% endif %}
    {% if saved_search.new_count > 0 or saved_search.updated_count > 0 %}
        since you last viewed {% if my_barriers %}My barriers{% elif team_barriers %}My team barriers{% else %}this saved search{% endif%}
    {% endif %}
</p>
