<div class="barrier-tag-banner">
    {% if barrier.tags or barrier.top_priority_status != "NONE" or barrier.priority_level != "NONE" %}
        <ul class="barrier-tag-list barrier-tag-list--inline">
            {% spaceless %}
                {% for tag in barrier.tags %}
                    <li class="govuk-tag govuk-tag--{{ tag.title|slugify }} text-right">{{ tag.title }}</li>
                {% endfor %}
            {% endspaceless %}
        </ul>
    {% endif %}
    <a class="barrier-tag-edit"
       href="{% url 'barriers:edit_tags' barrier.id %}">Edit tags</a>
    {% if "related_barriers" in feature_flags and not barrier.archived %}
        <a class="barrier-summary__edit-links"
           href="{% url 'barriers:related_barriers' barrier.id %}">Find related barriers</a>
    {% endif %}
</div>
