{% if team_members %}
    <table class="standard-table standard-table__barrier-team">
        <caption class="visually-hidden">List of team members for this barrier</caption>
        <thead>
            <tr class="standard-table__heading-row">
                <th class="standard-table__heading">Name</th>
                <th class="standard-table__heading">Contact details</th>
                <th class="standard-table__heading">Role</th>
                <th class="standard-table__heading">Action</th>
            </tr>
        </thead>
        <tbody class="js-delete-modal-container">
            {% for member in team_members %}
                <tr class="standard-table__row">
                    <td class="standard-table__cell">
                        <a href="{% url 'barriers:search' %}?member={{ member.id }}">
                            <span class="team-member__full-name">{{ member.user.full_name }}</span>
                        </a>
                        {% if member.created_by %}
                        <span class="team-member__added-by">Added by {{ member.created_by.name }}</span>
                        {% endif %}
                    </td>
                    <td class="standard-table__cell">{{ member.user.email }}</td>
                    <td class="standard-table__cell">{{ member.role }}</td>
                    <td class="standard-table__cell">
                        {% if member.role == "Owner" %}<a href="{% url 'barriers:team_change_owner' barrier.id member.id %}">Change</a>{% endif %}
                        {% if member.role == "Contributor" %}<a class="js-delete-modal" href="{% url 'barriers:delete_team_member' barrier.id member.id %}">Delete</a>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
