<div class="govuk-summary-card p-t-4">
    <h2 class="govuk-heading-m p-4">What's new on DMAS</h2>
    <ul class="govuk-list govuk-list--bullet p-l-6 m-b-8">
        <li>
            Understand <a class="govuk-link"
                          href="https://data-services-help.trade.gov.uk/market-access/how-guides/mark-barrier-eligible-public-view-sifter/">when and when not to publish barriers on GOV.UK</a>
        </li>
        <li>
            Get more accurate barrier data <a class="govuk-link"
                                              href="https://data-services-help.trade.gov.uk/market-access/updates/adding-a-market-distorting-practices-mdp-tag-to-barriers/">by adding a market distorting practices tag</a>
        </li>
        <li>
            Learn how and when to <a class="govuk-link"
                                     href="https://data-services-help.trade.gov.uk/market-access/updates/making-it-easier-to-make-programme-fund-updates-in-dmas/">make programme fund updates</a>
        </li>
        <li>
            Follow our step-by-step guide on <a class="govuk-link"
                                                href="https://data-services-help.trade.gov.uk/market-access/how-guides/who-can-publish-barrier-my-region/">how to publish barriers on GOV.UK</a>
        </li>
        <li>
            Help UK businesses with our guide to <a class="govuk-link"
                                                    href="https://data-services-help.trade.gov.uk/market-access/how-guides/how-prepare-market-access-barrier-report-public-view/">writing public titles and summaries</a>
        </li>
    </ul>
</div>
