{% load highlight_mentions %}
<h4 class="event-list__item__heading">{{ item.date|date:"j F Y" }}<span class="event-list__item__heading__recede"> at {{ item.date | time }} (GMT)</span>
    {% if item.user.name %}
        <span class="event-list__item__heading__recede"> by </span>{{ item.user.name }}
    {% endif %}
</h4>
{% if form.note_id == item.id %}
    {% include 'barriers/partials/note_form.html' %}
{% else %}
    <p class="event-list__item__text">{{ item.text|escape|linebreaksbr|urlize|safe|highlight_mentions:current_user.email  }}</p>
    {% if not barrier.archived %}
        <a class="event-list__item__edit-link" href="{% url 'barriers:edit_note' barrier.id item.id %}">Edit</a>
        {% if item.user.id == current_user.id %}
            <a class="event-list__item__delete-link js-delete-modal" href="{% url 'barriers:delete_note' barrier.id item.id %}">Delete</a>
        {% endif %}
    {% endif %}
    {% if item.documents %}
        <div class="event-list__item__document">
            <ul class="event-list__item__document__list">
                {% for doc in item.documents %}
                    <li class="event-list__item__document__list__item">
                        {% if doc.can_download %}
                            <a class="event-list__item__document__list__item__name" href="{% url 'barriers:download_document' doc.id %}">{{ doc.name }}</a> - {{ doc.size|filesizeformat }}
                        {% else %}
                            <span class="event-list__item__document__list__item__name">{{ doc.name }}</span>
                            <span class="event-list__item__document__list__item__status">({{ doc.readable_status }})</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}
