{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Delete CSV Download{% endblock %}

{% block outside_content %}
    <div class="govuk-width-container ma-container-full">
        <a href="{% url 'barriers:dashboard' %}" class="govuk-back-link">Back</a>
    </div>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text=' Delete CSV Download' %}

    <section class="restrict-width">
        <form action="" method="POST">
            {% csrf_token %}

            <h3>Are you sure you want to delete the following CSV Download?</h3>

            <div class="barrier-download barrier-download--compact">
                <h4 class="barrier-download__title barrier-download__title--compact">{{ barrier_download.name }}</h4>

                {% if barrier_download.filters %}
                    <ul class="barrier-download__filter-list">
                        {% for name, value in barrier_download.readable_filters.items %}
                            <li class="barrier-download__filter-list-item">{{ value.readable_value|striptags }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <button class="govuk-button" data-module="govuk-button">Confirm</button>
            <a href="{% url 'barriers:dashboard' %}" class="form-cancel">Cancel</a>
        </form>
    </section>

{% endblock %}
