{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Your download is being prepared{% endblock %}

{% block outside_content %}
    <div class="govuk-width-container ma-container-full">
        <a href="{% url 'barriers:dashboard' %}" class="govuk-back-link">Back</a>
    </div>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Your download is being prepared' %}

    <p>Please wait while your CSV file is being generated...</p>
    <progress id="progressBar" value="0" max="100"></progress>
    <p id="progressText">0%</p>

    <script>
        var progressBar = document.getElementById("progressBar");
        var progressText = document.getElementById("progressText");

        function updateProgress(progress) {
            progressBar.value = progress;
            progressText.textContent = progress + "%";
        }

        // Call the updateProgress function with the progress value
        let progressValue = `{{ barrier_download.status }}` === "PROCESSING" ? 50 : 100;
        updateProgress(progressValue);
    </script>
{% endblock %}
