{% extends "barriers/edit/base.html" %}

{% load static %}

{% block page_title %}{{ block.super }} - Edit WTO information{% endblock %}

{% block body_script %}
    <script src="{% static 'js/vue-bundle.js' %}"></script>
    <script>
        ma.pages.barrier.wto();
        var csrftoken = ma.get_csrf_token();
    </script>
{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:edit_wto_status' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='About the barrier' %}
    {% form_error_banner form %}

    <div class="govuk-inset-text">
        Leave items blank if you do not know the answer
    </div>

    <form action="" method="POST" enctype="multipart/form-data" class="restrict-width" data-xhr-upload="{% url 'barriers:add_wto_document' barrier.id %}">
        {% csrf_token %}

        {% if form.committee_notified %}
            {% include "partials/forms/select_input.html" with field=form.committee_notified field_classes="govuk-!-width-one-half" %}
        {% endif %}

        {% if form.committee_notification_link %}
            {% include "partials/forms/text_input.html" with field=form.committee_notification_link %}
        {% endif %}

        {% if form.committee_notification_document %}
            {% url 'barriers:delete_wto_document' barrier.id committee_notification_document.id as delete_document_url %}
            <div class="committee_notification_document_container">
                {% include "partials/forms/file_input.html" with document=committee_notification_document field=form.committee_notification_document  delete_url=delete_document_url %}
            </div>
        {% endif %}

        {% include 'partials/forms/typeahead.html' with placeholder='Search member states' field=form.member_states field_classes="govuk-!-width-two-thirds" %}
        {% include "partials/forms/select_input.html" with field=form.committee_raised_in field_classes="govuk-!-width-one-half" %}

        {% if form.meeting_minutes %}
            {% url 'barriers:delete_wto_document' barrier.id meeting_minutes.id as delete_document_url %}
            <div class="meeting_minutes_container">
                <label class="govuk-label govuk-label--s" for="{{ field.name }}">{{ form.meeting_minutes.label }}</label>
                {% include "partials/forms/file_input.html" with document=meeting_minutes field=form.meeting_minutes delete_url=delete_document_url %}
            </div>
        {% endif %}

        {% include "partials/forms/date_input.html" with field=form.raised_date %}
        {% include "partials/forms/text_input.html" with field=form.case_number field_classes="govuk-!-width-one-half" %}

        <button class="govuk-button js-submit-button" data-module="govuk-button">Save and return to barrier</button>
        <a class="form-cancel" href="{% url 'barriers:cancel_wto_documents' barrier.id %}">Cancel</a>
    </form>

{% endblock %}
