<div id="{{ form.dormant_summary.name }}" class="govuk-form-group{% if form.dormant_summary.errors %} govuk-form-group--error{% endif %}">
    <label class="govuk-label govuk-label--s" for="{{ form.dormant_summary.name }}">{{ form.dormant_summary.label }}</label>

    {% if form.dormant_summary.errors %}
        <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ form.dormant_summary.errors.as_text }}
        </span>
    {% endif %}

    <textarea class="govuk-textarea{% if form.dormant_summary.errors %} govuk-textarea--error{% endif %}" id="{{ form.dormant_summary.name }}" name="{{ form.dormant_summary.name }}" rows="5"></textarea>
</div>
