<div class="govuk-form-group{% if form.dormant_summary.errors %} govuk-form-group--error{% endif %}">
    <label class="govuk-label govuk-label--s" for="{{ form.dormant_summary.name }}">{{ form.dormant_summary.label }}</label>

    {% form_field_error form "dormant_summary" %}

    <textarea class="govuk-textarea{% if form.dormant_summary.errors %} govuk-textarea--error{% endif %}" id="{{ form.dormant_summary.name }}" name="{{ form.dormant_summary.name }}" rows="5">{% if form.dormant_summary.value %}{{ form.dormant_summary.value }}{% endif %}</textarea>
</div>
