<div id="{{ form.reopen_summary.name }}" class="govuk-form-group{% if form.reopen_summary.errors %} govuk-form-group--error{% endif %}">
    <label class="govuk-label govuk-label--s" for="{{ form.reopen_summary.name }}">{{ form.reopen_summary.label }}</label>

    {% form_field_error form "reopen_summary" %}

    <textarea class="govuk-textarea{% if form.reopen_summary.errors %} govuk-textarea--error{% endif %}" id="{{ form.reopen_summary.name }}" name="{{ form.reopen_summary.name }}" rows="5"></textarea>
</div>
