<div id="{{ form.part_resolved_date.name }}" class="govuk-form-group{% if form.part_resolved_date.errors %} govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" {% if form.part_resolved_date.errors %}aria-desribedby="status-date-group-error"{% endif %} role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Date the barrier was partially resolved</legend>

        {% form_field_error form "part_resolved_date" %}

        <div class="govuk-date-input">
            {{ form.part_resolved_date }}
        </div>
    </fieldset>
</div>

<div class="govuk-form-group{% if form.part_resolved_summary.errors %} govuk-form-group--error{% endif %}">
    <label class="govuk-label govuk-label--s" for="{{ form.part_resolved_summary.name }}">{{ form.part_resolved_summary.label }}</label>

    {% form_field_error form "part_resolved_summary" %}

    <textarea class="govuk-textarea{% if form.part_resolved_summary.errors %} govuk-textarea--error{% endif %}" id="{{ form.part_resolved_summary.name }}" name="{{ form.part_resolved_summary.name }}" rows="5">{% if form.part_resolved_summary.value %}{{ form.part_resolved_summary.value }}{% endif %}</textarea>
</div>
