<div id="{{ form.resolved_date.name }}" class="govuk-form-group{% if form.resolved_date.errors %} govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" {% if form.resolved_date.errors %}aria-desribedby="status-date-group-error"{% endif %} role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Date the barrier was resolved</legend>
        <span id="resolved-in-full-date-hint" class="govuk-hint">{{ form.resolved_date.help_text}}</span>

        {% form_field_error form "resolved_date" %}

        <div class="govuk-date-input">
            {{ form.resolved_date }}
        </div>
    </fieldset>
</div>

<div class="govuk-form-group{% if form.resolved_summary.errors %} govuk-form-group--error{% endif %}">
    <label class="govuk-label govuk-label--s" for="{{ form.resolved_summary.name }}">{{ form.resolved_summary.label }}</label>

    {% form_field_error form "resolved_summary" %}

    <textarea class="govuk-textarea{% if form.resolved_summary.errors %} govuk-textarea--error{% endif %}" id="{{ form.resolved_summary.name }}" name="{{ form.resolved_summary.name }}" rows="5">{% if form.resolved_summary.value %}{{ form.resolved_summary.value }}{% endif %}</textarea>
</div>
