{% if barrier.economic_assessment_eligibility is True %}
    {% with assessment=barrier.current_economic_assessment %}
        {% if assessment %}
            {% if assessment.approved %}
                <div class="assessment-item__section">
                    <dt class="ma-data-key">Economic assessment</dt>
                    <dd class="ma-data-value">
                        {{ assessment.rating.name }}
                    </dd>

                    <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">View assessment detail</span>
                        </summary>
                        <div class="govuk-details__text">
                            {% if assessment.automated_analysis_data %}
                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                            View initial assessment data
                                        </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        {% if assessment.automated_analysis_data %}
                                            {% include "barriers/assessments/economic/partials/export_potential.html" with data=assessment.automated_analysis_data classes="govuk-!-font-size-16" %}
                                        {% endif %}
                                    </div>
                                </details>
                            {% endif %}

                            <dt class="ma-data-key">Assessment explanation</dt>
                            <dd class="ma-data-value">
                                {{ assessment.explanation|linebreaks }}

                                {% if assessment.automated_analysis_data %}
                                    <a href="{% url 'barriers:economic_assessment_raw_data' barrier.id assessment.id %}">View raw data</a>
                                {% endif %}
                            </dd>
                            <dt class="ma-data-key">Assessment produced by</dt>
                            <dd class="ma-data-value ma-data-value--s">
                                {{ assessment.created_by.name }} on {{ assessment.created_on|date:"j F Y" }}
                                {% if assessment.automated_analysis_data %}
                                    <ul class="ma-metadata-list govuk-!-margin-top-2">
                                        <li class="ma-metadata-list__item">Model version: {{ assessment.automated_analysis_data.version }}</li>
                                        <li class="ma-metadata-list__item">Years: {{ assessment.automated_analysis_data.start_year }}-{{ assessment.automated_analysis_data.end_year }}</li>
                                    </ul>
                                {% endif %}
                            </dd>

                            {% if assessment.documents %}
                                <dt class="ma-data-key">Documents</dt>
                                <dd class="ma-data-value">
                                    {% include "barriers/assessments/partials/documents_list.html" with documents=assessment.documents %}
                                </dd>
                            {% endif %}

                            <dt class="ma-data-key">Assessment accepted by</dt>
                            <dd class="ma-data-value ma-data-value--s">
                                {{ assessment.reviewed_by.name }} on {{ assessment.reviewed_on|date:"j F Y" }}
                            </dd>
                            {% if current_user|has_permission:"archive_economicassessment" %}
                                <a href="{% url 'barriers:archive_economic_assessment' barrier.id assessment.id %}" class="govuk-button govuk-button--secondary" data-module="govuk-button">Archive</a>
                            {% endif %}
                        </div>
                    </details>
                </div>
                {% if current_user|has_permission:"add_economicassessment" %}
                    <div class="assessment-item__section">
                        <a href="{% url 'barriers:add_economic_assessment' barrier.id %}">Add an initial economic assessment</a>
                        <p class="assessment-item-content__hint">This is the economic importance of a barrier using trade and economic analysis from Market Access Analysts and business estimates of the value of the barrier.</p>
                    </div>
                {% endif %}
            {% elif assessment.ready_for_approval %}
                {% if current_user|has_permission:"approve_economicassessment" %}
                    <div class="assessment-item__section">
                        {% include "partials/warning.html" with warning_text="Initial economic assessment ready for review" icon_modifier="small" extra_classes="govuk-!-margin-bottom-0 govuk-!-padding-bottom-0" %}

                        <a class="assessment-item__approval-link" href="{% url 'barriers:edit_economic_assessment_rating' barrier.id assessment.id %}">
                            Initial economic assessment - {{ assessment.created_on|date:"j F Y" }}
                        </a>
                    </div>
                {% else %}
                    <p>This barrier has been marked as eligible for an initial economic assessment - awaiting completion of assessment.</p>
                {% endif %}
            {% else %}
                {% if current_user|has_permission:"change_economicassessment" %}
                    <div class="assessment-item__section">
                        <a href="{% url 'barriers:edit_economic_assessment_rating' barrier.id assessment.id %}">Continue with assessment</a>
                        <p class="assessment-item-content__hint">An assessment has been started but not yet completed (marked as ready).</p>
                    </div>
                {% else %}
                    <p>This barrier has been marked as eligible for an initial economic assessment - awaiting completion of assessment.</p>
                {% endif %}
            {% endif %}

        {% else %}
            <div class="assessment-item__section">
                <p class=" govuk-!-margin-bottom-0">This barrier has been marked as eligible for an initial economic assessment.</p>
            </div>
            {% if current_user|has_permission:"add_economicassessment" %}
                <div class="assessment-item__section">
                    <a href="{% url 'barriers:add_economic_assessment' barrier.id %}">Add an initial economic assessment</a>
                    <p class="assessment-item-content__hint">This is the economic importance of a barrier using trade and economic analysis from Market Access Analysts and business estimates of the value of the barrier.</p>
                </div>
            {% endif %}
        {% endif %}
    {% endwith %}
    <a href="{% url 'barriers:economic_assessment_eligibility' barrier.id %}">Review and ammend eligibility for an initial economic assessment</a>
{% elif barrier.economic_assessment_eligibility is False %}
    <div class="assessment-item__section">
        <p>This barrier has been marked as ineligible for an initial economic assessment</p>
        <dt class="ma-data-key">Reason</dt>
        <dd class="ma-data-value">
            {{ barrier.economic_assessment_eligibility_summary|linebreaksbr }}
        </dd>
    </div>
    <div class="assessment-item__section">
        <a href="{% url 'barriers:economic_assessment_eligibility' barrier.id %}">Review and change this status</a>
    </div>
{% else %}
    <div class="assessment-item__section">
        <a href="{% url 'barriers:economic_assessment_eligibility' barrier.id %}">Is this barrier eligible for an initial economic assessment?</a>
        <p class="assessment-item-content__hint">This is the economic importance of a barrier using trade and economic analysis from Market Access Analysts and business estimates of the value of the barrier.</p>
    </div>
{% endif %}

{% if barrier.archived_economic_assessments %}
    <div class="assessment-item__section">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Previous assessments</h3>

        <ul class="assessment-item__list">
            {% for assessment in barrier.archived_economic_assessments %}
                <li class="assessment-item__list-item">
                    <a href="{% url 'barriers:economic_assessment_detail' barrier.id assessment.id %}">
                        Initial economic assessment - {{ assessment.created_on|date:"j F Y" }}{% if assessment.approved is False %} (Rejected){% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
