{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block page_title %}{{ block.super }} - Account home{% endblock %}
{% block main %}
    <main class="govuk-main-wrapper govuk-main-wrapper--dashboard"
          id="main-content"
          role="main">
        {% block content %}

            <section class="govuk-grid-row grey m-b-6">
                <!-- <a href="{% url 'barriers:home' %}" class="govuk-back-link govuk-grid-column-full ma-container-full">Back</a> -->
                <div class="govuk-grid-column-full ma-container-full p-t-4">
                    <h1 class="govuk-heading-xl">
                        <span class="govuk-caption-m">{{ current_user.first_name }} {{ current_user.last_name }}</span>
                        Account home
                    </h1>
                    <nav class="govuk-form-group">
                        <div>
                            <div class="dashboard-search-link-container">
                                <a href="{% url 'barriers:account_home' %}" class="govuk-link">My profile</a>
                            </div>
                            <div class="dashboard-search-link-container">
                                <a href="{% url 'barriers:dashboard' %}?active=saved_searches" class="govuk-link--no-visited-state-dark">My saved searches</a>
                            </div>
                            <div class="dashboard-search-link-container">
                                <a href="{% url 'barriers:dashboard' %}?active=barrier_downloads" class="govuk-link--no-visited-state-dark">My downloads</a>
                            </div>
                            <div class="dashboard-search-link-container">
                                <a href="{% url 'barriers:dashboard' %}?active=barriers" class="govuk-link--no-visited-state-dark">My barriers</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </section>
            
            <section class="ma-container-full govuk-grid-row">
                <div class="govuk-grid-column-full">{% include "barriers/partials/account_home_my_profile.html" %}</div>
            </section>

            <section class="ma-container-full govuk-grid-row">
                <div class="govuk-grid-column-full">{% include "barriers/partials/account_home_role_areas_of_interest.html" %}</div>
            </section>

            </section>
        {% endblock %}
    </main>
{% endblock %}