{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Homepage{% endblock %}

{% block body_script %}
    <script nonce="{{request.csp_nonce}}">
        ma.pages.index();
    </script>
{% endblock %}

{% block page_content %}
    {% include 'barriers/partials/dashboard_heading.html' %}

    {% include 'barriers/partials/dashboard_tabs.html' with active=active new_mentions_count=new_mentions_count %}

    {% if active == 'barriers' %}
        <section>
            <ul class="ma-card-list">
                <li class="ma-card-list__item">
                    <div class="saved-search__content">
                        <h3 class="saved-search__title"><a href="{% url 'barriers:search' %}?user=1">Barriers I have created</a></h3>
                        <p class="saved-search__description">You will always appear as the reporter in the 'barrier team' tab</p>
                        {% include "barriers/partials/saved_search_badges.html" with saved_search=my_barriers_saved_search my_barriers=True %}
                    </div>

                    <a class="saved-search__notifications" href="{% url 'barriers:saved_search_notifications' 'my-barriers' %}">Notifications: {{ my_barriers_saved_search.notifications_text }}</a>
                </li>
                <li class="ma-card-list__item">
                    <div class="saved-search__content">
                        <h3 class="saved-search__title"><a href="{% url 'barriers:search' %}?team=1">Barriers I own or am working on</a></h3>
                        <p class="saved-search__description">When you add, update or comment on a barrier you will appear in the 'barrier team' tab.</p>
                        <p class="saved-search__description">In this tab you can change ownership or add or remove yourself from a barrier.</p>
                        {% include "barriers/partials/saved_search_badges.html" with saved_search=team_barriers_saved_search team_barriers=True %}
                    </div>

                    <a class="saved-search__notifications" href="{% url 'barriers:saved_search_notifications' 'team-barriers' %}">Notifications: {{ team_barriers_saved_search.notifications_text }}</a>
                </li>
                <li class="ma-card-list__item">
                    <h3 class="saved-search__title"><a href="{% url 'reports:draft_barriers' %}">Draft barriers</a></h3>
                    <p class="saved-search__description">Barriers I have created and not yet submitted.</p>
                    <p><span class="ma-badge">{{ draft_barriers|length }} total</span></p>
                </li>
            </ul>
        </section>
    {% endif %}

    {% if active == 'mentions' %}
        <section>
            <h2 class="ma-list-heading">
                <div class="ma-list-heading__heading"><span class="ma-list-heading__count">{{ mentions|length }}</span> mentions</div>

                <div class="ma-list-heading__actions">

                    <span class="ma-list-heading__action">
                        {% if notification_exclusion.mention_notifications_enabled %}
                            <a href="{% url 'barriers:mention_turn_notifications_off' %}">Email notifications: On</a>
                        {% else %}
                            <a href="{% url 'barriers:mention_turn_notifications_on' %}">Email notifications: Off</a>
                        {% endif %}
                    </span>
                    <span class="ma-list-heading__action">
                        {% if are_all_mentions_read %}
                            <a href="{% url 'barriers:mention_mark_all_as_unread' %}">Mark all as unread</a>
                        {% else %}
                            <a href="{% url 'barriers:mention_mark_all_as_read' %}">Mark all as read</a>
                        {% endif %}
                    </span>
                </div>

            </h2>


            <ul class="ma-card-list">
                {% for mention in mentions %}
                    {% include "barriers/partials/mention.html" with mention=mention %}
                {% empty %}
                    <li class="mention-item ma-card-list__item">
                        <p>You have no mentions</p>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    {% if active == 'saved_searches' %}
        <section>
            <h2 class="ma-list-heading"><span class="ma-list-heading__count">{{ saved_searches|length }}</span> saved search{{ saved_searches|length|pluralize:"es" }}</h2>

            <ul class="ma-card-list">
                {% for saved_search in saved_searches %}
                    <li class="ma-card-list__item saved-search">
                        <div class="saved-search__content">
                            <h3 class="saved-search__title"><a href="{% url 'barriers:search' %}?{{ saved_search.querystring }}&search_id={{ saved_search.id }}">{{ saved_search.name }}</a></h3>

                            {% include "barriers/partials/saved_search_badges.html" %}

                            {% if saved_search.filters %}
                                <ul class="saved-search__filter-list">
                                    {% for name, value in saved_search.readable_filters.items %}
                                        <li class="saved-search__filter-list-item">{{ value.readable_value|striptags }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <a class="saved-search__notifications" href="{% url 'barriers:saved_search_notifications' saved_search.id %}">Notifications: {{ saved_search.notifications_text }}</a>

                        <div class="saved-search__actions">
                            <a class="saved-search__action-item" href="{% url 'barriers:rename_saved_search' saved_search.id %}">Rename</a>
                            <a class="saved-search__action-item" href="{% url 'barriers:delete_saved_search' saved_search.id %}">Delete</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    {% if active == 'barrier_downloads' %}
        <section>
            <h2 class="ma-list-heading"><span class="ma-list-heading__count">{{ barrier_downloads|length }}</span> download{{ barrier_downloads|length|pluralize:"s" }}</h2>
            {% if barrier_downloads|length == 0 %}
                <p>You have no downloads</p>
                <p><a href="">How do I download barriers?</a></p>
            {% else %}
                <p>By downloading files from this page you are agreeing to the <a href="https://workspace.trade.gov.uk/working-at-dbt/policies-and-guidance/policies/acceptable-use-policy/">acceptable use agreement</a></p>
                <ul class="ma-card-list">
                    {% for download in barrier_downloads %}
                        <li class="ma-card-list__item barrier-download">
                            <div class="barrier-download__content">
                                <div class="barrier-download__content--item">
                                    <h3 class="barrier-download__title">{{download.name}}</h3>
                                    <p>{{download.count}} result{{download.count|length|pluralize:"s"}}</p>

                                    {% if download.filters %}
                                        <ul class="barrier-download__filter-list">
                                            {% for name, value in download.readable_filters.item %}
                                                <li class="barrier-download__filter-list-item">{{ value.readable_value|striptags }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>

                                <div class="barrier-download__content--item">
                                    <p>Download status: <span class="title">{{ download.status }}</span></p>
                                    <p class="time-item">Requested {{ download.created_on|timesince }}</p>
                                    <a href="{% url 'barriers:download-link' download.id %}">Download results</a>
                                </div>

                                <div class="barrier-download__content--item actions">
                                    <a class="barrier-download__action-item" href="{% url 'barriers:delete-download' download.id %}">Delete</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    {% endif %}

{% endblock %}
