{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Homepage{% endblock %}

{% block body_script %}
    <script>
        ma.pages.index();
    </script>
{% endblock %}

{% block page_content %}
    {% include 'barriers/partials/dashboard_heading.html' %}

    {# TODO: isWatchList #}
    {% if barriers or isWatchList %}
        <div class="dashboard-results-header">
            <h2 class="dashboard-results-header__title">{{ barriers|length }}<span class="dashboard-results-header__title__caption"> barrier{{ barriers|pluralize }}</span></h2>
            <div class="dashboard-results-header__link-wrapper js-toggle-box-control">
                <a class="dashboard-results-header__link js-list-link js-only" href="{% url 'barriers:dashboard' %}"> Edit list filters </a>
                <a class="dashboard-results-header__link js-list-link" href="{% url 'barriers:rename_watchlist' watchlist_index %}"> Rename list </a>
                <a class="dashboard-results-header__link js-list-link" href="{% url 'barriers:remove_watchlist' watchlist_index %}"> Delete list </a>
            </div>
            <div class="toggle-box">
                {% if watchListFilters %}
                    <ul>
                        {% for watchListFilter in watchListFilters %}
                            <li>{{ watchListFilter.key | upper }}: <strong>{{ watchListFilter.value }}</strong></li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'barriers:dashboard' %}">Edit list filters</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if barriers %}

        {# TODO: Pagination #}
        {% if paginationData.totalPages > 1 %}
        <p class="dashboard-page-summary">
            Page {{ paginationData.currentPage }} of {{ paginationData.totalPages }}
        </p>
        {% endif %}

        <div class="overflow-wrapper">
        <table class="standard-table standard-table--barriers">
            <thead>
                <tr class="standard-table__heading-row">
                    {% include 'partials/table_heading.html' with text="Priority" field='priority' %}
                    {% include 'partials/table_heading.html' with text="Last updated" field='modified_on' %}
                    {% include 'partials/table_heading.html' with text="Barrier title" %}
                    {% include 'partials/table_heading.html' with text="Sectors affected" %}
                    {% include 'partials/table_heading.html' with text="Barrier location" field='export_country' %}
                    {% include 'partials/table_heading.html' with text="Status" field='status' %}
                    {% include 'partials/table_heading.html' with text="Date added" field='reported_on' %}
                </tr>
            </thead>
            <tbody>
                {% for barrier in barriers %}
                <tr class="standard-table__row">
                    <td class="standard-table__cell"><span class="priority-marker priority-marker--{{ barrier.priority.code|lower }}"></span>{{ barrier.priority.name }}</td>
                    <td class="standard-table__cell">{{ barrier.modified_on|date:"j F Y" }}</td>
                    <td class="standard-table__cell">
                        <a class="dashboard-table__barrier-title" href="{% url 'barriers:barrier_detail' barrier.id %}">
                            {{ barrier.title }}
                        </a>
                        {{ barrier.code }}
                    </td>
                    <td class="standard-table__cell">
                        {% include 'partials/collapsible.html' with items=barrier.sector_names %}
                    </td>
                    <td class="standard-table__cell">{{ barrier.country.name }}</td>
                    <td class="standard-table__cell"><span class="barrier-status-table-badge barrier-status-table-badge--{{ barrier.status.modifier }}">{{ barrier.status.name }}</span></td>
                    <td class="standard-table__cell">{{ barrier.reported_on|date:"j F Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        {% include 'partials/pagination.html' %}

    {% elif isWatchList %}
        <div class="no-results-box">
            <p><strong>There are no barriers for your search yet</strong></p>
            <p> We'll update your watch list if you get a match. Or you can <a href="{% url 'barriers:dashboard' %}"> edit your search </a></p>
        </div>
    {% else %}
        <div class="no-results-box">
            <p><strong>Your watch list</strong></p>
            <p> You can create your own list of existing barriers to watch. For example, all barriers in a certain country, or all barriers in a specific sector. </p>
            <a href="{% url 'barriers:find_a_barrier' %}"> Create your watch list </a>
        </div>
    {% endif %}

{% endblock %}
