{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Homepage{% endblock %}

{% block body_script %}
    <script>
        ma.pages.index();
    </script>
{% endblock %}

{% block page_content %}
    {% include 'barriers/partials/dashboard_heading.html' %}

    <section>
        <ul class="ma-card-list">
            <li class="ma-card-list__item">
                <h3 class="saved-search__title"><a href="{% url 'barriers:find_a_barrier' %}?">My barriers</a></h3>
                <p><span class="ma-badge">6 barriers</span></p>
            </li>
            <li class="ma-card-list__item">
                <h3 class="saved-search__title"><a href="{% url 'barriers:find_a_barrier' %}?">Team barriers</a></h3>
                <p><span class="ma-badge">6 barriers</span></p>
            </li>
            <li class="ma-card-list__item">
                <h3 class="saved-search__title"><a href="{% url 'barriers:find_a_barrier' %}?">Draft barriers</a></h3>
                <p><span class="ma-badge">6 draft barriers</span></p>
            </li>
        </ul>
    </section>

    <section>
        <h2 class="saved-search-heading">{{ saved_searches|length }}<span class="dashboard-results-header__title__caption"> saved search{{ saved_searches|length|pluralize:"es" }}</span></h2>

        <ul class="ma-card-list">
            {% for saved_search in saved_searches %}
                <li class="ma-card-list__item saved-search">
                    <h3 class="saved-search__title"><a href="{% url 'barriers:find_a_barrier' %}?{{ saved_search.querystring }}&search_id={{ saved_search.id }}">{{ saved_search.name }}</a></h3>

                    <p><span class="ma-badge">{{ saved_search.barrier_count }} barrier{{ saved_search.barrier_count|pluralize }}</span> in total</p>
                    <p>
                        {% if saved_search.new_count > 0 %}
                            <span class="ma-badge ma-badge--new">{{ saved_search.new_count }} new</span>
                        {% endif %}
                        {% if saved_search.updated_count > 0 %}
                            <span class="ma-badge ma-badge--updated">{{ saved_search.updated_count }} updated</span>
                        {% endif %}
                        {% if saved_search.new_count > 0 or saved_search.updated_count > 0 %}
                            since you last viewed this saved search
                        {% endif %}
                    </p>

                    {% if saved_search.filters %}
                        <ul class="saved-search__filter-list">
                            {% for name, value in saved_search.readable_filters.items %}
                                <li class="saved-search__filter-list-item">{{ value.readable_value|striptags }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}
