{% extends 'base.html' %}

{% load static %}

{% block page_title %}{{ block.super }} - Find a barrier{% endblock %}

{% block body_script %}
    <script src="{% static 'js/vue/vue-bundle.js' %}"></script>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with caption='Market access barriers' text='Find a barrier' %}

    <section class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <h2 class="filter-list-title">Filter barriers by:</h2>
            <form action="" method="GET" class="filter-items">

                {% if form.search_id.value %}{{ form.search_id }}{% endif %}

                <div id="{{ form.search.name }}" class="govuk-form-group filter-items-group">
                    <label class="govuk-label filter-items__label" for="search">
                      {{ form.search.label }}
                    </label>

                    <input class="govuk-input" name="search" type="text" value="{% if form.search.value %}{{ form.search.value }}{% endif %}">
                </div>

                {% include "partials/forms/search_typeahead.html" with placeholder='Search locations' field=form.country %}
                {% include "partials/forms/checkbox_filter.html" with field=form.trade_direction %}
                {% include "partials/forms/search_typeahead.html" with placeholder='Search sector' field=form.sector %}
                {% include "partials/forms/search_typeahead.html" with placeholder='Search type' field=form.type %}
                {% include "partials/forms/search_typeahead.html" with placeholder='Search regions' field=form.region extra_classes='js-filter' %}
                {% include 'partials/forms/checkbox_filter.html' with field=form.priority extra_classes='barrier-priority-filter' %}
                {% include 'partials/forms/checkbox_filter.html' with field=form.status %}

                {% include 'partials/forms/checkbox_filter.html' with field=form.wto %}

                {% include 'partials/forms/checkbox_filter.html' with field=form.tags %}

                <div id="show" class="govuk-form-group filter-group">
                    <fieldset class="govuk-fieldset filter-group__inner">
                        <legend class="govuk-fieldset__legend filter-items__label filter-group__label">Show</legend>

                        <div class="checkbox-filter govuk-!-width-full">
                            {% include 'partials/forms/checkbox.html' with field=form.user %}
                            {% include 'partials/forms/checkbox.html' with field=form.team %}
                            {% include 'partials/forms/checkbox.html' with field=form.only_archived %}
                        </div>
                    </fieldset>
                </div>

                {% if filters %}
                <a class="filter-items__clear" href="{% url 'barriers:find_a_barrier' %}">Remove all filters</a>
                {% endif %}

                <input type="submit" value="Apply filters" class="govuk-button govuk-button--full-width js-filter-submit">
            </form>
        </div>
        <div class="govuk-grid-column-three-quarters">

            <div class="filter-results-header">
                {% if saved_search %}
                    <h2 class="search-title">{{ saved_search.name }}</h2>
                {% elif search_title %}
                    <h2 class="search-title">{{ search_title }}</h2>
                {% elif member %}
                    <h2 class="search-title">{{ member.user.full_name }}</h2>
                {% endif %}

                {% if filters %}
                    <div class="filter-results-header__row">
                        {% if have_filters_changed %}
                            <div class="filter-results-header__row-item">
                                <p class="filter-results-header__info">You have unsaved changes.</p>
                            </div>
                        {% endif %}

                        {% if saved_search_updated %}
                            <div class="filter-results-header__row-item">
                                <p class="filter-results-header__info">Your search has been successfully saved.</p>
                            </div>
                        {% endif %}

                        <div class="filter-results-header__row-item">
                            {% if form.search_id.value is not None %}
                                {% if have_filters_changed %}
                                    <form class="filter-results-header__update_form" method="post">
                                        {% csrf_token %}
                                        <button class="govuk-button button-as-link filter-results-header__update-button" name="update_search" value="1">Update saved search</button>
                                    </form>
                                    <a href="{% url 'barriers:edit_watchlist' %}?{{ pageless_querystring }}" class="govuk-button filter-results-header__save-button">Save as new search</a>
                                {% endif %}
                            {% elif filters and not search_title %}
                                <a href="{% url 'barriers:new_saved_search' %}?{{ pageless_querystring }}" class="govuk-button filter-results-header__save-button">Save as new search</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="filter-results-header__row">
                    <h2 class="filter-results-title filter-results-header__row-item">{{ barriers.total_count }}<span class="filter-results-title__caption"> barrier{{ barriers.total_count|pluralize }}</span></h2>

                    <div class="filter-results-header__row-item">
                        {% if form.search_id.value is not None %}
                            <a class="" href="">Notifications: off</a>
                        {% endif %}

                        {% if filters %}
                            <a class="filter-results-clear-link" href="{% url 'barriers:find_a_barrier' %}{% if request.GET.edit %}?edit={{ request.GET.edit }}{% endif %}">Remove all filters</a>
                        {% endif %}
                    </div>
                </div>

                {% if filters %}
                    <h3 class="visually-hidden">Active filters:</h3>
                    <ul class="active-filters">
                        {% include 'barriers/partials/active_filter.html' with filter=filters.member %}
                        {% include 'barriers/partials/active_filter.html' with filter=filters.country %}
                        {% include 'barriers/partials/active_filter.html' with filter=filters.trade_direction %}
                        {% include 'barriers/partials/active_filter.html' with filter=filters.sector %}
                        {% include 'barriers/partials/active_filter.html' with filter=filters.type %}
                        {% include 'barriers/partials/active_filter.html' with filter=filters.search %}
                        {% include 'barriers/partials/active_filter.html' with filter=filters.region %}
                        {% include 'barriers/partials/active_filter.html' with filter=filters.priority %}
                        {% include 'barriers/partials/active_filter.html' with filter=filters.status %}
                        {% include 'barriers/partials/active_filter.html' with filter=filters.wto %}
                        {% include 'barriers/partials/active_filter.html' with filter=filters.tags %}
                        {% include 'barriers/partials/active_filter.html' with filter=filters.show %}
                    </ul>
                {% endif %}
            </div>

            {% if pagination.total_pages > 1 %}
            <p class="filter-results-pagination-summary">
                Page {{ pagination.current_page }} of {{ pagination.total_pages }}
            </p>
            {% endif %}

            <p class="filter-results-download">
                {% if barriers %}
                    <span class="filter-results-download__text">
                    {% if barriers.total_count == 1 %}
                        You can download this barrier
                    {% else %}
                        You can download these {{ barriers.total_count }} barriers
                    {% endif %}
                    </span>
                    <a class="govuk-button filter-results-download__button" href="{% url 'barriers:download' %}{% if request.GET %}?{{ pageless_querystring }}{% endif %}">Download</a>
                {% else %}
                    <span class="filter-results-download__text">There are no barriers to download</span>
                {% endif %}
            </p>

            <ol class="filter-results-list">
                {% for barrier in barriers %}
                    <li class='filter-results-list__item' data-barrier-id="{{ barrier.id }}">
                        <div class="filter-results-list__item__main-content">
                            {% if barrier.archived %}
                                <div class="govuk-warning-text govuk-!-margin-bottom-2">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text">
                                        <span class="govuk-warning-text__assistive">Warning</span>
                                        This barrier was archived on {{ barrier.archived_on|date:"j F Y" }}
                                    </strong>
                                </div>
                            {% endif %}
                            <h3 class='filter-results-list__item__heading'>
                                {% if saved_search %}
                                    {% if barrier.id in saved_search.new_barrier_ids %}
                                        <span class="ma-badge ma-badge--new">New</span>
                                    {% endif %}
                                    {% if barrier.id in saved_search.updated_barrier_ids %}
                                        <span class="ma-badge ma-badge--updated">Updated</span>
                                    {% endif %}
                                {% endif %}
                                <a href="{% url 'barriers:barrier_detail' barrier.id %}">{{ barrier.title }}</a>
                            </h3>
                            <dl class="filter-results-list__item__definitions">

                                <dt class="filter-results-list__item__definitions__key visually-hidden">ID:</dt>
                                <dd class="filter-results-list__item__definitions__value">{{ barrier.code }}</dd>

                                <dt class="filter-results-list__item__definitions__key">Reported:</dt>

                                <dd class="filter-results-list__item__definitions__value">{{ barrier.reported_on|date:"j F Y" }}</dd>

                                {% if barrier.sectors %}
                                <dt class="filter-results-list__item__definitions__key">Sector{{ barrier.sectors|pluralize }} affected:</dt>
                                <dd class="filter-results-list__item__definitions__value">{{ barrier.sector_names|join:', ' }}</dd>
                                {% endif %}

                                <dt class="filter-results-list__item__definitions__key">Barrier location:</dt>
                                <dd class="filter-results-list__item__definitions__value">{{ barrier.location }}</dd>
                            </dl>
                        </div>

                        <div class="filter-results-list__item__sub-content">
                            <div class="barrier-status-badge barrier-status-badge--compact barrier-status-badge--{{ barrier.status.modifier }}">
                                <strong>{{ barrier.status.name }}</strong>
                                <div class="priority-marker-wrapper">
                                    <span class="priority-marker priority-marker--{{ barrier.priority.code|lower }}"></span><strong>{{ barrier.priority.name }}</strong> priority
                                </div>
                            </div>

                            {% if barrier.tags %}
                                <ul class="barrier-tag-list">
                                    {% spaceless %}
                                        {% for tag in barrier.tags %}
                                        <li class="barrier-tag-list__tag">{{ tag.title }}</li>
                                        {% endfor %}
                                    {% endspaceless %}
                                </ul>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ol>

            {% include 'partials/pagination.html' %}

        </div>
    </section>

{% endblock %}
