{% extends 'base.html' %}
{% block page_title %}{{ block.super }} - Homepage{% endblock %}

{% block body_script %}
    <script nonce="{{request.csp_nonce}}">
        ma.pages.index();
    </script>
{% endblock %}

{% block main %}
    {% block before_content %}
        <div class="m-l-6">
            {{ block.super }}
        </div>
    {% endblock %}
    <main class="govuk-main-wrapper govuk-main-wrapper--dashboard" id="main-content" role="main">
        {% block content %}
            <div class="govuk-grid-row grey p-l-4 p-t-6">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">
                        <span class="govuk-caption-m">Market access barriers</span>
                        Dashboard
                    </h1>
                    <div class="govuk-form-group">
                        <form action="{% url 'barriers:search' %}" method="GET">
                            <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="search" type="text" placeholder="Search for barrier by name or with key terms.">
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Search
                            </button>
                        </form>
                        <div>
                            <a href="{% url 'barriers:dashboard' %}?active=saved_searches" class="govuk-link govuk-link--no-visited-state-dark">My saved searches</a>
                            <a href="{% url 'barriers:dashboard' %}?active=barrier_downloads" class="govuk-link govuk-link--no-visited-state-dark">My downloads</a>
                            <a href="{% url 'barriers:search' %}?user=1" class="govuk-link govuk-link--no-visited-state-dark">My open barriers</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row p-l-4 p-r-6 p-t-6">
                <div class="govuk-grid-column-full">
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h3 class="govuk-summary-card__title">Complete barrier tasks and progress updates</h3>
                            <ul class="govuk-summary-card__actions">
                                <li class="govuk-summary-card__action">
                                    <a class="govuk-link" href="#">My Barriers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row p-l-4 p-r-6">
                <div class="govuk-grid-column-full">
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h3 class="govuk-summary-card__title">See data for barriers you're working on or monitoring</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row p-l-4 p-r-6">
                <div class="govuk-grid-column-full">
                    <div class="govuk-summary-card">
                        <h2 class="govuk-heading-m">Barrier next step progress across regions</h2>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row p-l-4 p-r-6">
                <div class="govuk-grid-column-full">
                    <div class="govuk-summary-card">
                        <h2 class="govuk-heading-m">What's new on DMAS</h2>
                    </div>
                </div>
            </div>
        {% endblock %}
    </main>
{% endblock %}
