{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block page_title %}{{ block.super }} - Homepage{% endblock %}
{% block head %}
    {% render_bundle 'main' 'js' 'REACT' %}
    {{ trading_blocs|json_script:"trading-blocs-data" }}
    {{ admin_areas|json_script:"admin-areas-data" }}
    {{ countries_with_admin_areas|json_script:"countries-with-admin-areas-data" }}
    {% block body_script %}
        <script nonce="{{request.csp_nonce}}">
            document.addEventListener("DOMContentLoaded", function (event) {
                ma.pages.index();

                // add the active filters to the active filters section
                let countryElement = document.getElementById("country");
                let tradingBlocElement = document.getElementById("country_trading_bloc");
                let tradingBlocs = JSON.parse(document.getElementById("trading-blocs-data").textContent);
                let adminAreas = JSON.parse(document.getElementById("admin-areas-data").textContent);
                let adminAreasCountries = JSON.parse(document.getElementById("countries-with-admin-areas-data").textContent);

                ReactApp.renderLocationFilter(countryElement, tradingBlocElement, tradingBlocs, adminAreas, adminAreasCountries)
                ReactApp.renderMultiSelectFilter("policy_team", "Search policy teams")
                ReactApp.renderMultiSelectFilter("sector")
                ReactApp.renderMultiSelectFilter("region", "Overseas Region")
                // load apply filter button
                ReactApp.renderApplyFilterButton("apply-filters-button", "Apply filters")

                window.addEventListener('resize', function(event) {
                    const search_submit_bar = document.getElementById("event-name");
                    const search_submit_button = document.getElementById("search_submit_button");
                    if (window.innerWidth < 768) {
                        search_submit_button.classList.add("dmas-search-field__submit");
                    }
                    else {
                        search_submit_button.classList.remove("dmas-search-field__submit");
                    }
                });
            })
        </script>
    {% endblock %}
{% endblock %}
{% block masthead %}
    <div class="ma-masthead">
        <div class="govuk-grid-row govuk-width-container ma-container-full govuk-!-padding-top-5 govuk-!-margin-left-0">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-m">Market access barriers</span>
                    Dashboard
                </h1>
                <div class="govuk-form-group">
                    <form action="{% url 'barriers:search' %}" method="GET">
                        <label class="govuk-visually-hidden" for="search_term">Search term</label>
                        <input class="govuk-input govuk-!-width-two-thirds"
                               id="search_term"
                               name="search_term_text"
                               type="text"
                               placeholder="Search for barrier by name or with key terms." />
                        <input type="hidden" name="ordering" value="relevance" />
                        <button id="search_submit_button"
                                type="submit"
                                class="govuk-button"
                                data-module="govuk-button">Search</button>
                    </form>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <!-- Dashboard version Toggle  -->
                <div class="dashboard-banner govuk-!-margin-bottom-0">
                    <div class="govuk-notification-banner"
                         role="region"
                         aria-labelledby="govuk-notification-banner-title"
                         data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__content">
                            <p class="govuk-heading-s">
                                Return to old dashboard
                                <label for="dashboard_switch" class="switch">
                                    <input type="checkbox"
                                           id="dashboard_switch"
                                           aria-label="Switch to old dashboard"
                                           onclick='window.location.assign("/?default=dashboard")'
                                           checked>
                                    <span class="slider round"></span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end dashboard toggle -->
                <div class="govuk-!-text-align-right">
                    <div class="dash-card govuk-!-text-align-left">
                        <span class="dash-card__heading">Get help</span>
                        <span class="dash-button__text dashboard_button__text">
                            Read the <a href="https://data-services-help.trade.gov.uk/market-access/the-market-access-playbook/"
                                        target="_blank">market access playbook</a> for help resolving your barriers.
                        </span>
                        <span class="dash-button__text dashboard_button__text">You can also find out:</span>
                        <ul class="dash-card__text dashboard_button__text">
                            <li>
                                <a href="https://data-services-help.trade.gov.uk/market-access/how-guides/"
                                   target="_blank">how to use DMAS</a>
                            </li>
                            <li>
                                <a href="https://data-services-help.trade.gov.uk/market-access/updates/"
                                   target="_blank">what's new on DMAS</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row ma-container-full govuk-!-margin-left-0">
            <div>
                <div class="dashboard-search-link-container">
                    <a href="{% url 'users:account_saved_searches' %}"
                       class="govuk-link--no-visited-state-dark">My saved searches</a>
                </div>
                <div class="dashboard-search-link-container">
                    <a href="{% url 'users:account_downloads' %}"
                       class="govuk-link--no-visited-state-dark">My downloads</a>
                </div>
                <div class="dashboard-search-link-container">
                    <a href="{% url 'barriers:search' %}?user=1&status=2"
                       class="govuk-link--no-visited-state-dark">My open barriers</a>
                </div>
            </div>
        </div>
    </div>
{% endblock masthead %}
{% block content %}
    <section title="Barrier insights">
        {% if barrier_task_list %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">{% include "barriers/partials/dashboard_tasks.html" %}</div>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h3 class="govuk-summary-card__title">See data for barriers you're working on or monitoring</h3>
                    </div>
                    {% include "barriers/partials/summary_cards.html" %}
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">{% include "barriers/partials/whats_new.html" %}</div>
        </div>
    </section>
{% endblock content %}
