{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block page_title %}{{ block.super }} - Homepage{% endblock %}
{% block head %}
    {% render_bundle 'main' 'js' 'REACT' %}
    {% block body_script %}
        <script nonce="{{request.csp_nonce}}">

            document.addEventListener("DOMContentLoaded", function (event) {
                ma.pages.index();
                const month = new Date().toLocaleString('en-GB', { month: 'long' });
                const year = new Date().getFullYear();
                const newsletterLink = document.querySelector("#month-placeholder").parentNode;
                newsletterLink.href = `https://data-services-help.trade.gov.uk/market-access/newsletters/${month.toLowerCase()}/${year}`;
                newsletterLink.textContent = `DMAS newsletter for ${month} ${year}`;

                ReactApp.renderPieChart(
                    {
                        series: [300, 660, 50, 330],
                        options: {
                            chart: {
                                id: 'basic-pie',
                                width: 380,
                                type: 'pie',
                            },
                            title: {
                                text: 'Monthly Sales Data',
                                align: 'center'
                            },
                        },
                        labels: ['Team A', 'Team B', 'Team C', 'Team D'],
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 200
                                },
                                legend: {
                                    position: 'bottom'
                                }
                            }
                        }]
                    },"pie-chart");
                ReactApp.renderBarChart(
                    {
                        series: [
                            {
                                name: "Sales",
                                data: [30, 40, 45, 50, 49, 60, 70, 91]
                            }
                        ],
                        options: {
                            chart: {
                                id: 'basic-bar',
                                toolbar: {
                                    show: true
                                }
                            },
                            xaxis: {
                                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug'],
                                title: {
                                    text: 'Months'
                                }
                            },
                            yaxis: {
                                title: {
                                    text: 'Revenue ($)'
                                }
                            },
                            title: {
                                text: 'Monthly Sales Data',
                                align: 'center'
                            },
                            dataLabels: {
                                enabled: true
                            },
                        }
                    }, "bar-chart");
                ReactApp.renderStackedBarChart(
                    {
                        series: [
                            {
                                name: 'PRODUCT A',
                                data: [44, 55, 41, 64, 22, 43, 21]
                            }, {
                                name: 'PRODUCT B',
                                data: [53, 32, 33, 52, 13, 44, 32]
                            }, {
                                name: 'PRODUCT C',
                                data: [12, 17, 11, 9, 15, 11, 20]
                            }
                        ],
                        options: {
                            chart: {
                                id: 'stacked-bar',
                                type: 'bar',
                                height: 350,
                                stacked: true,
                                toolbar: {
                                    show: true
                                }
                            },
                            plotOptions: {
                                bar: {
                                    horizontal: true,
                                    columnWidth: '45%',
                                    endingShape: 'rounded'
                                },
                            },
                            xaxis: {
                                categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug'],
                            },
                            yaxis: {
                                title: {
                                    text: 'Mn£'
                                }
                            },
                            title: {
                                text: 'Monthly Sales Data',
                                align: 'center'
                            },
                            dataLabels: {
                                enabled: false
                            },
                            legend: {
                                position: 'top'
                            },
                            fill: {
                                opacity: 1
                            }
                        }
                    },"stacked-bar-chart"
                )
            })
        </script>
    {% endblock %}
{% endblock %}

{% block main %}
    {% block before_content %}
        <div class="m-l-6">
            {{ block.super }}
        </div>
    {% endblock %}
    <main class="govuk-main-wrapper govuk-main-wrapper--dashboard" id="main-content" role="main">
        {% block content %}
            <div class="govuk-grid-row grey p-l-4 p-t-6">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">
                        <span class="govuk-caption-m">Market access barriers</span>
                        Dashboard
                    </h1>
                    <div class="govuk-form-group">
                        <form action="{% url 'barriers:search' %}" method="GET">
                            <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="search" type="text" placeholder="Search for barrier by name or with key terms.">
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Search
                            </button>
                        </form>
                        <div>
                            <a href="{% url 'barriers:dashboard' %}?active=saved_searches" class="govuk-link govuk-link--no-visited-state-dark">My saved searches</a>
                            <a href="{% url 'barriers:dashboard' %}?active=barrier_downloads" class="govuk-link govuk-link--no-visited-state-dark">My downloads</a>
                            <a href="{% url 'barriers:search' %}?user=1" class="govuk-link govuk-link--no-visited-state-dark">My open barriers</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row p-l-4 p-r-6 p-t-6">
                <div class="govuk-grid-column-full">
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h3 class="govuk-summary-card__title">Complete barrier tasks and progress updates</h3>
                            <ul class="govuk-summary-card__actions">
                                <li class="govuk-summary-card__action">
                                    <a class="govuk-link" href="#">My Barriers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row p-l-4 p-r-6">
                <div class="govuk-grid-column-full">
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h3 class="govuk-summary-card__title">See data for barriers you're working on or monitoring</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row p-l-4 p-r-6">
                <div class="govuk-grid-column-full">
                    {% include "barriers/partials/dashboard-charts.html" %}
                </div>
            </div>
            <div class="govuk-grid-row p-l-4 p-r-6">
                <div class="govuk-grid-column-full">
                    {% include "barriers/partials/whats_new.html" %}
                </div>
            </div>
        {% endblock %}
    </main>
{% endblock %}
