{% extends "barriers/edit/base.html" %}
{% load dates %}
{% block page_title %}
    {{ block.super }} - Related barriers
{% endblock page_title %}
{% block masthead %}
    <div class="ma-masthead">{% include 'barriers/partials/barrier_summary.html' %}</div>
    {% include 'barriers/partials/tags.html' %}
{% endblock masthead %}
{% block page_content %}
    {% include 'barriers/partials/barrier_tabs.html' with active='related' %}
    {% if related_barriers %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-inset-text">
                    <p>
                        You can use this information to help find common ways to resolve this barrier and collaborate with your colleagues.
                    </p>
                    <p>
                        The following are the most similar barriers based on the context of the title, description and other key fields. The top 10 most similar results are shown.
                    </p>
                </div>
                <hr class="govuk-section-break govuk-section-break--visible">
            </div>
        </div>
        <dl class="govuk-summary-list related-summary-list">
            {% for barrier in related_barriers %}
                <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
                    <div class="govuk-grid-row govuk-!-margin-top-3">
                        <div class="govuk-grid-column-full">
                            <h3 class="govuk-heading-s">
                                <a href="{% url 'barriers:barrier_detail' barrier.id %}">{{ barrier.title }}</a>
                            </h3>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <dt class="govuk-summary-list__key">Barrier description:</dt>
                            <dd class="govuk-summary-list__value govuk-!-text-align-left">
                                {{ barrier.summary }}
                            </dd>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <dt class="govuk-summary-list__key">Status:</dt>
                            <dd class="govuk-summary-list__value">
                                {{ barrier.status.name }}
                            </dd>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <dt class="govuk-summary-list__key">Priority:</dt>
                            <dd class="govuk-summary-list__value">
                                {% if barrier.top_priority_status == "APPROVAL_PENDING" %}
                                    TOP 100 APPROVAL PENDING
                                {% elif barrier.top_priority_status == "APPROVED" %}
                                    TOP 100 PRIORITY
                                {% elif barrier.top_priority_status == "REMOVAL_PENDING" %}
                                    TOP 100 REMOVAL PENDING
                                {% elif barrier.top_priority_status == "RESOLVED" %}
                                    TOP 100 PRIORITY RESOLVED
                                {% elif barrier.priority_level %}
                                    {% if barrier.priority_level == "OVERSEAS" %}
                                        OVERSEAS DELIVERY
                                    {% elif barrier.priority_level == "COUNTRY" %}
                                        COUNTRY PRIORITY
                                    {% elif barrier.priority_level == "WATCHLIST" %}
                                        WATCH LIST
                                    {% endif %}
                                {% else %}
                                    NONE
                                {% endif %}
                            </ul>
                        </dd>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <dt class="govuk-summary-list__key">Date reported:</dt>
                        <dd class="govuk-summary-list__value">
                            {{ barrier.reported_on|parse_iso }}
                        </dd>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <dt class="govuk-summary-list__key">Last updated:</dt>
                        <dd class="govuk-summary-list__value">
                            {{ barrier.modified_on|parse_iso }}
                        </dd>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <dt class="govuk-summary-list__key">Barrier location:</dt>
                        <dd class="govuk-summary-list__value">
                            {{ barrier.location }}
                        </dd>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <dt class="govuk-summary-list__key">Similarity Score:</dt>
                        <dd class="govuk-summary-list__value">
                            {% widthratio barrier.similarity|floatformat:3 1 100 %}%
                            {% for key, value in related_barrier_tags.items %}
                                {% if barrier.similarity <= value.upper_boundary and barrier.similarity >= value.lower_boundary %}
                                    <strong class="govuk-tag {{ value.class }}">{{ value.label }}</strong>
                                {% endif %}
                            {% endfor %}
                        </dd>
                    </div>
                </div>
                </div>
            {% endfor %}
        </dl>
    {% else %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p>There are no related barriers.</p>
            </div>
        </div>
    {% endif %}
{% endblock page_content %}
