{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Related barriers</h1>
                {% if related_barriers %}
                    <p>These are the barriers that are related to this barrier.</p>
                    <ul>
                        {% for barrier in related_barriers %}
                            <li><a href="{{ barrier.url }}">{{ barrier.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>There are no related barriers.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
