{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Barrier edit status{% endblock %}

{% block body_script %}
    <script>
        ma.pages.barrier.status( {
            validTypes: {{ valid_status_values|safe }},
            openPendingActionValue: "{{ OPEN_PENDING_ACTION }}"
        } );
    </script>
{% endblock %}

{% block page_content %}

    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link">Back</a>
    {% include 'partials/heading.html' with caption=object.barrier_title text='Barrier Status' %}
    {% form_error_banner form %}

    <form action="" method="POST">
        {% csrf_token %}

        <div id="{{ form.status.name }}" class="govuk-form-group{% if form.status.errors %} govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.status.label }}</legend>

                {% form_field_error form "status" %}

                <div class="govuk-radios status govuk-radios--conditional" data-module="radios">
                    {% for choice in form.fields.status.enhanced_choices %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="{{ choice.value }}" name="{{ form.status.name }}" type="radio" value="{{ choice.value }}" {% if form.status.value == choice.value %}checked="checked"{% endif %} data-aria-controls="conditional-{{ choice.value }}" aria-describedby="{{ choice.value }}-item-hint">
                            <label class="govuk-label govuk-radios__label" for="{{ choice.value }}">{{ choice.name }}</label>
                            <span id="{{ choice.value }}-item-hint" class="govuk-hint govuk-radios__hint">{{ choice.help_text }}</span>
                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-{{ choice.value }}">
                            {{ choice.subform.as_html }}
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
        </div>

        <input type="submit" class="govuk-button" value="Change barrier status">
        <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-button button--secondary">Cancel</a>
    </form>

{% endblock %}
