{% extends "barriers/edit/base.html" %}
{% load dates %}
{% load tz %}
{% block page_title %}{{ block.super }} - Previous progress updates{% endblock %}
{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' barrier.id %}"
       class="govuk-back-link ma-back-link">Back</a>
{% endblock %}
{% block page_content %}
    {% include 'partials/heading.html' with text='Previous progress updates' %}
    {% timezone "Europe/London" %}
        <div class="event-list">
            {% for progress_update in progress_updates %}
                <div class="barrier-progress-update summary-group__list__value event-list__item">
                    <div class="barrier-progress-update">
                        <div class="barrier-progress-update__section">
                            <h4 class="barrier-progress-update__section__heading">Delivery confidence</h4>
                            <p class="barrier-progress-update__section__text">
                                {% if progress_update.milestones_and_deliverables is not empty %}
                                    {{ progress_update.milestones_and_deliverables|linebreaksbr }}
                                {% else %}
                                    No milestones and deliverables summary
                                {% endif %}
                            </p>
                        </div>
                        <div class="barrier-progress-update__section">
                            <h4 class="barrier-progress-update__section__heading">Expenditure</h4>
                            <p class="barrier-progress-update__section__text">
                                {% if progress_update.expenditure is not empty %}
                                    {{ progress_update.expenditure|linebreaksbr }}
                                {% else %}
                                    No expenditure summary
                                {% endif %}
                            </p>
                        </div>
                        <div class="barrier-progress-update__section barrier-progress-update__section__dates">
                            <h4 class="barrier-progress-update__section__heading">
                                Date created: <span class="barrier-progress-update__section__date">
                                    {{ progress_update.created_on|parse_iso|date:"j F Y" }} at {{ progress_update.created_on|parse_iso|date:"P (e)" }}
                                    by </span> <span class="barrier-progress-update__section__user">{{ progress_update.created_by }}</span>
                            </h4>
                            {% if progress_update.created_on != progress_update.modified_on %}
                                <h4 class="barrier-progress-update__section__heading">
                                    Date modified: <span class="barrier-progress-update__section__date">
                                        {{ progress_update.modified_on|parse_iso|date:"j F Y" }} at {{ progress_update.modified_on|parse_iso|date:"P (e)" }}
                                        by </span> <span class="barrier-progress-update__section__user">{{ progress_update.modified_by }}</span>
                                </h4>
                            {% endif %}
                        </div>
                        <div class="barrier-progress-update__actions">
                            <a class=""
                               href="{% url 'barriers:edit_barrier_fund_progress_update' barrier.id progress_update.id %}">Edit</a>
                        </div>
                        {% if not barrier.archived %}
                        {% comment %} <a class="barrier-progress-update__section__edit" href="{% url 'barriers:edit_barrier_fund_progress_update' barrier.id %}">Edit</a> {% endcomment %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endtimezone %}
    <a class="govuk-button button--secondary"
       href="{% url 'barriers:barrier_detail' barrier.id %}">Back to barrier</a>
{% endblock %}
