{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Rename watch list{% endblock %}

{% block page_content %}

    <a href="{% url 'barriers:dashboard' %}{% if view.kwargs.index %}?list={{ view.kwargs.index }}{% endif %}" class="govuk-back-link">Back</a>
    {% include 'partials/heading.html' with text='Rename watch list' %}
    {% form_error_banner form %}

    <section class="restrict-width">
        <h2>Current name and details</h2>

        <h3>{{ saved_search.name }}</h3>
        {% if saved_search.filters %}
            <ul class="saved-search__filter-list">
                {% for name, value in saved_search.readable_filters.items %}
                    <li class="saved-search__filter-list-item">{{ value.readable_value|striptags }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}

            <div id="{{ form.name.name }}" class="govuk-form-group{% if form.name.errors %} govuk-form-group--error{% endif %}">
                <label class="govuk-label govuk-label--s" for="name">{{ form.name.label }}</label>

                {% form_field_error form "name" %}

                <input class="govuk-input{% if form.name.errors %} govuk-input--error{% endif %}" id="{{ form.name.name }}" name="{{ form.name.name }}" type="text" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
            </div>

            <input type="submit" value="Save" class="govuk-button">
            <a href="{% url 'barriers:dashboard' %}{% if view.kwargs.index %}?list={{ view.kwargs.index }}{% endif %}" class="govuk-button button--secondary">Cancel</a>
        </form>
    </section>

{% endblock %}
