.attachments {
	border: 1px solid $govuk-grey-1;
	margin: 0 0 govuk-em( 15, 16 ) 0;
	padding: govuk-em( 10, 16 );
}

.attachments__heading {
	margin: 0 0 govuk-em( 15, 19 ) 0;
	@include govuk-font( 19, $weight: bold );
}

.attachments__list {
	padding: 0;
	margin: 0;
	@include govuk-font( 19 );
}

.attachments__list__item {
	list-style: none;
	margin-bottom: govuk-em( 5, 19 );
}
/*
.attachments__list__item__file-name {

}

.attachments__list__item__delete {

}
 */
