.barrier-tag-banner {
    @include govuk-clearfix;
    color: $govuk-white;
    padding: govuk-em( 16, 16 ) govuk-em( 30, 16 );;
    border-bottom: 1px solid $govuk-grey-3;
}

.barrier-tag-list {
    list-style: none;
    padding: 0;
    margin: 0 0 govuk-em( -8, 16 );
    float: left;

    &--in-banner {
        margin-right: govuk-em( 16, 16 );
    }
}

.barrier-tag-list__tag {
    display: inline-block;
    margin-bottom: govuk-em( 8, 16 );
    margin-right: govuk-em( 8, 16 );
    background-color: $govuk-blue;
    display: inline-block;
    padding: govuk-em( 4, 16 ) govuk-em( 8, 16 );
    color: $govuk-white;
    line-height: 1;
    font-weight: bold;
}
