{% extends 'base.html' %}
{% block page_title %}{{ block.super }} - Accessibility{% endblock %}
{% block page_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-xl">Accessibility statement for the Digital market access service (DMAS) in DataHub</h2>
            <p class="govuk-body">
                This accessibility statement applies to the <a class="govuk-link" href="https://market-access.trade.gov.uk">Digital market access service (DMAS)</a>.
            </p>
            <p class="govuk-body">
                This service is run by the Department for Business and Trade (DBT).
                We want as many people as possible to be able to use this service. For example, that means you should be able to:
                <ul class="govuk-list govuk-list--bullet">
                    <li>change colours, contrast levels and fonts using browser or device settings</li>
                    <li>zoom in up to 400% without the text spilling off the screen</li>
                    <li>navigate most of the website using a keyboard or speech recognition software</li>
                    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
                </ul>
            </p>
            <p class="govuk-body">We’ve also made the text in the service as simple as possible to understand.</p>
            <p class="govuk-body">
                <a class="govuk-link"
                   href="https://mcmw.abilitynet.org.uk/"
                   target="_new">AbilityNet(opens in new tab)</a> has advice on making your device easier to use if you have a disability.
            </p>
            <h3 class="govuk-heading-l" id="how-accessible-this-website-is">How accessible is this service</h3>
            <p class="govuk-body">
                We know some parts of this service are not fully accessible, due to a number of assistive technology barriers which means it does not fully comply with the WCAG (Web Content Accessibility Guidelines) version 2.2 AA standard.
            </p>
            <h3 class="govuk-heading-l" id="reporting-accessiblity-with-this-service">
                Feedback and contact information
            </h3>
            <p class="govuk-body">We’re always looking to improve the accessibility of this service.</p>
            <p class="govuk-body">
                If you find any problems not listed on this page or think we’re not meeting the requirements of the accessibility regulations,
                contact: <a class="govuk-link" href="mailto:digital@businessandtrade.gov.uk/">digital@businessandtrade.gov.uk</a>, giving details of the issue and any assistive technology you are using.
            </p>
            <h3 class="govuk-heading-l" id="enforcement-procedure">Enforcement procedure</h3>
            <p class="govuk-body">
                The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
                If you’re not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/"> contact the Equality Advisory and Support Service (EASS)</a>.
            </p>
            <h3 class="govuk-heading-l" id="technical-information-about-accessiblity">
                Technical information about this service's accessibility
            </h3>
            <p class="govuk-body">
                DBT is committed to making its websites and services accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
            </p>
            <h2 class="govuk-heading-l" id="compliance-statement">Compliance status</h2>
            <p class="govuk-body">
                The service has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.
            </p>
            <p class="govuk-body">
                This service is partially compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> AA standard, due to the non-compliances listed below.
            </p>
            <h2 class="govuk-heading-l" id="compliance-statement">Non-accessible content</h2>
            <p class="govuk-body">
                The content listed below is non-accessible for the following reasons.
            </p>
            <h3 class="govuk-heading-m" id="compliance-statement">Non-compliance with the accessibility regulations</h3>
            <p class="govuk-body">
                Some non-text content does not have a text alternative that serves the equivalent purpose. This fails WCAG 2.2 success criterion 1.1.1 (non-text content).
            </p>
            <p class="govuk-body">
                Colour is sometimes used as the only visual means of conveying information, to indicate an action, prompt a response or distinguish a visual element. This fails WCAG 2.2 success criterion 1.4.1 (use of colour).
            </p>
            <p class="govuk-body">
                Some focusable components do not receive focus in an order that preserves meaning and operability. This fails WCAG 2.2 success criterion 2.4.3 (focus order).
            </p>
            <p class="govuk-body">
                Some modal dialogs do not trap focus. This fails WCAG 2.2 success criterion 1.3.1 (info and relationships), 1.3.6 (identify purpose) and 2.4.3 (focus order).
            </p>
            <p class="govuk-body">
                Changing the setting of any user interface component can automatically cause a change of context without advising the user of this behaviour before they use it. This fails WCAG 2.2 success criterion 3.2.2 (on input).
            </p>
            <p class="govuk-body">
                Some labels or instructions are not provided when content requires user input. This fails WCAG 2.2 success criterion 3.3.2 (labels or instructions).
            </p>
            <p class="govuk-body">
                Some labels are not programmatically associated with the corresponding component. This fails WCAG 2.2 success criterion 1.3.1 (info and relationships), 2.5.3 (label in name) and 4.1.2 (name, role, value).
            </p>
            <p class="govuk-body">
                Some accessible names for user interface components do not contain the text that is presented visually as the label. This fails WCAG 2.2 success criterion 2.5.3 (label in name).
            </p>
            <p class="govuk-body">
                The purpose of some links cannot be determined from the link text together with the programmatically determined link context. This fails WCAG 2.2 success criterion 1.3.1 (info and relationships) and 2.4.4 (link purpose (in context)).
            </p>
            <p class="govuk-body">
                Some information, structure and relationships that are conveyed through presentation are not programmatically determined or available in text. This fails WCAG 2.2 success criterion 1.3.1 (info and relationships) and 2.4.6 (headings and labels).
            </p>
            <p class="govuk-body">
                Some functionality is associated with non-semantic elements but is not presented to assistive technology. This fails WCAG 2.2 success criterion 1.3.1 (info and relationships), 2.1.1 (keyboard) and 4.1.2 (name, role, value).
            </p>
            <p class="govuk-body">
                When some errors are detected, suggestions are not provided to the user to help them correct the error. This fails WCAG 2.2 success criterion 3.3.3 (error suggestion).
            </p>
            <p class="govuk-body">
                Some labels do not sufficiently describe the topic or purpose of the content. This fails WCAG 2.2 success criterion 2.4.6 (headings and labels).
            </p>
            <p class="govuk-body">
                Some headings do not sufficiently describe the topic or purpose of the content. This fails WCAG 2.2 success criterion 2.4.6 (headings and labels).
            </p>
            <p class="govuk-body">
                Some status messages cannot be programmatically determined through role or properties in order that they can be presented to users by assistive technologies without receiving focus. This fails WCAG 2.2 success criterion 4.1.3 (status messages).
            </p>
            <p class="govuk-body">
                Some content cannot be magnified without loss of information or functionality and without scrolling in two dimensions. This fails WCAG 2.2 success criterion 1.4.10 (reflow).
            </p>
            <p class="govuk-body">
                The colour contrast ratio in some places does not meet guidelines requiring that the visual presentation of standard text has a colour contrast ratio of at least 4.5:1 and that large text has a colour contrast ratio of at least 3:1. This fails WCAG 2.2 success criterion 1.4.3 (contrast (minimum)).
            </p>
            <h3 class="govuk-heading-l"
                id="what-we-are-doing-to-immprove-accessibility">What we're doing to improve accessibility</h3>
            <p class="govuk-body">
                We are currently working to resolve all of the identified issues listed in this statement to make them fully compliant with the WCAG (Web Content Accessibility Guidelines) version 2.2 AA standard.
            </p>
            <h3 class="govuk-heading-l" id="preparation-of-accesibility-statement">Preparation of this accessibility statement</h3>
            <p class="govuk-body">This statement was prepared on 18 September 2020. It was last reviewed on 2 May 2025.</p>
            <p class="govuk-body">
                The service was last tested on 25 March 2025 against the WCAG 2.2 AA standard. The test was carried out by the Digital Accessibility Centre (DAC).
            </p>
            <p class="govuk-body">
                DAC have a team of experienced auditors and analysts, many of whom are disabled individuals and users of adaptive technology.
            </p>
            <p class="govuk-body">
                The service was tested using a combination of pan-disability user feedback using a range of adaptive technologies and a technical audit using automated tools. The findings were combined to provide more accurate feedback.
            </p>
        </div>
    </div>
{% endblock %}
