{% load compress static %}
<!DOCTYPE html>
<html lang="{{ htmlLang | default:'en' }}" class="govuk-template {{ htmlClasses }}">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl+'&gtm_auth={{ settings.GTM_AUTH }}&gtm_preview={{ settings.GTM_PREVIEW }}&gtm_cookies_win=x';
    f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ settings.GTM_ID }}');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <title>{% block page_title %}Market Access{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="{{ themeColor | default:'#0b0c0c' }}" /> {# Hardcoded value of $govuk-black #}
    {# Ensure that older IE versions always render with the correct rendering engine #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% compress css %}
        <link type="text/x-scss" href="{% static 'css/index.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    {% block headIcons %}
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ assetPath | default:'/assets' }}/images/favicon.ico" type="image/x-icon" />
      <link rel="mask-icon" href="{{ assetPath | default:'/assets' }}/images/govuk-mask-icon.svg" color="{{ themeColor | default:'#0b0c0c' }}"> {# Hardcoded value of $govuk-black #}
      <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default:'/assets' }}/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default:'/assets' }}/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default:'/assets' }}/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="{{ assetPath | default:'/assets' }}/images/govuk-apple-touch-icon.png">
    {% endblock %}

    {% block head %}{% endblock %}
    {# The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback #}
    {# image url needs to be absolute e.g. http://wwww.domain.com/.../govuk-opengraph-image.png #}
    <meta property="og:image" content="{{ assetUrl | default:'/assets' }}/images/govuk-opengraph-image.png">
  </head>
  <body class="govuk-template__body {{ bodyClasses }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.GTM_ID }}&gtm_auth={{ settings.GTM_AUTH }}&gtm_preview={{ settings.GTM_PREVIEW }}&gtm_cookies_win=x"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    {% block bodyStart %}{% endblock %}

    {% block skipLink %}
      <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    {% endblock %}

    {% block header %}
      {% include 'partials/header.html' %}
    {% endblock %}

    {% block main %}
      {% block outside_content %}{% endblock %}
      {% block masthead %}{% endblock %}
      <div class="govuk-width-container ma-container-full">
        {% block before_content %}{% endblock %}
        <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main">
          {% block content %}{% block page_content %}{% endblock %}{% endblock %}
        </main>
      </div>
    {% endblock %}

    {% block footer %}
      {% include 'partials/footer.html' %}
    {% endblock %}

    {% block body_end %}
      {% compress js %}
      <!-- Vendor -->
      <script src="{% static 'js/vendor/jessie.js' %}"></script>
      <script src="{% static 'js/vendor/body-scroll-lock.js' %}"></script>
      <!-- GOV -->
      <script src="{% static 'js/datahub-header/component/header.js' %}"></script>
      <script src="{% static 'js/ma.js' %}"></script>
      <script src="{% static 'js/ma.CustomEvent.js' %}"></script>
      <script src="{% static 'js/ma.xhr2.js' %}"></script>
      <script src="{% static 'js/components/ConditionalRadioContent.js' %}"></script>
      <script src="{% static 'js/components/FileUpload.js' %}"></script>
      <script src="{% static 'js/components/Collapsible.js' %}"></script>
      <script src="{% static 'js/components/TextArea.js' %}"></script>
      <script src="{% static 'js/components/ToggleLinks.js' %}"></script>
      <script src="{% static 'js/components/Toast.js' %}"></script>
      <script src="{% static 'js/components/CharacterCount.js' %}"></script>
      <script src="{% static 'js/components/Attachments.js' %}"></script>
      <script src="{% static 'js/components/Modal.js' %}"></script>
      <script src="{% static 'js/components/DeleteModal.js' %}"></script>
      <script src="{% static 'js/components/ToggleBox.js' %}"></script>
      <script src="{% static 'js/components/AttachmentForm.js' %}"></script>
      <script src="{% static 'js/pages/index.js' %}"></script>
      <script src="{% static 'js/pages/report/index.js' %}"></script>
      <script src="{% static 'js/pages/report/is-resolved.js' %}"></script>
      <script src="{% static 'js/pages/report/about-problem.js' %}"></script>
      <script src="{% static 'js/pages/barrier/status.js' %}"></script>
      <script src="{% static 'js/pages/barrier/type.js' %}"></script>
      <script src="{% static 'js/pages/barrier/edit.js' %}"></script>
      <script src="{% static 'js/pages/barrier/detail.js' %}"></script>
      <script src="{% static 'js/pages/barrier/team.js' %}"></script>
      <script src="{% static 'js/pages/barrier/assessment.js' %}"></script>
      <script src="{% static 'js/pages/watch-list.js' %}"></script>
      {% endcompress %}
      <script>ma.init();</script>
      {% block body_script %}{% endblock %}
      {% if settings.DJANGO_ENV != "local" and settings.DJANGO_ENV != "prod" %}
        <div class="env-banner env-banner-{{ settings.DJANGO_ENV|lower }}">
          <strong>{{ settings.DJANGO_ENV|upper }}</strong> environment
          <a href="#" onclick="this.parentNode.parentNode.removeChild( this.parentNode );event.preventDefault();" class="env-banner__dismiss">X</a>
        </div>
      {% endif %}

    {% endblock %}
  </body>
</html>
