<div class="govuk-error-summary restrict-width" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
        {% for error in form.custom_errors %}
            <li>
            {% if item.href %}
                <a href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>{{ item.text }}</a>
            {% else %}
                {% if item.html %}
                    {{ item.html | safe }}
                {% else %}
                    {{ item }}
                {% endif %}
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
