.ma-badge {
    padding: govuk-em( 8, 16 );
    font-size: 11px;
    text-transform: uppercase;
    background-color: $govuk-dark-grey;
    color: $govuk-white;
    display: inline-block;
    margin-right: govuk-em( 4, 16 );
    font-weight: bold;
    text-decoration: none;
    &:link,
    &:visited,
    &:active,
    &:hover {
      color: $govuk-white;
      background-color: $govuk-dark-grey;
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }

    &--new {
        background-color: $govuk-green;
    }

    &--updated {
        background-color: $govuk-orange;
    }
}
