.summary-group {
	max-width: 100%;
	@include mq($from: 768px) {
		max-width:400px;
		margin-right: govuk-em( 30, 16 );
		display: inline-block;
	}
	@include mq( $from: 1024px ){
		max-width: 500px;
	}
    vertical-align: top;

}

.summary-group__heading {
	@include govuk-font( $size: 24, $weight: bold );
	padding-bottom: govuk-em( 10, 24 );
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 4px solid $govuk-black;
}

.summary-group__heading--sub {
	@include govuk-font( $size: 19, $weight: bold );
}

.summary-group__list__key {
	width: 100%;
	font-weight: bold;
}

.summary-group__list__value {

	width: 100%;
	margin: 0;

	ul {
		list-style: inside;
		padding: 0;
	}
}

.summary-group__list__value {
	border-bottom: 1px solid $govuk-grey-3;
	padding-bottom: govuk-em( 15, 16 );
    margin-bottom: govuk-em( 12, 16 );
	box-sizing: border-box;
}

.summary-group__list__value__heading {
	@include govuk-font( $size: 16 );
	margin: 0;
}

.summary-group__list__value__add {
	border: 2px dashed $govuk-grey-2;
	background-color: $govuk-grey-4;
	width: 100%;
	padding: govuk-em( 15, 16 );
	display: block;
	box-sizing: border-box;
	margin-top: govuk-em( 5, 16 );
	text-align: center;
}

.summary-group__list__value__none {
	border: 2px dashed $govuk-grey-2;
	background-color: $govuk-grey-4;
	width: 100%;
	padding: govuk-em( 15, 16 );
	display: block;
	box-sizing: border-box;
	margin-top: govuk-em( 5, 16 );
	text-align: center;
	color: $govuk-secondary-text-colour;
}

.summary-group__list__value__edit {
	display: block;
}

.summary-group__list__value__list {
	padding: 0;
	margin: 0;
}

.summary-group__list__value__list__item {
	list-style: inside;
}
.summary-group__list-item-50 {
	width: 50%;
    float: left;
    border-bottom: 1px solid $govuk-grey-3;
	margin-bottom: govuk-em( 12, 16 );

	.summary-group__list__value {
		margin-bottom: 0;
	}
}

@include mq( $from: tablet ){
	.summary-group__list {
		display: flex;
		flex-wrap: wrap;
	}

}
