{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Edit estimated_resolution date{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Are you sure you want to delete this objective?' %}
    {% include 'partials/sub_heading.html' with text=milestone.objective %}

    <div class="govuk-error-summary restrict-width action_plans_deletion_warning" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2>This will remove all interventions within the objective!</h2>
    </div>

    <form action="" method="POST">
        {% csrf_token %}
        <button class="govuk-button" data-module="govuk-button">Confirm</button>
        <a class="form-cancel" href="{% url 'barriers:action_plan' barrier.id %}">Cancel</a>
    </form>

{% endblock %}
