{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Delete task confirmation{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:action_plan_edit_task' barrier.id milestone_id task_id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Do you want to delete this objective task?' %}
    {% include 'partials/sub_heading.html' with text='Arrange discussion with key local stakeholders to plan potential solutions' %}

    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <button class="delete-button" data-module="govuk-button">Delete</button>
        <a class="govuk-button govuk-button--secondary" href="{% url 'barriers:action_plan' barrier.id %}">Cancel</a>
    </form>

{% endblock %}
