{% extends "barriers/edit/base.html" %}

{% load activity %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load dates %}

{% block page_title %}{{ block.super }} - Public barrier{% endblock %}

{% block head %}
{% render_bundle 'main' 'js' 'REACT' %}
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        ReactApp.renderTextAreaWithMentions("note-textarea-container")
    })
</script>
{% endblock %}

{% block body_script %}
    <script>
        if( ma.components.DeleteModal ){
            new ma.components.DeleteModal();
        }
    </script>
{% endblock %}

{% block outside_content %}
    {% if delete_note %}
        <div class="modal">
            <div class="modal__content" role="alertdialog" tabindex="1" aria-describedby="modal-label">
                <h3 class="modal__content__title" id="modal-label">Delete note</h3>
                <p>Are you sure you want to delete this note?</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="note_id" value="{{ delete_note }}" />
                    <button name="action" value="delete-note" class="govuk-button" tabindex="2">Yes, delete</button>
                    <a href="{% url 'barriers:public_barrier_detail' barrier.id %}" class="govuk-button button--secondary js-modal-cancel" tabindex="3">No, cancel</a>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block page_content %}

    {% include 'barriers/partials/barrier_tabs.html' with active='action_plan' %}

    {% if feature_flags.new_action_plans_enabled %} <!-- FEATURE FLAG OPENED - DELETE WHEN NEW ACTION PLANS COMPLETE-->

    <section class="action_plan">
        <h2 class="govuk-heading-l"> Action Plan </h2>
        <div class="action_plans_stategic_context">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">
                            <h2 class="govuk-heading-m"> Strategic context </h2>
                        </th>
                        <th class="govuk-table__header" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link govuk-!-font-size-19" href="{% url 'barriers:action_plan' barrier.id %}">Overview</a> <!-- UPDATE URL -->
                        </td>
                        <td class="govuk-table__cell">
                            {% if action_plan.overview %} <!-- CHANGE THIS TO CHECK IF PLAN HAS AN OVERVIEW -->
                                <strong class="govuk-tag govuk-tag--blue action_plans_tag">
                                    Added
                                </strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey action_plans_tag">
                                    Not Added
                                </strong>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link govuk-!-font-size-19" href="{% url 'barriers:action_plan' barrier.id %}">Stakeholder mapping</a> <!-- UPDATE URL -->
                        </td>
                        <td class="govuk-table__cell">
                            {% if action_plan.stakeholder %} <!-- CHANGE THIS TO CHECK IF PLAN HAS A STAKEHOLDER -->
                                <strong class="govuk-tag govuk-tag--blue action_plans_tag">
                                    Added
                                </strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey action_plans_tag">
                                    Not Added
                                </strong>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link govuk-!-font-size-19" href="{% url 'barriers:action_plan' barrier.id %}">Risks and mitigation</a> <!-- UPDATE URL -->
                        </td>
                        <td class="govuk-table__cell">
                            {% if action_plan.risks_mitigations %} <!-- CHANGE THIS TO CHECK IF PLAN HAS RISKS AND MITIGATIONS FILLED IN-->
                                <strong class="govuk-tag govuk-tag--blue action_plans_tag">
                                    Added
                                </strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey action_plans_tag">
                                    Not Added
                                </strong>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link govuk-!-font-size-19" href="{% url 'barriers:action_plan' barrier.id %}">Owner</a> <!-- UPDATE URL -->
                        </td>
                        <td class="govuk-table__cell">
                            {% if action_plan.owner %} <!-- CHANGE THIS TO CHECK IF PLAN HAS AN OWNER -->
                                <strong class="govuk-tag govuk-tag--blue action_plans_tag">
                                    Added
                                </strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey action_plans_tag">
                                    Not Added
                                </strong>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="action_plan_objectives">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">
                            <h2 class="govuk-heading-m"> Objectives </h2>
                        </th>
                        <th class="govuk-table__header" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for milestone in action_plan.milestones %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <p class="govuk-body">
                                    <a class="govuk-link govuk-!-font-size-19" href="{% url 'barriers:action_plan_edit_milestone' barrier.id milestone.id %}">{{ milestone.objective }}</a>
                                </p>
                                <div class="govuk-body action_plans_task_list">
                                    {% if milestone.tasks %}
                                            {% for task in milestone.tasks %}
                                                <p class="govuk-body govuk-!-margin-bottom-3">
                                                    <h2 class="govuk-heading-s"> Objective Task </h2>
                                                    <a class="govuk-link govuk-!-font-size-19" href="{% url 'barriers:action_plan_edit_task' barrier.id task.id %}">{{ task.action_text }}</a>
                                                    {% if task.status == "NOT_STARTED" %}
                                                        <strong class="govuk-tag govuk-tag--grey action_plans_tag">
                                                            Not Started
                                                        </strong>
                                                    {% elif task.status == "IN_PROGRESS" %}
                                                        <strong class="govuk-tag govuk-tag--blue action_plans_tag">
                                                            Started
                                                        </strong>
                                                    {% elif task.status == "COMPLETED" %}
                                                        <strong class="govuk-tag govuk-tag--green action_plans_tag">
                                                            Complete
                                                        </strong>
                                                    {% endif %}
                                                </p>
                                            {% endfor %}
                                    {% endif %}
                                    <a class="govuk-button govuk-button--secondary" href="{% url 'barriers:action_plan_add_task' barrier.id %}?milestone={{ milestone.id }}">Add objective task</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="govuk-button govuk-button--secondary" href="{% url 'barriers:action_plan_add_milestone' barrier.id %}">Add objective</a>
        </div>

    {% endif %} <!-- FEATURE FLAG CLOSED -->

    </section>

{% endblock %}
