{% extends "barriers/edit/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block page_title %}
{{ block.super }} - Action plan objective task{% endblock %}

{% block back_link %}
<a
  href="{% url 'barriers:action_plan' barrier.id %}"
  class="govuk-back-link ma-back-link"
  >Back</a
>
{% endblock %}


{% block body_script %}
{% render_bundle 'main' 'js' 'REACT' %}
    <script>
        ma.pages.barrier.action_plans_add_task();
        document.addEventListener("DOMContentLoaded", function (event) {
            console.log("Dom content loaded");
            ReactApp.renderEmailSearchAutocomplete("id_assigned_to");
        })
    </script>
{% endblock %}

{% block page_content %} {% include 'partials/heading.html' with text='Add objective task' %}
{% form_error_banner form %}
<form action="" method="POST" novalidate>
{% csrf_token %}

<div
  id="{{ form.action_text.name }}"
  class="{% form_group_classes form.action_text.errors %}"
>
  <fieldset class="govuk-fieldset govuk-!-width-two-thirds">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      {{ form.action_text.label }}
    </legend>

    <span class="govuk-hint">{{ form.action_text.help_text }}</span>

    {% form_field_error form "action_text" %}

    <div class="govuk-date-input">{{ form.action_text }}</div>
  </fieldset>
</div>

  <div id="{{ form.status.name }}"
          class="govuk-form-group{% if form.status.errors %} govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.status.label }}</legend>
          <span id="{{ form.status.name }}-item-hint" class="govuk-hint">{{ form.status.help_text }}</span>
          {% form_field_error form "status" %}

          <div class="govuk-radios status govuk-radios--conditional" data-module="radios">

              {% for choice_value, choice_name in form.fields.status.choices %}

                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="{{ choice_value }}" name="{{ form.status.name }}"
                              type="radio" value="{{ choice_value }}"
                              {% if form.status.value == choice_value %}checked="checked"{% endif %}
                              data-aria-controls="conditional-{{ choice_value }}"
                              aria-describedby="{{ choice_value }}-item-hint">
                      <label class="govuk-label govuk-radios__label"
                              for="{{ choice_value }}">{{ choice_name }}</label>
                  </div>
              {% endfor %}
          </div>
      </fieldset>
  </div>

<div
  id="{{ form.start_date.name }}"
  class="{% form_group_classes form.start_date.errors %}"
>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      {{ form.start_date.label }}
    </legend>

    <span class="govuk-hint">{{ form.start_date.help_text }}</span>

    {% form_field_error form "start_date" %}

    <div class="govuk-date-input">{{ form.start_date }}</div>
  </fieldset>
</div>

<div
  id="{{ form.completion_date.name }}"
  class="{% form_group_classes form.completion_date.errors %}"
>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      {{ form.completion_date.label }}
    </legend>

    <span class="govuk-hint">{{ form.completion_date.help_text }}</span>

    {% form_field_error form "completion_date" %}

    <div class="govuk-date-input">{{ form.completion_date }}</div>
  </fieldset>
</div>

  <div id="{{ form.action_type.name }}"
          class="govuk-form-group{% if form.action_type.errors %} govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.action_type.label }}</legend>
          <span id="{{ form.action_type.name }}-item-hint" class="govuk-hint">{{ form.action_type.help_text }}</span>
          {% form_field_error form "action_type" %}

          <div class="govuk-radios action_type govuk-radios--conditional" data-module="radios">

              {% for choice in form.fields.action_type.enhanced_choices %}
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="{{ choice.value }}" name="{{ form.action_type.name }}"
                              type="radio" value="{{ choice.value }}"
                              {% if form.action_type.value == choice.value %}checked="checked"{% endif %}
                              data-aria-controls="conditional-{{ choice.value }}"
                              aria-describedby="{{ choice.value }}-item-hint">
                      <label class="govuk-label govuk-radios__label"
                              for="{{ choice.value }}">{{ choice.name }}</label>
                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden govuk-!-width-one-third" id="conditional-{{ choice.value }}">
                      {{ choice.subform.as_html }}
                  </div>
              {% endfor %}
          </div>
      </fieldset>
  </div>

<div
  class="{% form_group_classes form.assigned_to.errors %}"
>
  <div class="dmas_autocomplete_wrapper">
    <label class="govuk-label govuk-label--s" for="{{ form.assigned_to.id_for_label }}">
        {{ form.assigned_to.label }}
    </label>
    {% if form.assigned_to.help_text %}
      <span class="govuk-hint">{{ form.assigned_to.help_text }}</span>
    {% endif %}
    {% form_field_error form "assigned_to" %}
    <div>
      {{ form.assigned_to }}
    </div>
  </div>
</div>

<div id="{{ form.stakeholders.name }}" class="{% form_group_classes form.stakeholders.errors %}">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group{% if field.errors %} govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            <h2 class="govuk-heading-m">Stakeholders</h2>
          </legend>
          <div class="govuk-hint">
            {{ form.stakeholders.help_text }}
          </div>
          {% form_field_error form.assigned_stakeholders %}
          <div class="" data-module="govuk-checkboxes">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Name</th>
                  <th scope="col" class="govuk-table__header">Type</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body govuk-checkboxes govuk-checkboxes--small">
                {% for stakeholder_choice in form.assigned_stakeholders %}
                  {% with stakeholder_choice.choice_label as stakeholder %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item">
                        {{ stakeholder_choice.tag }}
                        <label class="govuk-label govuk-checkboxes__label" for="{{ stakeholder_choice.id_for_label }}">{{ stakeholder.name }}</label>
                        </div>
                    </td>
                    <td class="govuk-table__cell">
                      {{ stakeholder.is_organisation|yesno:"Organisation,Individual" }}
                    </td>
                    <td class="govuk-table__cell">
                      {{ stakeholder.get_status_display }}
                    </td>
                  </tr>
                  {% endwith %}
                {% empty %}
                  <tr class="govuk-table__row">
                    <td class="govuk-!-text-align-centre" colspan="3">
                      <p class="govuk-!-padding-top-">No stakeholders found</p>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible">
</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Confirm</button>
          <a class="govuk-button govuk-button--secondary" href="{% url 'barriers:action_plan' barrier_id %}">Cancel</a>
        </div>
      </div>
    </div>
</form>

{% endblock %}
