{% extends "barriers/edit/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block page_title %}
{{ block.super }} - Action plan objective task{% endblock %}

{% block back_link %}
<a
  href="{% url 'barriers:action_plan' barrier.id %}"
  class="govuk-back-link ma-back-link"
  >Back</a
>
{% endblock %}


{% block page_content %} {% include 'partials/heading.html' with text='Reason for completion date change' %}
{% form_error_banner form %}
<form action="{{ form_action }}" method="POST" novalidate>
{% csrf_token %}
{% for field in form %}
  {% if field.name != "reason_for_completion_date_change" %}
    {{ field }}
  {% endif %}
{% endfor %}
  <div class="govuk-grid-row" id="{{ form.reason_for_completion_date_change.name }}">
    <div class="govuk-grid-column-one-half-from-desktop">
      {% if form.reason_for_completion_date_change %}
        <div class="{% form_group_classes form.reason_for_completion_date_change.errors %}">
{#          <label class="govuk-label govuk-label--s" for="{{ form.reason_for_completion_date_change.id_for_label }}">#}
{#            {{ form.reason_for_completion_date_change.label }}#}
{#          </label>#}
{#          {% if form.reason_for_completion_date_change.help_text %}#}
{#            <span class="govuk-hint">{{ form.reason_for_completion_date_change.help_text }}</span>#}
{#          {% endif %}#}
          {% form_field_error form "reason_for_completion_date_change" %}
          <div>
            {{ form.reason_for_completion_date_change }}
          </div>
        </div>
     {% endif %}
    </div>
  </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Confirm</button>
          <a class="govuk-button govuk-button--secondary" href="{% url 'barriers:action_plan' barrier_id %}">Cancel</a>
        </div>
      </div>
    </div>
</form>

{% endblock %}
