<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.pending_type.label }}</legend>


    <div class="govuk-radios js-pending-type govuk-radios--conditional" data-module="radios">
        {% for value, name in form.fields.pending_type.choices %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="{{ form.pending_type.name }}-{{ forloop.counter }}" name="{{ form.pending_type.name }}" type="radio" value="{{ value }}">
              <label class="govuk-label govuk-radios__label" for="{{ form.pending_type.name }}-{{ forloop.counter }}">{{ name }}</label>
            </div>

            {% if value == "OTHER" %}
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-{{ value }}">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="{{ form.pending_type_other.name }}">{{ form.pending_type_other.label }}</label>

                        {% if form.pending_type_other.errors %}
                            <span class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                {{ form.pending_type_other.errors.as_text }}
                            </span>
                        {% endif %}

                        <input class="govuk-input" id="{{ form.pending_type_other.name }}" name="{{ form.pending_type_other.name }}" type="text" value="{% if form.pending_type_other.value %}{{ form.pending_type_other.value }}{% endif %}">
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</fieldset>
