.document-list {
	list-style: none;
	padding: govuk-em( 10, 16 ) govuk-em( 15, 16 );
	border: 1px solid $govuk-grey-2;
	margin: 0;
}

.document-list--assessment {
	max-width: 600px;
	box-sizing: border-box;
}

.document-list__item {

	margin-bottom: govuk-em( 5, 16 );

	&:last-of-type {
		margin-bottom: 0;
	}
}
