{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Save watch list{% endblock %}

{% block body_script %}
    <script>
        ma.pages.watchList();
    </script>
{% endblock %}

{% block page_content %}

    {# TODO: Errors #}
    <a href="{% url 'barriers:find_a_barrier' %}?{{ request.GET.urlencode }}" class="govuk-back-link">Back</a>
    {% include 'heading.html' with text='Save watch list' %}

    <section class="restrict-width">

        {% if filters %}
            <dl class="details-list">
                {% for filter_key, filter in filters.items %}
                    {% if filter.value %}
                    <div class="details-list__group">
                        <dt class="details-list__key">{{ filter.label }}</dt>
                        <dd class="details-list__value">{{ filter.value|striptags }}</dd>
                    </div>
                    {% endif %}
                {% endfor %}
            </dl>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}

            <div class="govuk-form-group{% if form.name.errors %} govuk-form-group--error{% endif %}">
                <label class="govuk-label govuk-label--s" for="name">{{ form.name.label }}</label>

                {% if form.name.errors %}
                    <span class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{ form.name.errors.as_text }}
                    </span>
                {% endif %}

                <input class="govuk-input{% if form.name.errors %} govuk-input--error{% endif %}" id="{{ form.name.name }}" name="{{ form.name.name }}" type="text" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
            </div>

            {% if form.has_to_replace %}
                {% include 'barriers/watchlist/partials/replace_form.html' %}
            {% elif not form.has_to_create %}
                <div class="govuk-form-group{% if form.replace_or_new.errors %} govuk-form-group--error{% endif %}">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.replace_or_new.label }}</legend>

                        {% if form.replace_or_new.errors %}
                            <span class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                {{ form.replace_or_new.errors.as_text }}
                            </span>
                        {% endif %}

                        <div class="govuk-radios replace-or-new govuk-radios--conditional" data-module="radios">
                            {% for value, name in form.fields.replace_or_new.choices %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="{{ value }}" name="{{ form.replace_or_new.name }}" type="radio" value="{{ value }}" {% if form.replace_or_new.value == value %}checked="checked"{% endif %}{% if value == "replace" %} data-aria-controls="conditional-{{ value }}"{% endif %}>
                                    <label class="govuk-label govuk-radios__label" for="{{ value }}">{{ name|safe }}</label>
                                </div>

                                {% if value == "replace" %}
                                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-{{ value }}">
                                        {% include 'barriers/watchlist/partials/replace_form.html' %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
            {% endif %}

            <input type="submit" value="Save" class="govuk-button">
            <a href="{% url 'barriers:find_a_barrier' %}?{{ request.GET.urlencode }}" class="govuk-button button--secondary">Cancel</a>
        </form>
    </section>

{% endblock %}
