{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Edit user{% endblock %}

{% block outside_content %}
    <div class="govuk-width-container ma-container-full">
        <a href="{% if referer.path %}{{ referer.path }}{% else %}{% url 'users:user_detail' user.id %}{% endif %}" class="govuk-back-link ma-back-link">Back</a>
    </div>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Edit profile' %}

    {% form_error_banner form %}

    <dl class="ma-summary-list">
        <dt class="ma-summary-list__key">Name</dt>
        <dd class="ma-summary-list__value">{{ user.full_name }}</dd>

        {% if user.email %}
            <dt class="ma-summary-list__key">Email</dt>
            <dd class="ma-summary-list__value">{{ user.email }}</dd>
        {% endif %}
    </dl>

    <div class="restrict-width">
        <form action="" method="POST" class="restrict-width">
            {% csrf_token %}

            {% if referer.path %}<input type="hidden" name="referer_path" value="{{ referer.path }}" />{% endif %}
            {% include "partials/forms/radio_input.html" with field=form.group %}

            <div id="{{ form.additional_permissions.name }}" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend{% if label_classes %} {{ label_classes }}{% endif %}">
                        {% if strong|default_if_none:True %}<strong>{{ form.fields.additional_permissions.label }}</strong>{% else %}{{ form.fields.additional_permissions.label }}{% endif %}
                    </legend>
                    <div class="govuk-checkboxes">
                        {% for value, name in form.fields.additional_permissions.choices %}
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="additional_permissions-{{ value }}" name="{{ form.additional_permissions.name }}" type="checkbox" value="{{ value }}"  {% if value in form.additional_permissions.value %}checked="checked"{% endif %}>
                                <label class="govuk-label govuk-checkboxes__label" for="additional_permissions-{{ value }}">{{ name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
            {% if current_user|has_permission:"set_regionallead" %}
                <div id="{{ form.regional_lead_groups.name }}" class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend{% if label_classes %} {{ label_classes }}{% endif %}">
                            {% if strong|default_if_none:True %}<strong>{{ form.fields.regional_lead_groups.label }}</strong>{% else %}{{ form.fields.regional_lead_groups.label }}{% endif %}
                        </legend>
                        <div class="govuk-checkboxes">
                            {% for value, name in form.fields.regional_lead_groups.choices %}
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="regional_lead_groups-{{ value }}" name="{{ form.regional_lead_groups.name }}" type="checkbox" value="{{ value }}"  {% if value in form.regional_lead_groups.value %}checked="checked"{% endif %}>
                                    <label class="govuk-label govuk-checkboxes__label" for="regional_lead_groups-{{ value }}">{{ name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
            {% endif %}

            <p class="govuk-body">All the information on your profile will be visible to DIT staff and contractors registered to use Market Access.</p>

            <button class="govuk-button">Save</button>
            <a class="form-cancel govuk-link" href="{% if referer.path %}{{ referer.path }}{% else %}{% url 'users:user_detail' user.id %}{% endif %}">Cancel</a>
        </form>
    </div>

{% endblock %}
