{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Add user{% endblock %}

{% block page_content %}

    <a href="{% url 'users:manage_users' %}" class="govuk-back-link ma-back-link">Back</a>

    {% include 'partials/heading.html' with text='Edit profile' %}

    {% form_error_banner form %}

    <dl class="ma-summary-list">
        <dt class="ma-summary-list__key">Name</dt>
        <dd class="ma-summary-list__value">{{ user.full_name }}</dd>

        <dt class="ma-summary-list__key">Email</dt>
        <dd class="ma-summary-list__value">{{ user.email }}</dd>
    </dl>

    <div class="restrict-width">
        <form action="" method="POST" class="restrict-width">
            {% csrf_token %}

            {% include "partials/forms/radio_input.html" with field=form.permission_group %}

            <p>All the information on your profile will be visible to DIT staff and contractors registered to use Market Access</p>

            <button class="govuk-button">Save</button>
            <a class="form-cancel" href="{% url 'users:user_detail' user.id %}">Cancel</a>
        </form>
    </div>

{% endblock %}
