{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block page_title %}
    {{ block.super }} - Notifications
{% endblock page_title %}
{% block masthead %}
    <div class="grey">
        <div class="govuk-width-container ma-container-full">
            <section class="barrier-summary">
                <div class="barrier-summary__heading">
                    <p class="barrier-summary__code">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                    <h1 class="barrier-summary__heading__text">Notifications</h1>
                </div>
            </section>
        </div>
    </div>
{% endblock masthead %}
{% block page_content %}

    <section>
        <h2 class="ma-list-heading">
            <div class="ma-list-heading__heading"><span class="ma-list-heading__count">{{ total_mentions }}</span> notifications</div>

            <div class="ma-list-heading__actions">

                <span class="ma-list-heading__action">
                    {% if notification_exclusion.mention_notifications_enabled %}
                        <a href="{% url 'barriers:mention_turn_notifications_off' %}">Email notifications: On</a>
                    {% else %}
                        <a href="{% url 'barriers:mention_turn_notifications_on' %}">Email notifications: Off</a>
                    {% endif %}
                </span>
                <span class="ma-list-heading__action">
                    {% if are_all_mentions_read %}
                        <a href="{% url 'barriers:mention_mark_all_as_unread' %}">Mark all as unread</a>
                    {% else %}
                        <a href="{% url 'barriers:mention_mark_all_as_read' %}">Mark all as read</a>
                    {% endif %}
                </span>
            </div>

        </h2>


        <ul class="ma-card-list">
            {% for mention in mentions %}
                {% include "barriers/partials/mention.html" with mention=mention %}
            {% empty %}
                <li class="mention-item ma-card-list__item">
                    <p>You have no mentions</p>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% include 'partials/pagination.html' %}

{% endblock page_content %}
