{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block page_title %}
    {{ block.super }} - Mentions
{% endblock page_title %}
{% block masthead %}
    <div class="grey">
        <div class="govuk-width-container ma-container-full">
            <section class="barrier-summary">
                <div class="barrier-summary__heading">
                    <p class="barrier-summary__code">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                    <h1 class="barrier-summary__heading__text">Mentions</h1>
                </div>
            </section>
        </div>
    </div>
{% endblock masthead %}
{% block page_content %}

{% endblock page_content %}
