{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - User permissions{% endblock %}

{% block page_content %}

    <h1 class="govuk-heading-l">Manage users and groups</h1>

    <a class="govuk-button button--primary" href="{% url 'users:permissions_user_search' %}">Add a user</a>

    <ul class="page-tabs page-tabs--no-margin">
        {% for permission_group in permission_groups %}
            {% if permission_group_id == permission_group.id %}
                <li class="page-tabs__tab page-tabs__tab--active">
                    <span class="page-tabs__tab__text">{{ permission_group.name }}</span>
                </li>
            {% else %}
                <li class="page-tabs__tab">
                    <a class="page-tabs__tab__text" href="?group={{ permission_group.id }}">{{ permission_group.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <table class="standard-table standard-table__barrier-team">
        <caption class="visually-hidden">List of team members for this barrier</caption>
        <thead>
            <tr class="standard-table__heading-row">
                <th class="standard-table__heading">Name</th>
                <th class="standard-table__heading">Contact details</th>
                <th class="standard-table__heading">Role</th>
                <th class="standard-table__heading">Action</th>
            </tr>
        </thead>
        <tbody class="js-delete-modal-container">
            {% for permission_group in permission_groups %}
                {% if permission_group_id == permission_group.id %}
                    {% for user in permission_group.users %}
                        <tr class="standard-table__row">
                            <td class="standard-table__cell">
                                <a href="{% url 'barriers:search' %}?user={{ user.id }}">
                                    <span class="team-member__full-name">{{ user.full_name }}</span>
                                </a>
                            </td>
                            <td class="standard-table__cell">{{ user.email }}</td>
                            <td class="standard-table__cell">{{ member.role }}</td>
                            <td class="standard-table__cell">
                                {% if member.role == "Owner" %}<a href="{% url 'barriers:team_change_owner' barrier.id member.id %}">Change</a>{% endif %}
                                {% if member.role == "Contributor" %}<a class="js-delete-modal" href="{% url 'barriers:delete_team_member' barrier.id member.id %}">Delete</a>{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
