{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Archive this barrier{% endblock %}

{% block body_script %}
    <script nonce="{{request.csp_nonce}}">
        ma.pages.barrier.archive();
        if (ma.components.CharacterCount) {
            new ma.components.CharacterCount('#conditional-DUPLICATE .govuk-character-count');
            new ma.components.CharacterCount('#conditional-NOT_A_BARRIER .govuk-character-count');
            new ma.components.CharacterCount('#conditional-OTHER .govuk-character-count');
        }
    </script>
{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% if not barrier.public_barrier.is_published %}
        {% include 'partials/heading.html' with text='Archive this barrier' %}
        {% form_error_banner form %}

        <form action="" method="POST" class="restrict-width">
            {% csrf_token %}

            <div id="{{ form.reason.name }}"
                 class="govuk-form-group{% if form.reason.errors %} govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.reason.label }}</legend>
                    <span id="{{ form.reason.name }}-item-hint" class="govuk-hint">{{ form.reason.help_text }}</span>
                    {% form_field_error form "reason" %}

                    <div class="govuk-radios reason govuk-radios--conditional" data-module="radios">

                        {% for choice in form.fields.reason.enhanced_choices %}
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="{{ choice.value }}" name="{{ form.reason.name }}"
                                       type="radio" value="{{ choice.value }}"
                                       {% if form.reason.value == choice.value %}checked="checked"{% endif %}
                                       data-aria-controls="conditional-{{ choice.value }}"
                                       aria-describedby="{{ choice.value }}-item-hint">
                                <label class="govuk-label govuk-radios__label"
                                       for="{{ choice.value }}">{{ choice.name }}</label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                 id="conditional-{{ choice.value }}">
                                {{ choice.subform.as_html }}
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>

            <input type="submit" class="govuk-button" value="Confirm">
            <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-button button--secondary">Cancel</a>
        </form>
    {% else %}
        {% include 'partials/heading.html' with text='Archiving is disabled' %}
        <p>Please remove the barrier from <a href="{% url 'barriers:public_barrier_detail' object.id %}">Public view</a>
            prior to archiving.</p>
        <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-button button--secondary">Cancel</a>
    {% endif %}

{% endblock %}
