{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Commercial value estimate{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Commercial value estimate' %}
    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">

        {% csrf_token %}

        {% include "partials/forms/gbp_input.html" with field=form.commercial_value %}

        <div class="{% form_group_classes form.commercial_value_explanation.errors %}">
            <div class="govuk-label__container">
                <p class="govuk-label govuk-label--s">Provide details of the estimated value including:</p>
                <ul>
                    <li>if it covers an individual or all potential UK exports, investment or procurement contracts</li>
                    <li>any increased exports or investment from the UK</li>
                    <li>any increased revenues or profits for affected companies</li>
                    <li>any increased exports for a UK company from a third country</li>
                    <li>actual or anticipated exports</li>
                    <li>ODI wins</li>
                    <li>a 5 year timescale - if the estimate varies within 5 years, please give a breakdown - if 5 years
                        is
                        not possible, list the time period
                    </li>
                </ul>
            </div>
            {% if form.commercial_value_explanation.help_text %}
                <span id="commercial_value_explanation-hint" class="govuk-hint">
                {{ form.commercial_value_explanation.help_text }}
            </span>
            {% endif %}
            {% form_field_error form "commercial_value_explanation" %}
            <textarea class="govuk-textarea" id="commercial_value_explanation"
                      name="{{ form.commercial_value_explanation.name }}"
                      rows="5"
                      aria-describedby="commercial_value_explanation-hint">{{ form.initial.commercial_value_explanation }}</textarea>
        </div>

        <button class="govuk-button" data-module="govuk-button">Save and exit to barrier</button>
        <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="form-cancel">Cancel</a>
    </form>

{% endblock %}
