{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Edit HS codes{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Add HS commodity codes' %}

    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.code.description }}" class="{% form_group_classes form.code.errors %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.code.label }}</legend>
                <span class="govuk-hint">{{ form.code.help_text }}</span>

                {% form_field_error form.code %}

                {{ form.code }}
                <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">Search</button>
            </fieldset>
        </div>
    </form>

    <p class="govuk-body">Need help? <a href="">Look up codes</a></p>

    {% if commodity %}
        <form action="" method="POST">
            {% csrf_token %}
            <ul class="commodities-list restrict-width">
                <li class="commodities-list__item">
                    <div class="commodities-list__code">{{ commodity.code_display }}</div>
                    <div class="commodities-list__name">{{ commodity.full_description }}</div>
                    <button name="confirm-commodity" value="{{ commodity.code }}" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">Confirm</button>
                </li>
            </ul>
        </form>
    {% endif %}

    {% if confirmed_commodities %}
        <h3>HS commodity codes to add to this barrier</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <ul class="commodities-list restrict-width">
                {% for confirmed_commodity in confirmed_commodities %}
                <li class="commodities-list__item">
                    <div class="commodities-list__code">{{ confirmed_commodity.code_display }}</div>
                    <div class="commodities-list__name">{{ confirmed_commodity.full_description }}</div>
                    <button name="remove-commodity" value="{{ confirmed_commodity.code }}" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 button-as-link" data-module="govuk-button">Remove</button>
                </li>
                {% endfor %}
            </ul>
        </form>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <button name="action" value="save" class="govuk-button" data-module="govuk-button">Done</button>
        <button class="form-cancel govuk-button button-as-link" name="action" value="cancel">Cancel</button>

    </form>

{% endblock %}
