{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Barrier - Edit Country{% endblock %}

{% block page_content %}

    <a href="{% url 'barriers:edit_location_session' barrier.id %}" class="govuk-back-link">Back</a>
    {% include 'heading.html' with caption=barrier.barrier_title text='Edit barrier country' %}
    {% include 'partials/forms/error_summary.html' %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.country.name }}" class="govuk-form-group{% if form.errors %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="{{ form.country.name }}">{{ form.country.label }}</label>

            {% if form.country.errors %}
                <span id="{{ form.country.name }}-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ form.country.errors.as_text }}
                </span>
            {% endif %}

            <select class="govuk-select govuk-!-width-full{% if form.errors %} govuk-select--error{% endif %}" id="{{ form.country.name }}" name="{{ form.country.name }}"{% if form.errors %} aria-describedby="{{ form.country.name }}-error"{% endif %}>
                {% for id, name in form.fields.country.choices %}
                <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="submit" value="Change country" class="govuk-button">
        <a href="{% url 'barriers:edit_location' barrier.id %}" class="govuk-button button--secondary">Cancel</a>
    </form>

{% endblock %}
