{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Barrier - Edit Location{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:edit_location_session' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Edit barrier location' %}
    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        {% include "partials/forms/select_input.html" with field=form.location %}

        <input type="submit" value="Change location" class="govuk-button">
        <a href="{% url 'barriers:edit_location_session' barrier.id %}" class="govuk-button button--secondary">Cancel</a>
    </form>

{% endblock %}
