{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Edit summary{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='About the barrier' %}
    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.description.name }}" class="govuk-form-group{% if form.description.errors %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="description">{{ form.description.label }}</label>

            {% form_field_error form "description" %}

            <textarea class="govuk-textarea" name="description" rows="5">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
        </div>

        <input type="submit" value="Save and exit to barrier" class="govuk-button">
    </form>

{% endblock %}
