{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Initial economic assessment{% endblock %}

{% block body_script %}
    <script>
        new ma.components.ConditionalRadioContent({
            inputContainer: '.economic_assessment_eligibility',
            inputName: 'economic_assessment_eligibility',
            conditionalElem: '#conditional-no',
            shouldShow: function( value ){ return ( value === 'no' ); }
        });
        new ma.components.CharacterCount( '.govuk-character-count' );
    </script>
{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include "partials/heading.html" with text="Initial economic assessment" %}

    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.economic_assessment_eligibility.name }}" class="{% form_group_classes form.economic_assessment_eligibility.errors %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    {{ form.economic_assessment_eligibility.label }}
                </legend>

                {% form_field_error form "economic_assessment_eligibility" %}

                <div class="govuk-radios {{ form.economic_assessment_eligibility.name }} govuk-radios--conditional" data-module="radios">
                    {% for value, name in form.fields.economic_assessment_eligibility.choices %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="{{ form.economic_assessment_eligibility.name }}-{{ value }}" name="{{ form.economic_assessment_eligibility.name }}" type="radio" value="{{ value }}"{% if form.economic_assessment_eligibility.value == value %} checked="checked"{% endif %} data-aria-controls="conditional-{{ value }}" >
                            <label class="govuk-label govuk-radios__label" for="{{ form.economic_assessment_eligibility.name }}-{{ value }}">{{ name }}</label>
                        </div>

                        {% if value == "no" %}
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-{{ value }}">
                                <div class="{% form_group_classes form.wto_should_be_notified.errors %}">
                                    <fieldset class="govuk-fieldset">
                                        {% include "partials/forms/textarea.html" with field=form.economic_assessment_eligibility_summary character_count=True %}
                                    </fieldset>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </fieldset>
        </div>

        <button class="govuk-button">Continue</button>
        <a class="form-cancel" href="{% url 'barriers:assessment_detail' barrier.id %}">Cancel</a>
    </form>

{% endblock %}
