{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Edit end date{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Update the Barrier' %}
    {% form_error_banner form %}

    <form action="" method="POST">
        {% csrf_token %}

        <div id="{{ form.end_date.name }}" class="{% form_group_classes form.end_date.errors %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.end_date.label }}</legend>

                <span class="govuk-hint">{{ form.end_date.help_text }}</span>

                {% form_field_error form "end_date" %}

                <div class="govuk-date-input">
                    {{ form.end_date }}
                </div>
            </fieldset>
        </div>

        {% if barrier.end_date %}
            <div>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="clear" value="1">
                    Remove end date and exit to barrier
                </button>
            </div>
        {% endif %}

        <button class="govuk-button" data-module="govuk-button">Save and exit to barrier</button>
        <a class="form-cancel" href="{% url 'barriers:barrier_detail' barrier.id %}">Cancel</a>
    </form>

{% endblock %}
