{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Edit EU exit related{% endblock %}

{% block page_content %}

    <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-back-link">Back</a>
    {% include 'heading.html' with caption=object.barrier_title text='Related to the EU Exit' %}
    {% include 'partials/forms/error_summary.html' %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.eu_exit_related.name }}" class="govuk-form-group{% if form.errors %} govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.eu_exit_related.label }}</legend>

                {% if form.eu_exit_related.errors %}
                    <span class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{ form.eu_exit_related.errors.as_text }}
                    </span>
                {% endif %}

                <div class="govuk-radios">
                    {% for value, name in form.fields.eu_exit_related.choices %}
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="{{ forloop.counter }}" name="{{ form.eu_exit_related.name }}" type="radio" value="{{ value }}" {% if form.eu_exit_related.value == value %}checked="checked"{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="{{ forloop.counter }}">{{ name }}</label>
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
        </div>

        <input type="submit" value="Save and exit to barrier" class="govuk-button">
        <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-button button--secondary">Cancel</a>
    </form>

{% endblock %}
