{% extends "barriers/edit/base.html" %}
{% load govuk_forms %}

{% block page_title %}{{ block.super }} - Edit barrier location{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Edit barrier location' %}
    {% form_error_banner form %}

    <h3>Which location is affected by this issue?</h3>

    <div class="selection-list restrict-width">
        <h3 class="selection-list__heading">Selected location</h3>
        {% if country %}
            <p>{{ country.name }}</p>
        {% elif trading_bloc %}
            <p>{{ trading_bloc.name }}</p>
        {% endif %}
        <a href="{% url 'barriers:edit_country' barrier.id %}" class="govuk-button button--secondary selection-list__add-button"> Change location</a>
    </div>

    {% if form.fields.admin_areas.choices %}
        <h3> Which administrative areas in {{ country.name }} are affected by the barrier? </h3>

        <div class="selection-list restrict-width">
            <h3 class="selection-list__heading">Selected admin areas</h3>
            {% if admin_areas %}
                <ul class="selection-list__list">
                    {% for item in admin_areas %}
                        <li class="selection-list__list__item">
                            <span class="selection-list__list__item__number" data-number="{{ forloop.counter }}"></span>{{ item.name }}

                            <form action="{% url 'barriers:remove_admin_area' barrier.id %}" class="selection-list__list__item__remove-form" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="admin_area" value="{{ item.id }}">
                                {% action_remove_list_item forloop.counter item.name %}
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <a href="{% url 'barriers:add_admin_area' barrier.id %}" class="govuk-button button--secondary selection-list__add-button">Add another admin area</a>
        </div>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.trading_bloc }}
        {{ form.country }}
        {{ form.admin_areas }}
        <input type="submit" value="Save and return" class="govuk-button">
        <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-button button--secondary">Cancel</a>
    </form>

{% endblock %}
