{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Barrier - Edit priority{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Change priority of the barrier' %}
    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.priority.name }}" class="govuk-form-group{% if form.priority.errors %} govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.priority.label }}</legend>

                {% form_field_error form "priority" %}

                <div class="govuk-radios">
                    {% for value, name in form.fields.priority.choices %}
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="{{ form.priority.name }}-{{ forloop.counter }}" name="{{ form.priority.name }}" type="radio" value="{{ value }}" {% if form.priority.value == value %}checked="checked"{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="{{ form.priority.name }}-{{ forloop.counter }}"><span class="priority-marker priority-marker--{{ value|lower }}"></span>{{ name|safe }}</label>
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
        </div>

        <div id="{{ form.top_barrier.name }}" class="govuk-form-group{% if form.top_barrier.errors %} govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.top_barrier.label }}</legend>

                {% form_field_error form "top_barrier" %}

                <div class="govuk-radios">
                    {% for value, name in form.fields.top_barrier.choices %}
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="{{ form.top_barrier.name }}-{{ forloop.counter }}" name="{{ form.top_barrier.name }}" type="radio" value="{{ value }}" {% if form.top_barrier.value == value %}checked="checked"{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="{{ form.top_barrier.name }}-{{ forloop.counter }}">{{ name }}</label>
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
        </div>

        <div id="{{ form.priority_summary.name }}" class="govuk-form-group{% if form.priority_summary.errors %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="{{ form.priority_summary.name }}">{{ form.priority_summary.label }}</label>

            {% form_field_error form "priority_summary" %}

            <textarea class="govuk-textarea" id="{{ form.priority_summary.name }}" name="{{ form.priority_summary.name }}" rows="5">{% if form.description.value %}{{ form.priority_summary.value }}{% endif %}</textarea>
        </div>

        <input type="submit" value="Save and exit to barrier" class="govuk-button">
        <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-button button--secondary">Cancel</a>
    </form>

{% endblock %}
