{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Product, service or investment affected{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Product, service or investment affected' %}
    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.product.name }}" class="govuk-form-group{% if form.product.errors %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="{{ form.product.name }}">{{ form.product.label }}</label>

            {% form_field_error form "product" %}

            <input class="govuk-input" id="{{ form.product.name }}" name="{{ form.product.name }}" type="text" value="{% if form.product.value %}{{ form.product.value }}{% endif %}">
        </div>

        <input type="submit" value="Save and return" class="govuk-button">



    </form>

{% endblock %}
