{% extends "barriers/edit/base.html" %}
{% load govuk_forms %}

{% block page_title %}{{ block.super }} - Sectors affected by the barrier{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Sectors affected by the barrier' %}
    {% form_error_banner form %}

    <h3 class="report-sectors-heading">Save or add {% if sectors %}another{% else %}a{% endif %} sector</h3>

    <div class="selection-list restrict-width">
        <h3 class="selection-list__heading">Selected sectors</h3>
        {% if sectors %}
            {% include 'barriers/partials/sector_list.html' with sectors=sectors show_remove_links=True %}
        {% elif all_sectors %}
            <ul class="selection-list__list">
                <li class="selection-list__list__item">
                    <span class="selection-list__list__item__number" data-number="1"></span>All sectors
                    <form action="{% url 'barriers:remove_sector' barrier.id %}" class="selection-list__list__item__remove-form" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="sector" value="">
                        {% action_remove_list_item 1 "All sectors" %}
                    </form>
                </li>
            </ul>
        {% endif %}

        <a href="{% url 'barriers:add_sectors' barrier.id %}" id="add-sector-button" class="govuk-button button--secondary selection-list__add-button">Add specific sectors</a>

        {% if not all_sectors %}
        <a href="{% url 'barriers:add_all_sectors' barrier.id %}" class="govuk-button button--secondary selection-list__add-button">Select all sectors</a>
        {% endif %}
    </div>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Save and exit to barrier" class="govuk-button">
    </form>
{% endblock %}
