{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Edit source{% endblock %}

{% block body_script %}
    <script>
        ma.pages.barrier.edit.source();
    </script>
{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Edit barrier header' %}
    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.source.name }}" class="govuk-form-group{% if form.source.errors %} govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.source.label }}</legend>

                {% form_field_error form "source" %}

                <div class="govuk-radios source govuk-radios--conditional">
                    {% for value, name in form.fields.source.choices %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="{{ forloop.counter }}" name="{{ form.source.name }}" type="radio" value="{{ value }}" {% if form.source.value == value %}checked="checked"{% endif %}{% if value == "OTHER" %} data-aria-controls="conditional-OTHER"{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="{{ forloop.counter }}">{{ name }}</label>
                        </div>

                        {% if value == "OTHER" %}
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OTHER">
                                <div id="{{ form.other_source.name }}" class="govuk-form-group">
                                    <label class="govuk-label govuk-label--s" for="source-other">{{ form.other_source.label }}</label>

                                    {% form_field_error form "other_source" %}

                                    <input class="govuk-input" id="source-other" name="{{ form.other_source.name }}" type="text" value="{% if form.other_source.value %}{{ form.other_source.value }}{% endif %}">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </fieldset>
        </div>

        <input type="submit" value="Save and exit to barrier" class="govuk-button">
    </form>

{% endblock %}
