{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Edit source{% endblock %}

{% block body_script %}
    <script>
        ma.pages.barrier.edit.source();
    </script>
{% endblock %}

{% block page_content %}

    <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-back-link">Back</a>
    {% include 'heading.html' with caption=object.barrier_title text='Edit barrier header' %}
    {% include 'partials/forms/error_summary.html' %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.source.name }}" class="govuk-form-group{% if form.errors %} govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.source.label }}</legend>

                {% if form.source.errors %}
                    <span class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{ form.source.errors.as_text }}
                    </span>
                {% endif %}

                <div class="govuk-radios source govuk-radios--conditional">
                    {% for value, name in form.fields.source.choices %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="{{ forloop.counter }}" name="{{ form.source.name }}" type="radio" value="{{ value }}" {% if form.source.value == value %}checked="checked"{% endif %}{% if value == "OTHER" %} data-aria-controls="conditional-OTHER"{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="{{ forloop.counter }}">{{ name }}</label>
                        </div>

                        {% if value == "OTHER" %}
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OTHER">
                                <div id="{{ form.other_source.name }}" class="govuk-form-group">
                                    <label class="govuk-label govuk-label--s" for="source-other">{{ form.other_source.label }}</label>

                                    {% if form.other_source.errors %}
                                        <span class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>
                                            {{ form.other_source.errors.as_text }}
                                        </span>
                                    {% endif %}

                                    <input class="govuk-input" id="source-other" name="{{ form.other_source.name }}" type="text" value="{% if form.other_source.value %}{{ form.other_source.value }}{% endif %}">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </fieldset>
        </div>

        <input type="submit" value="Save and exit to barrier" class="govuk-button">
    </form>

{% endblock %}
