{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Add start date{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Add start date' %}

    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.start_date.name }}" class="{% form_group_classes form.start_date.errors %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.start_date.label }}</legend>
                <span class="govuk-hint">{{ form.start_date.help_text }}</span>
                <div class="govuk-warning-text govuk-!-margin-bottom-0 govuk-!-margin-top-2" id="erd-requires-approval-warning" style="display:none;">
                    <span class="govuk-warning-text__icon govuk-warning-text__icon--small mt-2" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text govuk-warning-text__text--medium">
                        The Barrier Start date
                    </strong>
                </div>
                {% form_field_error form "start_date" %}
                <div class="govuk-date-input">
                    {{ form.start_date }}
                </div>
            </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Save and return</button>
        <a class="form-cancel" href="{% url 'barriers:barrier_detail' barrier.id %}">Cancel</a>
    </form>

{% endblock %}
