{% extends 'base.html' %}

{% block page_title %}{{ block.super }} - Edit status{% endblock %}

{% block page_content %}

    <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-back-link">Back</a>
    {% include 'partials/heading.html' with caption=object.barrier_title text='Barrier status' %}
    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        {% if object.is_resolved or object.is_partially_resolved %}
            <div id="{{ form.status_date.name }}" class="govuk-form-group{% if form.status_date.errors %} govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset" {% if form.status_date.errors %}aria-desribedby="status-date-group-error"{% endif %} role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Date the barrier was resolved</legend>

                    {% form_field_error form "status_date" %}

                    <div class="govuk-date-input" id="status-date-group">
                        {{ form.status_date }}
                    </div>
                </fieldset>
            </div>
        {% endif %}

        <div id="{{ form.status_summary.name }}" class="govuk-form-group{% if form.status_summary.errors %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="status_summary">{{ form.status_summary.label }}</label>

            {% form_field_error form "status_summary" %}

            <textarea class="govuk-textarea{% if form.status_summary.errors %} govuk-textarea--error{% endif %}" id="status_summary" name="status_summary" rows="5">{% if form.status_summary.value %}{{ form.status_summary.value }}{% endif %}</textarea>
        </div>

        <input type="submit" value="Save and exit to barrier" class="govuk-button">
        <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-button button--secondary">Cancel</a>
    </form>

{% endblock %}
