{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Edit summary{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='About the barrier' %}
    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.summary.name }}" class="govuk-form-group{% if form.summary.errors %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="summary">{{ form.summary.label }}</label>

            {% form_field_error form "summary" %}

            <textarea class="govuk-textarea" name="summary" rows="5">{% if form.summary.value %}{{ form.summary.value }}{% endif %}</textarea>
        </div>

        <div id="{{ form.is_summary_sensitive.name }}" class="govuk-form-group{% if form.is_summary_sensitive.errors %} govuk-form-group--error{% endif %}">

            {% form_field_error form "is_summary_sensitive" %}

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        {{ form.is_summary_sensitive.label }}
                    </legend>

                    <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              What is OFFICIAL-SENSITIVE information?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>The OFFICIAL classification is used for most Government business and public service delivery. OFFICIAL-SENSITIVE applies where loss or disclosure would:</p>
                            <ul class="govuk-details__list">
                                <li>have damaging consequences for DIT and the government</li>
                                <li>cause significant distress for an individual or group of people, such as sensitive personal information</li>
                            </ul>

                            <p>OFFICIAL-SENSITIVE includes:</p>
                            <ul class="govuk-details__list">
                                <li>sensitive or damaging contractual issues</li>
                                <li>sensitive diplomatic business or international trade negotiations</li>
                                <li>sensitive personal information, such as grievance cases</li>
                                <li>sensitive corporate information such as organisational restructuring, negotiations and major security or business continuity issues</li>
                                <li>information relating to sensitive trade negotiations</li>
                                <li>corporate information relating to contract negotiations and tender exercises</li>
                                <li>company accounts</li>
                                <li>procurement relating specifically to the security of DIT</li>
                                <li>policy development and advice to ministers on contentious or sensitive issues</li>
                            </ul>

                            <h4 class="govuk-details__heading">Further information</h4>
                            <p>If you can access Digital Workspace please visit <a href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/information-classification-and-handling">Information classification and data handling</a>.</p>
                        </div>
                    </details>

                    <div class="govuk-radios">
                        {% for value, name in form.fields.is_summary_sensitive.choices %}
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="{{ form.is_summary_sensitive.name }}-{{ value }}" name="{{ form.is_summary_sensitive.name }}" type="radio" value="{{ value }}"{% if form.is_summary_sensitive.value == value %} checked="checked"{% endif %}>
                                <label class="govuk-label govuk-radios__label" for="{{ form.is_summary_sensitive.name }}-{{ value }}">{{ name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
        </div>

        <input type="submit" value="Save and exit to barrier" class="govuk-button">
        <a class="form-cancel" href="{% url 'barriers:barrier_detail' barrier.id %}">Cancel</a>
    </form>

{% endblock %}
