{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Edit tags{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Edit tags' %}
    {% form_error_banner form %}

    <form method="POST" class="restrict-width">
        {% csrf_token %}

        <h3>{{ form.tags.label }}</h3>

        <div id="{{ form.tags.name }}" class="govuk-form-group {% if form.tags.errors %} govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
                {% form_field_error form "tags" %}

                <div class="govuk-checkboxes">
                    {% for value, name, help_text in form.fields.tags.choices %}
                        <div class="govuk-checkboxes__item {% if name in form.deprecated_tags %}hidden-tag{% endif %}">
                            <input class="govuk-checkboxes__input" id="tag-{{ value }}" name="{{ form.tags.name }}" type="checkbox" value="{{ value }}"  {% if value in form.tags.value %}checked="checked"{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="tag-{{ value }}">{{ name }}</label>
                            <span id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                              {{ help_text }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
        </div>

        {% if current_user|has_permission:"set_topprioritybarrier" %}
            <div id="{{ form.top_barrier.name }}" class="govuk-form-group{% if form.top_barrier.errors %} govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.top_barrier.label }}</legend>

                    {% form_field_error form "top_barrier" %}

                    <div class="govuk-radios">
                        {% for value, name in form.fields.top_barrier.choices %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="{{ form.top_barrier.name }}-{{ forloop.counter }}" name="{{ form.top_barrier.name }}" type="radio" value="{{ value }}" {% if form.top_barrier.value == value %}checked="checked"{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="{{ form.top_barrier.name }}-{{ forloop.counter }}">{{ name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
        {% endif %}

        <input type="submit" value="Save and return" class="govuk-button">

        <a class="form-cancel" href="{% url 'barriers:barrier_detail' barrier.id %}">Cancel</a>
    </form>
{% endblock %}
