{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Edit barrier scope{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Edit barrier scope' %}
    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.term.name }}" class="govuk-form-group{% if form.term.errors %} govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ form.term.label }}</legend>

                {% form_field_error form "term" %}

                <div class="govuk-radios">
                    {% for value, name, help_text in form.fields.term.choices %}
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="{{ forloop.counter }}" name="{{ form.term.name }}" type="radio" value="{{ value }}" {% if form.term.value == value %}checked="checked"{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="{{ forloop.counter }}">{{ name }}</label>
                        <span id="{{ forloop.counter }}-item-hint" class="govuk-hint govuk-radios__hint">{{ help_text }}</span>
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
        </div>

        <input type="submit" value="Save and return" class="govuk-button">
    </form>

{% endblock %}
