{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Edit title{% endblock %}

{% block body_script %}
    <script>
        ma.pages.barrier.edit.title();
    </script>
{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Edit title' %}
    {% form_error_banner form %}

    <form action="" method="POST" class="restrict-width">
        {% csrf_token %}

        <div id="{{ form.title.name }}" class="govuk-form-group{% if form.title.errors %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="{{ form.title.name }}">{{ form.title.label }}</label>

            <span id="{{ form.title.name }}-hint" class="govuk-hint">{{ form.title.help_text }}</span>

            {% form_field_error form "title" %}

            <input class="govuk-input" name="{{ form.title.name }}" type="text" value="{% if form.title.value %}{{ form.title.value }}{% endif %}" aria-describedby="{{ form.title.name }}-hint">
        </div>

        <input type="submit" value="Save and exit to barrier" class="govuk-button">
        <a href="{% url 'barriers:barrier_detail' object.id %}" class="govuk-button button--secondary">Cancel</a>
    </form>

{% endblock %}
