{% extends "barriers/edit/base.html" %}

{% block page_title %}{{ block.super }} - Barrier - Edit Trade Direction{% endblock %}

{% block back_link %}
    <a href="{% url 'barriers:barrier_detail' barrier.id %}" class="govuk-back-link ma-back-link">Back</a>
{% endblock %}

{% block page_content %}

    {% include 'partials/heading.html' with text='Trade direction' %}
    {% form_error_banner form %}

    <form method="POST" class="restrict-width">
        {% csrf_token %}

        <h3>{{ form.trade_direction.label }}</h3>

        <div id="{{ form.trade_direction.name }}" class="{% form_group_classes form.errors %}">
            <fieldset class="govuk-fieldset">
                {% form_field_error form "trade_direction" %}

                <div class="govuk-radios trade-direction">
                {% for choice_id, choice_label in form.fields.trade_direction.choices %}
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input"
                               name="trade_direction"
                               type="radio"
                               id="trade-direction-{{ choice_id }}"
                               value="{{ choice_id }}"
                               aria-describedby="{{ choice_id }}-item-hint"
                               {% if form.initial.trade_direction == choice_id %}checked="checked"{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="trade-direction-{{ choice_id }}">
                            {{ choice_label }}
                        </label>
                    </div>
                {% endfor %}
                </div>
            </fieldset>
        </div>

        <input type="submit" value="Save changes" class="govuk-button">
        <a class="form-cancel" href="{% url 'barriers:barrier_detail' barrier.id %}">Cancel</a>
    </form>
{% endblock %}
