<form action="" method="POST" class="restrict-width">
    {% csrf_token %}

    <div class="{% form_group_classes form.value.errors %}">
        <label class="govuk-label govuk-label--s" for="value">
            {{ form.value.label }}
        </label>

        {% if form.value.help_text %}
            <span id="value-hint" class="govuk-hint">
                {{ form.value.help_text }}
            </span>
        {% endif %}

        {% form_field_error form "value" %}

        <div class="currency-input">
            <span class="currency-input__prefix" title="GBP">&pound;</span>
            <div class="currency-input__value">
                <input class="currency-input__value__input govuk-input govuk-input--currency{% if form.value.errors %} govuk-input--error{% endif %}"
                       name="value" type="text" aria-describedby="value-hint"
                       {% if form.value.value %}value="{{ form.value.value }}"{% endif %}>
            </div>
        </div>
    </div>


    <input type="submit" value="Save and exit to barrier" class="govuk-button">
    <a href="{% url 'barriers:assessment_detail' barrier.id %}" class="form-cancel">Cancel</a>
</form>
