@function tint( $color, $percentage ){
	@return mix( white, $color, $percentage );
}

@function shade( $color, $percentage ){
	@return mix( black, $color, $percentage );
}

$govuk-red: govuk-colour( 'red' );
$govuk-red-5: tint( govuk-colour( 'red' ), 95 );
$govuk-bright-red: govuk-colour( 'bright-red' );
$govuk-black: govuk-colour( 'black' );
$govuk-grey-1: govuk-colour( 'grey-1' );
$govuk-grey-2: govuk-colour( 'grey-2' );
$govuk-grey-3: govuk-colour( 'grey-3' );
$govuk-grey-4: govuk-colour( 'grey-4' );

$govuk-orange-aa: #F46A25;
$govuk-orange: $govuk-orange-aa;
$govuk-orange-10: tint( $govuk-orange, 90 );

$govuk-green: govuk-colour( 'green' );
$govuk-green-10: tint( $govuk-green, 90 );
$govuk-green-15: tint( $govuk-green, 85 );
$govuk-green-25: tint( $govuk-green, 75 );

$govuk-yellow: (govuk-colour( 'yellow' ));
$govuk-yellow-25: tint( govuk-colour( 'yellow' ), 75 );
$govuk-yellow-10: tint( govuk-colour( 'yellow' ), 90 );
$govuk-fuchsia: govuk-colour( 'bright-purple' );
$govuk-fuchsia-50: tint( govuk-colour( 'bright-purple' ), 50 );
$govuk-fuchsia-10: tint( govuk-colour( 'bright-purple' ), 90 );
$govuk-white: govuk-colour( 'white' );
$govuk-blue: govuk-colour( 'blue' );
$govuk-blue-15: tint( $govuk-blue, 85 );

$priority-high: govuk-colour( 'bright-red' );
$priority-medium: govuk-colour( 'orange' );
$priority-low: govuk-colour( 'yellow' );
$priority-unknown: $govuk-grey-2;

$focus-colour: $govuk-yellow;
$secondary-text-colour: tint( $govuk-black, 25 );
