:root {
  box-sizing: border-box;
  font-family: system, sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 80ch;
  width: calc(100% - 4rem);
}

body {
  margin: 0;
  padding: 2rem 0;
}

textarea {
  font: inherit;
  height: 7rem;
  width: 100%;
  padding: .8rem 1rem
}

.menu {
  background-color: #f3f3f3;
  position: absolute;
}

.menu-item {
  cursor: default;
  padding: 1rem;
}

.menu-item.selected {
  background-color: slateGray;
  color: white;
}

.menu-item:hover:not(.selected) {
  background-color: #fafafa;
}
