.ma-badge {
    padding: govuk-em(8, 16);
    font-size: 11px;
    text-transform: uppercase;
    background-color: $govuk-dark-grey;
    color: $govuk-white;
    display: inline-block;
    margin-right: govuk-em(4, 16);
    font-weight: bold;
    text-decoration: none;

    &:link,
    &:visited,
    &:active,
    &:hover {
        color: $govuk-white;
        text-decoration: none;
    }

    &:focus {
        outline: none;
        color: $govuk-black;
    }

    &--new {
        background-color: $govuk-green;
    }

    &--updated {
        background-color: $govuk-orange;
    }

    &--in-tab {
        background-color: #fcd6c3;
        color: #6e3619;
        text-transform: none;
        font-size: 16px;
        margin-left: govuk-em(8, 16);
        padding: govuk-em(4, 16) govuk-em(8, 16);
        line-height: 1;

        &:hover {
            color: #6e3619;
        }
    }

    &--attention{
        background-color: $govuk-red;
    }

    &--completed{
        background-color: $govuk-light-blue;
    }

    &--in-progress{
        background-color: $govuk-blue;
    }

    &--no-started{
        background-color: $govuk-orange;
    }

    &--profile {
        $badge-circle-size: 15px;

        background-color: $govuk-green;
        width: $badge-circle-size;
        height: $badge-circle-size;
        border-radius: $badge-circle-size;
        text-align: center;
        line-height: $badge-circle-size;
    }

}

.profile {
    font-weight: inherit;
}
