.dash-table {
    margin-top: 30px;
    border: $govuk-border-colour 1px solid;

    .table {
        border: $govuk-border-colour 1px solid;


    }

    &__caption {
        padding: 20px 0;

    }

    &__chart {
        padding: 20px 0;

    }







}