$dash-button-width: 290px;
$dash-button-margin: 30px;

$dash-button-from-tablet-width: (
    ($dash-button-width * 2) + $dash-button-margin + 60px
);
$dash-button-from-desktop-width: (
    ($dash-button-width * 3) + ($dash-button-margin * 2) + 60px
);
$tablet-width: mq-get-breakpoint-width(tablet, $mq-breakpoints);
$desktop-width: mq-get-breakpoint-width(desktop, $mq-breakpoints);

@if $dash-button-from-tablet-width < $tablet-width {
    $dash-button-from-tablet-width: $tablet-width;
}

@if $dash-button-from-desktop-width < $desktop-width {
    $dash-button-from-desktop-width: $desktop-width;
}

.dash-buttons-cards-container {
    display: flex;

    @include mq($until: $dash-button-from-desktop-width ) {
        flex-direction: column;
    }
}

.dash-button {
    @extend .govuk-button;
    @extend .govuk-button--start;
    text-align: left;
    background-image: none;
    padding: govuk-em(15, 24) govuk-em(13, 24);
    box-sizing: border-box;
    width: 100%;
    min-height: govuk-em((100 - 30), 16);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include mq($from: $dash-button-from-tablet-width ) {
        width: $dash-button-width;
    }

    @include mq($from: $dash-button-from-desktop-width ) {
        margin-left: $dash-button-margin;
    }

    &:first-of-type {
        margin-left: 0;
    }
}

.dash-button__heading {
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right: govuk-em(45, 24);
    display: table;
}

.dash-button__text {
    @include govuk-font($size: 14);
    display: block;
    padding-top: govuk-em(10, 14);
}

/* Dashboard Toggle switch */

.dashboard-banner {

    @include mq($from: $dash-button-from-tablet-width ) {

        text-align: right;
        margin-top: -120px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    margin-left: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1D70B8;
}

input:focus+.slider {
    box-shadow: 0 0 1px #1D70B8;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
