$dash-button-width: 290px;
$dash-button-margin: 30px;

$dash-button-from-tablet-width: (
	($dash-button-width * 2) + $dash-button-margin + 60px
);
$dash-button-from-desktop-width: (
	($dash-button-width * 3) + ($dash-button-margin * 2) + 60px
);
$tablet-width: mq-get-breakpoint-width(tablet, $mq-breakpoints);
$desktop-width: mq-get-breakpoint-width(desktop, $mq-breakpoints);

@if $dash-button-from-tablet-width < $tablet-width {
	$dash-button-from-tablet-width: $tablet-width;
}

@if $dash-button-from-desktop-width < $desktop-width {
	$dash-button-from-desktop-width: $desktop-width;
}

.dash-buttons-cards-container {
	display: flex;

	@include mq($until: $dash-button-from-desktop-width ) {
		flex-direction: column;
	}
}

.dash-button {
	@extend .govuk-button;
	@extend .govuk-button--start;
	text-align: left;
	background-image: none;
	padding: govuk-em(15, 24) govuk-em(13, 24);
	box-sizing: border-box;
	width: 100%;
	min-height: govuk-em((100 - 30), 16);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	@include mq($from: $dash-button-from-tablet-width ) {
		width: $dash-button-width;
	}

	@include mq($from: $dash-button-from-desktop-width ) {
		margin-left: $dash-button-margin;
	}

	&:first-of-type {
		margin-left: 0;
	}
}

.dash-button__heading {
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: govuk-em(45, 24);
	display: table;
}

.dash-button__text {
	@include govuk-font($size: 14);
	display: block;
	padding-top: govuk-em(10, 14);
}