.ma-data-key {
    font-weight: bold;
    font-size: 19px;
    &--s {
        font-size: 16px;
    }
}

.ma-data-value {
    margin: 0 0 govuk-em( 16, 16 );
    font-size: 19px;
    p {
        margin-top: 0;
    }
    &--s {
        font-size: 16px;
    }
}
