.env-banner {
  width: 100%;
  padding-right: 30px;
  background-color: #cccccc;
  font-size: 24px;
  font-weight: normal;
  line-height: 50px;
  text-align: center;
  opacity: 0.95;
  color: white;
  // z-index: 999;
  box-sizing: border-box;

  &.env-banner-dev {
    background-color: #3c5cff;
    color: #F2F2F2;
  }

  &.env-banner-uat {
    background-color: #FF69B4;
    color: #0b0c0c;
  }

  .env-banner__dismiss {
    float: right;
    color: #F2F2F2 !important;
    text-decoration: none;
    &.env-banner__dismiss--uat {
      color: #0b0c0c !important;
    }
  }

}
