.govuk-notification-banner{
    display: inline-block;
    border: 5px solid #1D70B8;
    padding: 0;
    margin-bottom: 42px;

    &__header{
        background: #1D70B8;
        color: white;
        padding: 5px 25px 7px;
        margin: -1px;
    }
    &__title{
        margin: 0;
        font-weight: 700;
        font-size: 19px;
        line-height: 24px;
    }
    &__content{
        background: #fff;
        padding: 15px 25px 17px;
    }
    &__heading{
        margin: 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    &__link{
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        text-decoration-line: underline;
        color: #1D70B8;
    }
}
