.search-form__input-group {
	position: relative;
	margin-bottom: govuk-spacing(4);
}

.search-form__input {
	width: 85%;
	display: inline-block;
}

.search-form__button {
	display: inline-block;
	min-width: 14%;
	float: right;
}
