.search-form__input-group {
	position: relative;
}

.search-form__input {
	width: 85%;
	display: inline-block;
}

.search-form__button {
	display: inline-block;
	min-width: 14%;
}

.search-form__hidden {
	display: none,
}
