.textarea-with-mentions {
  .govuk-mentions {
    display: block;

    margin-bottom: 35px;
    background: white;
    padding: 10px;
    line-height: 20.5px;
    box-sizing: border-box;

    textarea.govuk-textarea {
      background-color: white;
      padding: 10px;
      box-sizing: border-box;
    }

    .govuk-mentions__control {
      background-color: white;
      min-height: 130px;
    }

    .govuk-mentions__highlighter {
      strong {
        color: #f47738;
        z-index: 1;
        position: relative;
      }
    }

    .dmas-autocomplete-item {
      padding: 14px;

      .dmas-autocomplete-name {
        font-weight: bold;
      }
    }

    .dmas-autocomplete__suggestions {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-top: 35px;

      &__item {
        border-bottom: 1px solid #ddd;
      }
    }

  }
}

.dmas_autocomplete_wrapper {
  display: block;

  margin-bottom: 35px;
  background: white;
  padding: 10px;
  line-height: 20.5px;
  box-sizing: border-box;

  .dmas-autocomplete__suggestions {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &__item {
      border-bottom: 1px solid #ddd;
      padding: govuk-spacing(2);
      margin-bottom: 0;
    }

    .dmas-autocomplete__name {
      font-weight: bold;
    }

    .focused {
      color: $govuk-focus-text-colour;
      background-color: $govuk-focus-colour;
    }
  }
}


.mention-highlight {
  color: $govuk-bright-purple;
  font-weight: normal;

  &__me {
    font-weight: bold;
  }
}
