on:
  push:

jobs:
  generate_some_code:
    name: Generate some code!
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
       - name: Do the code!
         run: ../../actions/generate-requirements-txt.sh
